﻿@model tmkhogares.Models.PlanTrabajoTeam.SeguimientoTeam

@{
    ViewBag.Title = "Create";
}

@{
	ViewBag._Active = "Create";
	ViewBag._Panel = "Create";
}



<br />
<br />
<div class=" segment">
    <h1 class="ui header">
        <img src="~/Content/images/logo1.png">
        <div class="content">
            Módulo  de creación de SeguimientoTeam
            <div class="sub header">
                <div class="ui breadcrumb">
                    <a class="section"  href="@Url.Action("HomeAdmin","Home")">Inicio</a>
                    <div class="divider"> / </div>
                    <a class="section" href="@Url.Action("Index")">Listar</a>
                    <div class="divider"> / </div>
                    <div class="active section" style="text-transform:lowercase">Creación de SeguimientoTeam</div>
                </div>
            </div>
        </div>

    </h1>
    <div class="ui hidden divider"></div>

</div>

<h4 class="ui horizontal divider header">
    <button class="ui  large red submit button">
        <i class="computer icon"></i>
        CREAR SeguimientoTeam
    </button>

</h4>


<div class="ui grid">
    <div class="one wide column"></div>
    <div class="fourteen wide column">
        <div class="ui segments">
            <div class="ui teal segment">
				@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "ui large form", autofocus = "" })) 
				{
					@Html.AntiForgeryToken()
								@Html.ValidationSummary(true, "", new { @class = "text-danger" })
													<div class="field">
											@Html.LabelFor(model => model.MetaPromedio, htmlAttributes: new { @class = "" })
											
					<div class="ui mini icon input">
	@Html.EditorFor(model => model.MetaPromedio, new { htmlAttributes = new { @class = "" } })
	<i class="keyboard outline outline icon"></i>
</div>
								

				
																@Html.ValidationMessageFor(model => model.MetaPromedio, "", new { @class = "ui error message" })
															</div>

										<div class="field">
											@Html.LabelFor(model => model.PromedioSemana1, htmlAttributes: new { @class = "" })
											
					<div class="ui mini icon input">
	@Html.EditorFor(model => model.PromedioSemana1, new { htmlAttributes = new { @class = "" } })
	<i class="keyboard outline outline icon"></i>
</div>
								

				
																@Html.ValidationMessageFor(model => model.PromedioSemana1, "", new { @class = "ui error message" })
															</div>

										<div class="field">
											@Html.LabelFor(model => model.PromedioSemana2, htmlAttributes: new { @class = "" })
											
					<div class="ui mini icon input">
	@Html.EditorFor(model => model.PromedioSemana2, new { htmlAttributes = new { @class = "" } })
	<i class="keyboard outline outline icon"></i>
</div>
								

				
																@Html.ValidationMessageFor(model => model.PromedioSemana2, "", new { @class = "ui error message" })
															</div>

										<div class="field">
											@Html.LabelFor(model => model.PromedioSemana3, htmlAttributes: new { @class = "" })
											
					<div class="ui mini icon input">
	@Html.EditorFor(model => model.PromedioSemana3, new { htmlAttributes = new { @class = "" } })
	<i class="keyboard outline outline icon"></i>
</div>
								

				
																@Html.ValidationMessageFor(model => model.PromedioSemana3, "", new { @class = "ui error message" })
															</div>

										<div class="field">
											@Html.LabelFor(model => model.PromedioSemana4, htmlAttributes: new { @class = "" })
											
					<div class="ui mini icon input">
	@Html.EditorFor(model => model.PromedioSemana4, new { htmlAttributes = new { @class = "" } })
	<i class="keyboard outline outline icon"></i>
</div>
								

				
																@Html.ValidationMessageFor(model => model.PromedioSemana4, "", new { @class = "ui error message" })
															</div>

										<div class="field">
											@Html.LabelFor(model => model.DiasAntiguo, htmlAttributes: new { @class = "" })
											
					<div class="ui mini icon input">
	@Html.EditorFor(model => model.DiasAntiguo, new { htmlAttributes = new { @class = "" } })
	<i class="keyboard outline outline icon"></i>
</div>
								

				
																@Html.ValidationMessageFor(model => model.DiasAntiguo, "", new { @class = "ui error message" })
															</div>

										<div class="field">
											@Html.LabelFor(model => model.PorcentajeCumplimiento, htmlAttributes: new { @class = "" })
											
					<div class="ui mini icon input">
	@Html.EditorFor(model => model.PorcentajeCumplimiento, new { htmlAttributes = new { @class = "" } })
	<i class="keyboard outline outline icon"></i>
</div>
								

				
																@Html.ValidationMessageFor(model => model.PorcentajeCumplimiento, "", new { @class = "ui error message" })
															</div>

										<div class="field">
											@Html.LabelFor(model => model.PorcentajeAusentismo, htmlAttributes: new { @class = "" })
											
					<div class="ui mini icon input">
	@Html.EditorFor(model => model.PorcentajeAusentismo, new { htmlAttributes = new { @class = "" } })
	<i class="keyboard outline outline icon"></i>
</div>
								

				
																@Html.ValidationMessageFor(model => model.PorcentajeAusentismo, "", new { @class = "ui error message" })
															</div>

										<div class="field">
											@Html.LabelFor(model => model.Evolucion, htmlAttributes: new { @class = "" })
											
					<div class="ui mini icon input">
	@Html.EditorFor(model => model.Evolucion, new { htmlAttributes = new { @class = "" } })
	<i class="keyboard outline outline icon"></i>
</div>
								

				
																@Html.ValidationMessageFor(model => model.Evolucion, "", new { @class = "ui error message" })
															</div>

										<div class="field">
											@Html.LabelFor(model => model.NotaCalidad, htmlAttributes: new { @class = "" })
											
					<div class="ui mini icon input">
	@Html.EditorFor(model => model.NotaCalidad, new { htmlAttributes = new { @class = "" } })
	<i class="keyboard outline outline icon"></i>
</div>
								

				
																@Html.ValidationMessageFor(model => model.NotaCalidad, "", new { @class = "ui error message" })
															</div>

										<div class="field">
											@Html.LabelFor(model => model.RetroAlimentacion, htmlAttributes: new { @class = "" })
											
					<div class="ui mini icon input">
	@Html.EditorFor(model => model.RetroAlimentacion, new { htmlAttributes = new { @class = "" } })
	<i class="keyboard outline outline icon"></i>
</div>
								

				
																@Html.ValidationMessageFor(model => model.RetroAlimentacion, "", new { @class = "ui error message" })
															</div>

										<div class="field">
											@Html.LabelFor(model => model.Compromiso, htmlAttributes: new { @class = "" })
											
					<div class="ui mini icon input">
	@Html.EditorFor(model => model.Compromiso, new { htmlAttributes = new { @class = "" } })
	<i class="keyboard outline outline icon"></i>
</div>
								

				
																@Html.ValidationMessageFor(model => model.Compromiso, "", new { @class = "ui error message" })
															</div>

										<div class="field">
											@Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "" })
											
													<div class="checkboxclass">
				<select name="Status" class="ui search selection dropdown">
        <option value="true">Activo</option>
        <option value="false">Inactivo</option>
    </select>
    				
    																@Html.ValidationMessageFor(model => model.Estado, "", new { @class = "ui error message" })
    																</div>
											</div>

										<div class="field">
											@Html.LabelFor(model => model.AsesorId, "AsesorId", htmlAttributes: new { @class = "" })
											
																	@Html.DropDownList("AsesorId", null , "Sin Seleccionar", htmlAttributes: new { @class = "ui search selection dropdown" })
																				@Html.ValidationMessageFor(model => model.AsesorId, "", new { @class = "ui error message" })
															</div>

										<div class="field">
											@Html.LabelFor(model => model.PlanTrabajoTeamId, "PlanTrabajoTeamId", htmlAttributes: new { @class = "" })
											
																	@Html.DropDownList("PlanTrabajoTeamId", null , "Sin Seleccionar", htmlAttributes: new { @class = "ui search selection dropdown" })
																				@Html.ValidationMessageFor(model => model.PlanTrabajoTeamId, "", new { @class = "ui error message" })
															</div>

				
						<div class="field">
							<br />
							<input type="submit" value="Crear" class="ui  large red submit button" />
								@Html.ActionLink("Regresar", "Index",null,new { @class = "ui button" })
						</div>
				}
            </div>
        </div>
    </div>
</div>

