﻿@using Core.Models.User
@model IEnumerable<tmkhogares.Models.PlanTrabajoTeam.SeguimientoTeam>

@{

    ViewBag.Title = "Index";
}

@{
    ViewBag._Active = "Index";
    ViewBag._Panel = "Home";
}




<br />
<br />
<div class=" segment">
    <h1 class="ui header">
        <img src="~/Content/images/logo1.png">
        <div class="content">
            Módulo  de Lista  de SeguimientoTeam
            <div class="sub header">
                <div class="ui breadcrumb">
                    <a class="section" href="@Url.Action("HomeAdmin","Home")">Inicio</a>
                    <div class="divider"> / </div>
                    <div class="active section" style="text-transform:lowercase">Lista  de SeguimientoTeam</div>
                </div>
            </div>
        </div>
    </h1>
    <div class="ui hidden divider"></div>
    @*<form action="" method="get">

        <a href="@Url.Action("create")" class="ui download teal button">
            CREAR NUEVO
        </a>

        <div class="ui action input">
            <input type="text" name="Name" placeholder="Nombre" value="@ViewBag.FName">
            <button class="ui icon button" id="btnCon">
                <i class="search icon"></i>
            </button>
        </div>

    </form>*@
</div>


<h4 class="ui horizontal divider header">
    @if (ViewBag.seguimientoAsesor1 == null)
    {
        <form action="SeguimientoTeams/CrearSeguimiento" method="post">
            <input type="hidden" name="PlanTrabajoTeamId" value="@ViewBag.PlanTrabajo.Id" />
            <button class="ui button purple" type="submit">Iniciar Seguimiento</button>
        </form>
    }
    @if (ViewBag.seguimientoAsesor4 == null && ViewBag.seguimientoAsesor1 != null)
    {
        <form action="SeguimientoTeams/CrearSeguimiento" method="post">
            <input type="hidden" name="PlanTrabajoTeamId" value="@ViewBag.PlanTrabajo.Id" />
            <button class="ui button purple" type="submit">Continuar Seguimiento</button>
        </form>
    }

</h4>



<div class="ui grid">
    <div class="one wide column"></div>
    @if (ViewBag.PromedioAsesor != null)
    {
        <div class="fourteen wide column">
            <div class="ui segments">
                <div class="ui grid purple segment center aligned">
                    <br />
                    <h2>Asignacion de la meta del mes actual</h2>
                    <div class="ui divider"></div>
                    @if (ViewBag.Error != null)
                    {
                        <div class="one column row">
                            <div class="ui negative message">
                                <i class="close icon"></i>
                                <div class="header">
                                    @ViewBag.Error
                                </div>
                            </div>
                        </div>
                    }
                    <input type="hidden" id="MetaMensualCampana" value="@ViewBag.MetaMensual" />
                    <div class="six column row">
                        <div class="column">
                            <b>Meta Mes Actual</b>
                            <br />
                            <div class="ui  icon input">
                                <input type="text" disabled="disabled" name="MetaMesActual" value="@ViewBag.MetaMensual" />
                            </div>
                            <input type="hidden" name="teamId" id="teamId" value="@ViewBag.TeamId" />
                            <input type="hidden" name="TeamLeaderId" id="TeamLeaderId" value="@ViewBag.TeamLeaderId" />
                            <input type="hidden" name="PlanTrabajoId" id="PlanTrabajoId" value="@ViewBag.PlanTrabajo.Id" />
                            <input type="hidden" name="SeguimientoId1" id="SeguimientoId1" value="@ViewBag.PlanTrabajo.SeguimientoSemana1" />
                            <input type="hidden" name="SeguimientoId2" id="SeguimientoId2" value="@ViewBag.PlanTrabajo.SeguimientoSemana2" />
                            <input type="hidden" name="SeguimientoId3" id="SeguimientoId3" value="@ViewBag.PlanTrabajo.SeguimientoSemana3" />
                            <input type="hidden" name="SeguimientoId4" id="SeguimientoId4" value="@ViewBag.PlanTrabajo.SeguimientoSemana4" />
                        </div>
                        <div class="column">
                            <b>Fecha Inicio</b>
                            <br />
                            <div class="ui  icon input">
                                <input type="text" disabled name="MetaMensual" id="MetaMensual" value="@ViewBag.PlanTrabajo.CreatedAt" />
                                <i class="keyboard outline outline icon"></i>
                            </div>
                        </div>
                        <div class="column">
                            <b> Meta Mensual</b>
                            <br />
                            <div class="ui  icon input">
                                <input type="text" disabled name="MetaMensual" id="MetaMensual" value="@ViewBag.PlanTrabajo.MetaMensual" />
                                <i class="keyboard outline outline icon"></i>
                            </div>
                        </div>
                        <div class="column">
                            <b> Dias Mes</b>
                            <br />
                            <div class="ui icon input">
                                <input type="text" disabled name="DiasMes" id="DiasMes" value="@ViewBag.PlanTrabajo.DiasMes" />

                                <i class="keyboard outline outline icon"></i>
                            </div>
                        </div>
                        <div class="column">
                            <b> Dias Semana</b>
                            <br />

                            <div class="ui  icon input">
                                <input type="text" disabled name="DiasSemana" id="DiasSemana" value="@ViewBag.PlanTrabajo.DiasSemana" />

                                <i class="keyboard outline outline icon"></i>
                            </div>
                        </div>
                        <div class="column">
                            <b>Meta Semanal</b>
                            <br />

                            <div class="ui  icon input">
                                <input type="text" disabled="disabled" name="MetaSemanal" id="MetaSemanal" value="" />

                                <i class="keyboard outline outline icon"></i>
                            </div>
                        </div>
                        <div class="column">
                            <b>Meta Promedio Dia</b>
                            <br />
                            <div class="ui  icon input">
                                <input type="text" disabled="disabled" name="MetaPromedioDia" id="MetaPromedioDia" value="" />
                                <i class="keyboard outline outline icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="two column row">
                        <div class="column">
                            <b> Comentarios Seguimiento Gerente</b>
                            <br />
                            <div class="ui icon input">
                                <textarea disabled cols="60" rows="5">@ViewBag.PlanTrabajo.ObservacionesARealizar</textarea>
                                <i class="keyboard outline outline icon"></i>
                            </div>
                        </div>
                        <div class="column">
                            <b>Compromiso Team</b>
                            <br />
                            <div class="ui icon input">
                                @if (ViewBag.PlanTrabajo.CompromisoTeam != null)
                                {
                                    <textarea disabled cols="60" rows="5">@ViewBag.PlanTrabajo.CompromisoTeam</textarea>
                                }
                                else
                                {
                                    <textarea cols="60" rows="5"></textarea>

                                }
                                <i class="keyboard outline outline icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="ui divider"></div>
                    <div class="one column row">

                        <div class="column">
                            <div class="ui top attached tabular menu purple">
                                @if (ViewBag.PlanTrabajo.SeguimientoSemana1 != null)
                                {
                                    <div data-tab="semanaUno" class="active item">Semana 1</div>
                                }
                                @if (ViewBag.PlanTrabajo.SeguimientoSemana2 != null)
                                {
                                    <div data-tab="semanaDos" class=" item">Semana 2</div>
                                }
                                @if (ViewBag.PlanTrabajo.SeguimientoSemana3 != null)
                                {
                                    <div data-tab="semanaTres" class=" item">Semana 3</div>
                                }
                                @if (ViewBag.PlanTrabajo.SeguimientoSemana4 != null)
                                {
                                    <div data-tab="semanaCuatro" class=" item">Semana 4</div>
                                }

                            </div>
                            @if (ViewBag.PlanTrabajo.SeguimientoSemana1 != null)
                            {
                        <div data-tab="semanaUno" class="ui grid bottom attached active tab segment">
                            <div class="one column row">
                                <div class="column">
                                    <h2>Seguimiento Semana 1</h2>
                                </div>
                            </div>
                            <div class="five column row">
                                <div class="column">
                                    <label>Meta Promedio</label>
                                    <div class="ui mini icon input">
                                        <input type="text" disabled name="MetaPromedio" id="MetaPromedio1" value="" />
                                        <i class="keyboard outline outline icon"></i>
                                    </div>

                                </div>
                                <div class="column">
                                    <label>Promedio Inicio</label>
                                    <div class="ui mini icon input">
                                        <input type="text" name="PromedioInicio" id="PromedioInicio1" value="@ViewBag.PromedioAsesor" />
                                        <i class="keyboard outline outline icon"></i>
                                    </div>
                                </div>

                                <div class="column">
                                    <label>Promedio Finalizo</label>
                                    <div class="ui mini icon input">

                                        <input type="text" name="PromedioFinalizo" id="PromedioFinalizo1" value="@ViewBag.seguimientoAsesor1.PromedioFinalizo" />

                                        <i class="keyboard outline outline icon"></i>
                                    </div>
                                </div>

                                <div class="column">
                                    <label>Meta Ventas</label>

                                    <div class="ui mini icon input">
                                        @if (ViewBag.seguimientoAsesor1.CantidadVentasMeta != null)
                                        {
                                            <input type="text" name="CantidadVentasMeta" id="CantidadVentasMeta1" value="@ViewBag.seguimientoAsesor1.CantidadVentasMeta" />
                                        }
                                        else
                                        {
                                            <input type="text" name="CantidadVentasMeta" id="CantidadVentasMeta1" value="" />

                                        }
                                        <i class="keyboard outline outline icon"></i>
                                    </div>
                                </div>
                                <div class="column">
                                    <label>Ventas Realizadas</label>
                                    <div class="ui mini icon input">
                                        <input type="text" name="CantidadVentasRealizadas" id="CantidadVentasRealizadas1" value="@ViewBag.PromedioVentasSemana1" />
                                        <i class="keyboard outline outline icon"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="four column row">
                                <div class="column">
                                    <label>% Cumplimiento</label>
                                    <br />
                                    <div class="ui mini icon input">
                                        @if (ViewBag.seguimientoAsesor1.PorcentajeCumplimiento != null)
                                        {
                                            <input type="text" name="PorcentajeCumplimiento" id="PorcentajeCumplimiento1" value="@ViewBag.seguimientoAsesor1.PorcentajeCumplimiento" />
                                        }
                                        else
                                        {
                                            <input type="text" name="PorcentajeCumplimiento" id="PorcentajeCumplimiento1" value="" />

                                        }
                                        <i class="keyboard outline outline icon"></i>
                                    </div>
                                </div>
                                @*<div class="column">
                <label>% Ausentismo</label>
                <br />
                <div class="ui mini icon input">
                    @if (ViewBag.seguimientoAsesor1.PorcentajeAusentismo != null)
                    {
                        <input type="text" name="PorcentajeAusentismo" id="PorcentajeAusentismo1" value="@ViewBag.seguimientoAsesor1.PorcentajeAusentismo" />
                    }
                    else
                    {
                        <input type="text" name="PorcentajeAusentismo" id="PorcentajeAusentismo1" value="" />

                    }

                    <i class="keyboard outline outline icon"></i>
                </div>
            </div>
            <div class="column">
                <label>Evolucion Asesor</label>
                <br />
                <div class="ui mini icon input">
                    <input type="text" name="Evolucion" id="Evolucion1" value="@ViewBag.seguimientoAsesor1.Evolucion" />
                    <i class="keyboard outline outline icon"></i>
                </div>
            </div>
            <div class="column">
                <label>Nota Calidad</label>
                <br />
                <div class="ui mini icon input">
                    <input type="text" name="NotaCalidad" id="NotaCalidad1" value="@ViewBag.seguimientoAsesor1.NotaCalidad" />
                    <i class="keyboard outline outline icon"></i>
                </div>
            </div>*@
                            </div>
                            <div class="two column row">
                                <div class="column">
                                    <label>Comentarios Seguimiento Gerente</label>
                                    <br />
                                    <div class="ui mini icon input">
                                        @if (ViewBag.seguimientoAsesor1.RetroAlimentacion != null)
                                        {
                                            <textarea disabled cols="80" rows="8" name="ComentariosSeguimientoTeam" id="ComentariosSeguimientoTeam1">@ViewBag.seguimientoAsesor1.RetroAlimentacion </textarea>
                                        }
                                        else
                                        {
                                            <textarea cols="80" rows="8" name="RetroAlimentacion" id="ComentariosSeguimientoTeam1"></textarea>

                                        }
                                        <i class="keyboard outline outline icon"></i>
                                    </div>
                                </div>
                                <div class="column">
                                    <label>Comentarios Seguimiento Team</label>
                                    <br />
                                    <div class="ui mini icon input">
                                        @if (ViewBag.seguimientoAsesor1.Compromiso != null)
                                        {
                                            <textarea cols="80" disabled rows="8" name="Compromiso" id="ComentariosSeguimientoAsesor1">@ViewBag.seguimientoAsesor1.Compromiso</textarea>
                                        }
                                        else
                                        {
                                            <textarea cols="80" rows="8" name="Compromiso" id="ComentariosSeguimientoAsesor1"></textarea>
                                        }
                                        <i class="keyboard outline outline icon"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="">
                                <h3>Asesores TeamLeader</h3>

                                <table class="ui celled table">
                                    <tr>
                                        <td>
                                            Documento Asesor
                                        </td>
                                        <td>
                                            Nombre Asesor
                                        </td>
                                        <td>
                                            Cantidad Ventas Realizadas
                                        </td>
                                        <td>
                                            Promedio Actual
                                        </td>
                                        <td>
                                            Cantidad Ventas Meta
                                        </td>
                                    </tr>
                                    <tr>
                                        @foreach (var promAsesor in ViewBag.ListaAsesoresSemana1)
                                        {
                                            <td>@promAsesor.Usuario.Document</td>
                                            <td>@promAsesor.Usuario.Names  @promAsesor.Usuario.LastName</td>
                                            <td>@promAsesor.Promedio</td>
                                            <td>0</td>
                                            <td></td>
                                        }
                                    </tr>
                                </table>
                            </div>

                            @if (ViewBag.seguimientoAsesor1.Estado == false)
                            {
                                <div class="two column row">
                                    @*<div class="column">
                    <button data-seguimiento="1" id="actualizarSeguimiento" class="ui button teal">Actualizar Seguimiento</button>
                </div>*@
                                    <div class="column">
                                        <button data-seguimiento="1" id="finalizarSeguimiento" class="ui button purple">Finalizar Seguimiento</button>
                                    </div>
                                </div>
                            }
                        </div>
                            }
                            @if (ViewBag.PlanTrabajo.SeguimientoSemana2 != null)
                            {
                                <div data-tab="semanaDos" class="ui grid bottom attached  tab segment">
                                    <div class="one column row">
                                        <div class="column">
                                            <h2>Seguimiento Semana 2</h2>
                                        </div>
                                    </div>
                                    <div class="five column row">
                                        <div class="column">
                                            <label>Meta Promedio</label>
                                            <div class="ui mini icon input">
                                                <input type="text" disabled name="MetaPromedio" id="MetaPromedio2" value="" />
                                                <i class="keyboard outline outline icon"></i>
                                            </div>

                                        </div>
                                        <div class="column">
                                            <label>Promedio Inicio</label>
                                            <div class="ui mini icon input">
                                                <input type="text" name="PromedioInicio" id="PromedioInicio2" value="@ViewBag.seguimientoAsesor1.PromedioFinalizo" />
                                                <i class="keyboard outline outline icon"></i>
                                            </div>
                                        </div>

                                        <div class="column">
                                            <label>Promedio Finalizo</label>
                                            <div class="ui mini icon input">
                                                <input type="text" name="PromedioFinalizo" id="PromedioFinalizo2" value="@ViewBag.seguimientoAsesor2.PromedioFinalizo" />
                                                <i class="keyboard outline outline icon"></i>
                                            </div>
                                        </div>

                                        <div class="column">
                                            <label>Meta Ventas</label>

                                            <div class="ui mini icon input">
                                                <input type="text" disabled name="CantidadVentasMeta" id="CantidadVentasMeta2" value="@ViewBag.seguimientoAsesor2.CantidadVentasMeta" />
                                                <i class="keyboard outline outline icon"></i>
                                            </div>
                                        </div>

                                        <div class="column">
                                            <label>Ventas Realizadas</label>
                                            <div class="ui mini icon input">
                                                <input type="text" name="CantidadVentasRealizadas" id="CantidadVentasRealizadas2" value="@ViewBag.PromedioVentasSemana2" />
                                                <i class="keyboard outline outline icon"></i>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="four column row">
                                        <div class="column">
                                            <label>% Cumplimiento</label>
                                            <br />
                                            <div class="ui mini icon input">
                                                <input type="text" name="PorcentajeCumplimiento" id="PorcentajeCumplimiento2" value="@ViewBag.seguimientoAsesor2.PorcentajeCumplimiento" />
                                                <i class="keyboard outline outline icon"></i>
                                            </div>
                                        </div>
                                        @*<div class="column">
                            <label>% Ausentismo</label>
                            <br />
                            <div class="ui mini icon input">
                                <input type="text" name="PorcentajeAusentismo" id="PorcentajeAusentismo2" value="@ViewBag.seguimientoAsesor2.PorcentajeAusentismo" />
                                <i class="keyboard outline outline icon"></i>
                            </div>
                        </div>
                        <div class="column">
                            <label>Evolucion Asesor</label>
                            <br />
                            <div class="ui mini icon input">
                                <input type="text" name="Evolucion" id="Evolucion2" value="@ViewBag.seguimientoAsesor2.Evolucion" />
                                <i class="keyboard outline outline icon"></i>
                            </div>
                        </div>
                        <div class="column">
                            <label>Nota Calidad</label>
                            <br />
                            <div class="ui mini icon input">
                                <input type="text" name="NotaCalidad" id="NotaCalidad2" value="@ViewBag.seguimientoAsesor2.NotaCalidad" />
                                <i class="keyboard outline outline icon"></i>
                            </div>

                        </div>*@


                                    </div>
                                    <div class="two column row">
                                        <div class="column">
                                            <label>Comentarios Seguimiento Gerente</label>
                                            <br />
                                            <div class="ui mini icon input">
                                                @if (@ViewBag.seguimientoAsesor2.RetroAlimentacion != null)
                                                {
                                                    <textarea disabled cols="80" rows="8" name="RetroAlimentacion" id="ComentariosSeguimientoTeam2">@ViewBag.seguimientoAsesor2.RetroAlimentacion</textarea>
                                                }
                                                else
                                                {
                                                    <textarea cols="80" rows="8" name="RetroAlimentacion" id="ComentariosSeguimientoTeam2">@ViewBag.seguimientoAsesor2.RetroAlimentacion</textarea>
                                                }
                                                <i class="keyboard outline outline icon"></i>
                                            </div>
                                        </div>
                                        <div class="column">
                                            <label>Comentarios Seguimiento Team</label>
                                            <br />

                                            <div class="ui mini icon input">
                                                @if (ViewBag.seguimientoAsesor2.Compromiso != null)
                                                {
                                                    <textarea disabled cols="80" rows="8" name="Compromiso" id="ComentariosSeguimientoAsesor2">@ViewBag.seguimientoAsesor2.Compromiso</textarea>
                                                }
                                                else
                                                {
                                                    <textarea cols="80" rows="8" name="Compromiso" id="ComentariosSeguimientoAsesor2">@ViewBag.seguimientoAsesor2.Compromiso</textarea>

                                                }
                                                <i class="keyboard outline outline icon"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="">
                                        <table class="ui celled table">
                                            <tr>
                                                <td>
                                                    Documento Asesor
                                                </td>
                                                <td>
                                                    Nombre Asesor
                                                </td>
                                                <td>
                                                    Cantidad Ventas Realizadas
                                                </td>
                                                <td>
                                                    Promedio Actual
                                                </td>
                                                <td>
                                                    Cantidad Ventas Meta
                                                </td>
                                            </tr>
                                            <tr>
                                                @foreach (var promAsesor in ViewBag.ListaAsesoresSemana2)
                                                {
                                                    <td>@promAsesor.Usuario.Document</td>
                                                    <td>@promAsesor.Usuario.Names  @promAsesor.Usuario.LastName</td>
                                                    <td>@promAsesor.Promedio</td>
                                                    <td>0</td>
                                                    <td></td>
                                                }
                                            </tr>
                                        </table>
                                    </div>
                                    @if (ViewBag.seguimientoAsesor2.Estado == false)
                                    {
                                        <div class="two column row">
                                            @*<div class="column">
                                <button data-seguimiento="2" id="actualizarSeguimiento" class="ui button teal">Actualizar Seguimiento</button>
                            </div>*@
                                            <div class="column">
                                                <button data-seguimiento="2" id="finalizarSeguimiento" class="ui button purple">Finalizar Seguimiento</button>
                                            </div>
                                        </div>
                                    }
                                </div>
                            }
                            @if (ViewBag.PlanTrabajo.SeguimientoSemana3 != null)
                            {
                                <div data-tab="semanaTres" class="ui grid bottom attached  tab segment">
                                    <div class="one column row">
                                        <div class="column">
                                            <h2>Seguimiento Semana 3</h2>
                                        </div>
                                    </div>
                                    <div class="five column row">
                                        <div class="column">
                                            <label>Meta Promedio</label>
                                            <div class="ui mini icon input">
                                                <input type="text" disabled name="MetaPromedio" id="MetaPromedio3" value="" />
                                                <i class="keyboard outline outline icon"></i>
                                            </div>

                                        </div>
                                        <div class="column">
                                            <label>Promedio Inicio</label>
                                            <div class="ui mini icon input">
                                                <input type="text" name="PromedioInicio" id="PromedioInicio3" value="@ViewBag.seguimientoAsesor2.PromedioFinalizo" />
                                                <i class="keyboard outline outline icon"></i>
                                            </div>
                                        </div>

                                        <div class="column">
                                            <label>Promedio Finalizo</label>
                                            <div class="ui mini icon input">
                                                <input type="text" name="PromedioFinalizo" id="PromedioFinalizo3" value="@ViewBag.seguimientoAsesor3.PromedioFinalizo" />
                                                <i class="keyboard outline outline icon"></i>
                                            </div>
                                        </div>

                                        <div class="column">
                                            <label>Meta Ventas</label>
                                            <div class="ui mini icon input">
                                                <input type="text" name="CantidadVentasMeta" id="CantidadVentasMeta3" value="@ViewBag.seguimientoAsesor3.CantidadVentasMeta" />
                                                <i class="keyboard outline outline icon"></i>
                                            </div>
                                        </div>

                                        <div class="column">
                                            <label>Ventas Realizadas</label>
                                            <div class="ui mini icon input">
                                                <input type="text" name="CantidadVentasRealizadas" id="CantidadVentasRealizadas3" value="@ViewBag.PromedioVentasSemana3" />
                                                <i class="keyboard outline outline icon"></i>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="four column row">
                                        <div class="column">
                                            <label>% Cumplimiento</label>
                                            <br />
                                            <div class="ui mini icon input">
                                                <input type="text" name="PorcentajeCumplimiento" id="PorcentajeCumplimiento3" value="@ViewBag.seguimientoAsesor3.PorcentajeCumplimiento" />
                                                <i class="keyboard outline outline icon"></i>
                                            </div>
                                        </div>
                                        @*<div class="column">
                            <label>% Ausentismo</label>
                            <br />
                            <div class="ui mini icon input">
                                <input type="text" name="PorcentajeAusentismo" id="PorcentajeAusentismo3" value="@ViewBag.seguimientoAsesor3.PorcentajeAusentismo" />
                                <i class="keyboard outline outline icon"></i>
                            </div>
                        </div>
                        <div class="column">
                            <label>Evolucion Asesor</label>
                            <br />
                            <div class="ui mini icon input">
                                <input type="text" name="Evolucion" id="Evolucion3" value="@ViewBag.seguimientoAsesor3.Evolucion" />
                                <i class="keyboard outline outline icon"></i>
                            </div>
                        </div>
                        <div class="column">
                            <label>Nota Calidad</label>
                            <br />
                            <div class="ui mini icon input">
                                <input type="text" name="NotaCalidad" id="NotaCalidad3" value="@ViewBag.seguimientoAsesor3.NotaCalidad" />
                                <i class="keyboard outline outline icon"></i>
                            </div>
                        </div>*@
                                    </div>
                                    <div class="two column row">
                                        <div class="column">
                                            <label>Comentarios Seguimiento Gerente</label>
                                            <br />
                                            <div class="ui mini icon input">
                                                @if (ViewBag.seguimientoAsesor3.RetroAlimentacion != null)
                                                {
                                                    <textarea cols="80" disabled rows="8" name="RetroAlimentacion" id="ComentariosSeguimientoTeam3">@ViewBag.seguimientoAsesor3.RetroAlimentacion</textarea>
                                                }
                                                else
                                                {
                                                    <textarea cols="80"  rows="8" name="RetroAlimentacion" id="ComentariosSeguimientoTeam3">@ViewBag.seguimientoAsesor3.RetroAlimentacion</textarea>

                                                }
                                                <i class="keyboard outline outline icon"></i>
                                            </div>
                                        </div>
                                        <div class="column">
                                            <label>Comentarios Seguimiento Team</label>
                                            <br />
                                            <div class="ui mini icon input">
                                                <textarea cols="80" rows="8" name="Compromiso" id="ComentariosSeguimientoAsesor3">@ViewBag.seguimientoAsesor3.Compromiso</textarea>
                                                <i class="keyboard outline outline icon"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="">
                                        <table class="ui celled table">
                                            <tr>
                                                <td>
                                                    Documento Asesor
                                                </td>
                                                <td>
                                                    Nombre Asesor
                                                </td>
                                                <td>
                                                    Cantidad Ventas Realizadas
                                                </td>
                                                <td>
                                                    Promedio Actual
                                                </td>
                                                <td>
                                                    Cantidad Ventas Meta
                                                </td>
                                            </tr>
                                            <tr>
                                                @foreach (var promAsesor in ViewBag.ListaAsesoresSemana3)
                                                {
                                                    <td>@promAsesor.Usuario.Document</td>
                                                    <td>@promAsesor.Usuario.Names  @promAsesor.Usuario.LastName</td>
                                                    <td>@promAsesor.Promedio</td>
                                                    <td>0</td>
                                                    <td></td>
                                                }
                                            </tr>
                                        </table>
                                    </div>
                                    @if (ViewBag.seguimientoAsesor3.Estado == false)
                                    {
                                        <div class="one column row">
                                            @*<div class="column">
                                <button data-seguimiento="3" id="actualizarSeguimiento" class="ui button teal">Actualizar Seguimiento</button>
                            </div>*@
                                            <div class="column">
                                                <button data-seguimiento="3" id="finalizarSeguimiento" class="ui button purple">Finalizar Seguimiento</button>
                                            </div>
                                        </div>
                                    }
                                </div>
                            }
                            @if (ViewBag.PlanTrabajo.SeguimientoSemana4 != null)
                            {
                                <div data-tab="semanaCuatro" class="ui grid bottom attached  tab segment">
                                    <div class="one column row">
                                        <div class="column">
                                            <h2>Seguimiento Semana 4</h2>
                                        </div>
                                    </div>
                                    <div class="five column row">

                                        <div class="column">
                                            <label>Meta Promedio</label>
                                            <div class="ui mini icon input">
                                                <input type="text" disabled name="MetaPromedio" id="MetaPromedio4" value="" />
                                                <i class="keyboard outline outline icon"></i>
                                            </div>

                                        </div>

                                        <div class="column">
                                            <label>Promedio Inicio</label>
                                            <div class="ui mini icon input">
                                                <input type="text" name="PromedioInicio" id="PromedioInicio4" value="@ViewBag.seguimientoAsesor3.PromedioFinalizo" />
                                                <i class="keyboard outline outline icon"></i>
                                            </div>
                                        </div>

                                        <div class="column">
                                            <label>Promedio Finalizo</label>
                                            <div class="ui mini icon input">
                                                <input type="text" name="PromedioFinalizo" id="PromedioFinalizo4" value="@ViewBag.seguimientoAsesor4.PromedioFinalizo" />
                                                <i class="keyboard outline outline icon"></i>
                                            </div>
                                        </div>

                                        <div class="column">
                                            <label>Meta Ventas</label>
                                            <div class="ui mini icon input">
                                                <input type="text" name="CantidadVentasMeta" id="CantidadVentasMeta4" value="@ViewBag.seguimientoAsesor4.CantidadVentasMeta" />
                                                <i class="keyboard outline outline icon"></i>
                                            </div>
                                        </div>

                                        <div class="column">
                                            <label>Ventas Realizadas</label>
                                            <div class="ui mini icon input">
                                                <input type="text" name="CantidadVentasRealizadas" id="CantidadVentasRealizadas4" value="@ViewBag.PromedioVentasSemana4" />
                                                <i class="keyboard outline outline icon"></i>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="four column row">
                                        <div class="column">
                                            <label>% Cumplimiento</label>
                                            <br />
                                            <div class="ui mini icon input">
                                                <input type="text" name="PorcentajeCumplimiento" id="PorcentajeCumplimiento4" value="@ViewBag.seguimientoAsesor4.PorcentajeCumplimiento" />
                                                <i class="keyboard outline outline icon"></i>
                                            </div>
                                        </div>
                                        @*<div class="column">
                            <label>% Ausentismo</label>
                            <br />
                            <div class="ui mini icon input">
                                <input type="text" name="PorcentajeAusentismo" id="PorcentajeAusentismo4" value="@ViewBag.seguimientoAsesor4.PorcentajeAusentismo" />
                                <i class="keyboard outline outline icon"></i>
                            </div>
                        </div>
                        <div class="column">
                            <label>Evolucion Asesor</label>
                            <br />
                            <div class="ui mini icon input">
                                <input type="text" name="Evolucion" id="Evolucion4" value="@ViewBag.seguimientoAsesor4.Evolucion" />
                                <i class="keyboard outline outline icon"></i>
                            </div>
                        </div>
                        <div class="column">
                            <label>Nota Calidad</label>
                            <br />
                            <div class="ui mini icon input">
                                <input type="text" name="NotaCalidad" id="NotaCalidad4" value="@ViewBag.seguimientoAsesor4.NotaCalidad" />
                                <i class="keyboard outline outline icon"></i>
                            </div>
                        </div>*@
                                    </div>
                                    <div class="two column row">
                                        <div class="column">
                                            <label>Comentarios Seguimiento Gerente</label>
                                            <br />
                                            <div class="ui mini icon input">
                                                @if (ViewBag.seguimientoAsesor4.RetroAlimentacion != null)
                                                {
                                                    <textarea disabled cols="80" rows="8" name="RetroAlimentacion" id="ComentariosSeguimientoTeam4">@ViewBag.seguimientoAsesor4.RetroAlimentacion</textarea>
                                                }
                                                else
                                                {
                                                    <textarea cols="80" rows="8" name="RetroAlimentacion" id="ComentariosSeguimientoTeam4">@ViewBag.seguimientoAsesor4.RetroAlimentacion</textarea>

                                                }

                                                <i class="keyboard outline outline icon"></i>
                                            </div>
                                        </div>
                                        <div class="column">
                                            <label>Comentarios Seguimiento Team</label>
                                            <br />

                                            <div class="ui mini icon input">
                                                <textarea cols="80" rows="8" name="Compromiso" id="ComentariosSeguimientoAsesor4">@ViewBag.seguimientoAsesor4.Compromiso</textarea>
                                                <i class="keyboard outline outline icon"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="">
                                        <table class="ui celled table">
                                            <tr>
                                                <td>
                                                    Documento Asesor
                                                </td>
                                                <td>
                                                    Nombre Asesor
                                                </td>
                                                <td>
                                                    Cantidad Ventas Realizadas
                                                </td>
                                                <td>
                                                    Promedio Actual
                                                </td>
                                                <td>
                                                    Cantidad Ventas Meta
                                                </td>
                                            </tr>
                                            <tr>
                                                @foreach (var promAsesor in ViewBag.ListaAsesoresSemana4)
                                                {
                                                    <td>@promAsesor.Usuario.Document</td>
                                                    <td>@promAsesor.Usuario.Names  @promAsesor.Usuario.LastName</td>
                                                    <td>@promAsesor.Promedio</td>
                                                    <td>0</td>
                                                    <td></td>
                                                }
                                            </tr>
                                        </table>
                                    </div>
                                    @if (ViewBag.seguimientoAsesor4.Estado == false)
                                    {
                                        <div class="two column row">
                                            @*<div class="column">
                                <button data-seguimiento="4" id="actualizarSeguimiento" class="ui button teal">actualizar Seguimiento</button>
                            </div>*@
                                            <div class="column">
                                                <button data-seguimiento="4" id="finalizarSeguimiento" class="ui button purple">Finalizar Seguimiento</button>
                                            </div>
                                        </div>
                                    }
                                    <br />
                                </div>
                            }
                        </div>
                        <hr />
                        @*<div class="">
                            <h3>Asesores TeamLeader</h3>

                            <table class="ui celled table">
                                <tr>
                                    <td>
                                        Documento Asesor
                                    </td>
                                    <td>
                                        Nombre Asesor
                                    </td>
                                    <td>
                                        Cantidad Ventas Realizadas
                                    </td>
                                    <td>
                                        Promedio Actual
                                    </td>
                                    <td>
                                        Cantidad Ventas Meta
                                    </td>
                                </tr>
                                <tr>
                                    @foreach (User promAsesor in ViewBag.AsesoresTeam)
                                    {
                                        <td>@promAsesor.Document</td>
                                        <td>@promAsesor.Names  @promAsesor.LastName</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                    }
                                </tr>
                            </table>
                        </div>*@
                        <hr />
                        @if (ViewBag.resumenSegumiento == null)
                        {
                            <div class="one column row">
                                <div class="ui grid purple segment">
                                    <div class="center aligned" style="margin:0px auto;">
                                        <h3>Resumen Plan Trabajo</h3>
                                    </div>
                                    
                                    @*<div class="six column row">
                                        <div class="column">
                                            <label>Promedio</label>
                                            <br />
                                            <div class="ui mini icon input">
                                                <input type="text" name="Promedio" id="ResumenPromedio" value="" />
                                                <i class="keyboard outline outline icon"></i>
                                            </div>
                                        </div>
                                        <div class="column">
                                            <label>Ventas Realizadas</label>
                                            <br />
                                            <div class="ui mini icon input">
                                                <input type="text" name="VentasRealizadas" id="ResumenVentasRealizadas" value="" />
                                                <i class="keyboard outline outline icon"></i>
                                            </div>
                                        </div>
                                        <div class="column">
                                            <label>Cumplimiento</label>
                                            <br />
                                            <div class="ui mini icon input">
                                                <input type="text" name="Cumplimiento" id="ResumenCumplimiento" value="" />
                                                <i class="keyboard outline outline icon"></i>
                                            </div>
                                        </div>
                                        <div class="column">
                                            <label>Evolucion</label>
                                            <br />
                                            <div class="ui mini icon input">
                                                <input type="text" name="Evolucion" id="ResumenEvolucion" value="" />
                                                <i class="keyboard outline outline icon"></i>
                                            </div>
                                        </div>
                                        <div class="column">
                                            <label>Ausentismo</label>
                                            <br />
                                            <div class="ui mini icon input">
                                                <input type="text" name="Ausentismo" id="ResumenAusentismo" value="" />
                                                <i class="keyboard outline outline icon"></i>
                                            </div>
                                        </div>
                                        <div class="column">
                                            <label>Nota Calidad</label>
                                            <br />
                                            <div class="ui mini icon input">
                                                <input type="text" name="NotaCalidad" id="ResumenNotaCalidad" value="" />
                                                <i class="keyboard outline outline icon"></i>
                                            </div>
                                        </div>
                                    </div>*@
                                    <div class="one column row">
                                        <div class="four wide column"></div>
                                        <div class="eight wide column ">
                                            <table class="ui celled table">
                                                <thead>
                                                    <tr>
                                                        <th>Mes</th>
                                                        <th>Meta de ventas</th>
                                                        <th>Ventas Realizadas</th>
                                                        <th>% Cumplimiento</th>
                                                        <th>Promedio Alcanzado</th>
                                                        <th>% Ausentismo</th>
                                                        <th>Nota Calidad</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="">
                                                        <td>dic</td>
                                                        <td>0</td>
                                                        <td>0</td>
                                                        <td>0</td>
                                                        <td>0</td>
                                                        <td>0</td>
                                                        <td>0</td>
                                                    </tr>
                                                    <tr class="">
                                                        <td>Nov</td>
                                                        <td>0</td>
                                                        <td>0</td>
                                                        <td>0</td>
                                                        <td>0</td>
                                                        <td>0</td>
                                                        <td>0</td>
                                                    </tr>
                                                    <tr class="">
                                                        <td>Oct</td>
                                                        <td>0</td>
                                                        <td>0</td>
                                                        <td>0</td>
                                                        <td>0</td>
                                                        <td>0</td>
                                                        <td>0</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="fourteen wide column">
            <div class="ui grid segment">
                <h1>EL ASESOR NO TIENE PROMEDIOS EN EL SISTEMA</h1>
            </div>
        </div>
    }

</div>
@section Scripts{
    <script>


        $(document).ready(function () {
            $(".menu .item").click(function () {
                var datatab = $(this).attr("data-tab");
                $(this).closest("div").children(".active").removeClass("active");
                $(this).addClass("active");
                $(this).closest("div").siblings(".active").removeClass("active");
                $(this).closest("div").siblings("[data-tab=" + datatab + "]").addClass("active");
            });
            $("#CantidadVentasRealizadas1").keyup(calcularMetas);
            $("#CantidadVentasRealizadas2").keyup(calcularMetas2);
            $("#CantidadVentasRealizadas3").keyup(calcularMetas3);
            $("#CantidadVentasRealizadas4").keyup(calcularMetas4);
            $("#finalizarSeguimiento").click(function () {
                var seguimiento = $("#finalizarSeguimiento").data("seguimiento");
                if (parseInt(seguimiento) >= 1 && parseInt(seguimiento) <= 4)
                    asignarSeguimiento(seguimiento);
            })
            $("#actualizarSeguimiento").click(function () {
                var seguimiento = $("#actualizarSeguimiento").data("seguimiento");
                if (parseInt(seguimiento) >= 1 && parseInt(seguimiento) <= 4)
                    actualizarSeguimiento(seguimiento);
            })

            $(".close").click(function () {
                $(".close").closest("div.one.column.row").remove();
            })


            function asignarSeguimiento(numero) {
                var campos = validarCampos(numero);
                if (!campos.state) {
                    return swal({
                        position: 'center',
                        type: 'error',
                        title: ' El campo \n' + campos.campo + ' \n no puede estar vacio',
                        showConfirmButton: true
                    });
                }
                var id = $("#SeguimientoId" + numero).val(),
                    metaPromedio = $("#MetaPromedio" + numero).val(),
                    promedioInicio = $("#PromedioInicio" + numero).val(),
                    promedioFinalizo = $("#PromedioFinalizo" + numero).val(),
                    cantidadVentasMeta = $("#CantidadVentasMeta" + numero).val(),
                    CantidadVentasRealizadas = $("#CantidadVentasRealizadas" + numero).val(),
                    porcentajeCumplimiento = $("#PorcentajeCumplimiento" + numero).val(),
                    porcentajeAusentismo = $("#PorcentajeAusentismo" + numero).val(),
                    evolucion = $("#Evolucion" + numero).val(),
                    notaCalidad = $("#NotaCalidad" + numero).val(),
                    retroAlimentacion = $("#ComentariosSeguimientoTeam" + numero).val(),
                    compromiso = $("#ComentariosSeguimientoAsesor" + numero).val(),
                    seguimientoDia1 = $("#seguimientoDia1Semana" + numero).val(),
                    seguimientoDia2 = $("#seguimientoDia2Semana" + numero).val(),
                    seguimientoDia3 = $("#seguimientoDia3Semana" + numero).val(),
                    seguimientoDia4 = $("#seguimientoDia4Semana" + numero).val(),
                    seguimientoDia5 = $("#seguimientoDia5Semana" + numero).val(),
                    seguimientoDia6 = $("#seguimientoDia6Semana" + numero).val(),
                    seguimientoDia7 = $("#seguimientoDia7Semana" + numero).val(),
                    teamId = $("#teamId").val(),
                    planTrabajoId = $("#PlanTrabajoId").val();

                var data = {

                    Id: id,
                    MetaPromedio: metaPromedio,
                    PromedioInicio: promedioInicio,
                    PromedioFinalizo: promedioFinalizo,
                    CantidadVentasMeta: cantidadVentasMeta,
                    CantidadVentasRealizadas: CantidadVentasRealizadas,
                    PorcentajeCumplimiento: porcentajeCumplimiento,
                    PorcentajeAusentismo: porcentajeAusentismo,
                    Evolucion: evolucion,
                    NotaCalidad: notaCalidad,
                    RetroAlimentacion: retroAlimentacion,
                    Compromiso: compromiso,
                    SeguimientoDia1: seguimientoDia1,
                    SeguimientoDia2: seguimientoDia2,
                    SeguimientoDia3: seguimientoDia3,
                    SeguimientoDia4: seguimientoDia4,
                    SeguimientoDia5: seguimientoDia5,
                    SeguimientoDia6: seguimientoDia6,
                    SeguimientoDia7: seguimientoDia7,
                    TeamId:teamId,
                    PlanTrabajoTeamId: planTrabajoId

                }

                $.post("SeguimientoTeams/edit", data, function (response) {
                    window.location.href = "";
                })
            }
            function actualizarSeguimiento(numero) {

                var id = $("#SeguimientoId" + numero).val(),
                    metaPromedio = $("#MetaPromedio" + numero).val(),
                    promedioInicio = $("#PromedioInicio" + numero).val(),
                    promedioFinalizo = $("#PromedioFinalizo" + numero).val(),
                    cantidadVentasMeta = $("#CantidadVentasMeta" + numero).val(),
                    CantidadVentasRealizadas = $("#CantidadVentasRealizadas" + numero).val(),
                    porcentajeCumplimiento = $("#PorcentajeCumplimiento" + numero).val(),
                    porcentajeAusentismo = $("#PorcentajeAusentismo" + numero).val(),
                    evolucion = $("#Evolucion" + numero).val(),
                    notaCalidad = $("#NotaCalidad" + numero).val(),
                    comentariosSeguimientoTeam = $("#ComentariosSeguimientoTeam" + numero).val(),
                    comentariosSeguimientoAsesor = $("#ComentariosSeguimientoAsesor" + numero).val(),
                    seguimientoDia1 = $("#seguimientoDia1Semana" + numero).val(),
                    seguimientoDia2 = $("#seguimientoDia2Semana" + numero).val(),
                    seguimientoDia3 = $("#seguimientoDia3Semana" + numero).val(),
                    seguimientoDia4 = $("#seguimientoDia4Semana" + numero).val(),
                    seguimientoDia5 = $("#seguimientoDia5Semana" + numero).val(),
                    seguimientoDia6 = $("#seguimientoDia6Semana" + numero).val(),
                    seguimientoDia7 = $("#seguimientoDia7Semana" + numero).val(),
                    planTrabajoId = $("#PlanTrabajoId").val();

                var data = {

                    Id: id,
                    MetaPromedio: metaPromedio,
                    PromedioInicio: promedioInicio,
                    PromedioFinalizo: promedioFinalizo,
                    CantidadVentasMeta: cantidadVentasMeta,
                    CantidadVentasRealizadas: CantidadVentasRealizadas,
                    PorcentajeCumplimiento: porcentajeCumplimiento,
                    PorcentajeAusentismo: porcentajeAusentismo,
                    Evolucion: evolucion,
                    NotaCalidad: notaCalidad,
                    ComentariosSeguimientoTeam: comentariosSeguimientoTeam,
                    ComentariosSeguimientoAsesor: comentariosSeguimientoAsesor,
                    SeguimientoDia1: seguimientoDia1,
                    SeguimientoDia2: seguimientoDia2,
                    SeguimientoDia3: seguimientoDia3,
                    SeguimientoDia4: seguimientoDia4,
                    SeguimientoDia5: seguimientoDia5,
                    SeguimientoDia6: seguimientoDia6,
                    SeguimientoDia7: seguimientoDia7,
                    PlanTrabajoAsesorId: planTrabajoId

                }

                $.post("SeguimientoAsesores/ActualizarSeguimiento", data, function (response) {
                    window.location.href = "";
                })
            }
            function calcularMetas() {
                const metaMensual = $("#MetaMensual").val(),
                    diasMes = $("#DiasMes").val(),
                    diasSemana = $("#DiasSemana").val(),
                    ventasRealizadas = $("#CantidadVentasRealizadas1").val();

                if (parseFloat(metaMensual) && parseFloat(diasMes) && parseFloat(diasSemana)) {
                    var metaSemanal = (parseFloat(metaMensual) / (diasMes / diasSemana));
                    var metaDiaria = (parseFloat(metaSemanal) / parseFloat(diasSemana));
                    $("#MetaSemanal").val(metaSemanal.toFixed(1));
                    $("#MetaPromedioDia").val(metaDiaria.toFixed(1));
                    $("#MetaPromedio1").val(metaSemanal);
                    $("#CantidadVentasMeta1").val(metaSemanal);
                }
                if (parseFloat(ventasRealizadas) && parseFloat(metaMensual)) {
                    var cumplimiento = ((parseFloat(ventasRealizadas) * 100) / metaSemanal);
                    $("#PorcentajeCumplimiento1").val(cumplimiento + "%");
                }
            }
            function calcularMetas2() {
                const metaMensual = $("#MetaMensual").val(),
                    diasMes = $("#DiasMes").val(),
                    diasSemana = $("#DiasSemana").val(),
                    ventasRealizadas = $("#CantidadVentasRealizadas2").val();

                if (parseFloat(metaMensual) && parseFloat(diasMes) && parseFloat(diasSemana)) {
                    var metaSemanal = (parseFloat(metaMensual) / (diasMes / diasSemana));
                    var metaDiaria = (parseFloat(metaSemanal) / parseFloat(diasSemana));
                    $("#MetaSemanal").val(metaSemanal.toFixed(1));
                    $("#MetaPromedioDia").val(metaDiaria.toFixed(1));
                    $("#MetaPromedio2").val(metaSemanal);
                    $("#CantidadVentasMeta2").val(metaSemanal);
                }
                if (parseFloat(ventasRealizadas) && parseFloat(metaMensual)) {
                    var cumplimiento = ((parseFloat(ventasRealizadas) * 100) / metaSemanal);
                    $("#PorcentajeCumplimiento2").val(cumplimiento + "%");
                }
            }
            function calcularMetas3() {
                const metaMensual = $("#MetaMensual").val(),
                    diasMes = $("#DiasMes").val(),
                    diasSemana = $("#DiasSemana").val(),
                    ventasRealizadas = $("#CantidadVentasRealizadas3").val();

                if (parseFloat(metaMensual) && parseFloat(diasMes) && parseFloat(diasSemana)) {
                    var metaSemanal = (parseFloat(metaMensual) / (diasMes / diasSemana));
                    var metaDiaria = (parseFloat(metaSemanal) / parseFloat(diasSemana));
                    $("#MetaSemanal").val(metaSemanal.toFixed(1));
                    $("#MetaPromedioDia").val(metaDiaria.toFixed(1));
                    $("#MetaPromedio3").val(metaSemanal);
                    $("#CantidadVentasMeta3").val(metaSemanal);
                }
                if (parseFloat(ventasRealizadas) && parseFloat(metaMensual)) {
                    var cumplimiento = ((parseFloat(ventasRealizadas) * 100) / metaSemanal);
                    $("#PorcentajeCumplimiento3").val(cumplimiento + "%");
                }
            }
            function calcularMetas4() {
                const metaMensual = $("#MetaMensual").val(),
                    diasMes = $("#DiasMes").val(),
                    diasSemana = $("#DiasSemana").val(),
                    ventasRealizadas = $("#CantidadVentasRealizadas4").val();

                if (parseFloat(metaMensual) && parseFloat(diasMes) && parseFloat(diasSemana)) {
                    var metaSemanal = (parseFloat(metaMensual) / (diasMes / diasSemana));
                    var metaDiaria = (parseFloat(metaSemanal) / parseFloat(diasSemana));
                    $("#MetaSemanal").val(metaSemanal.toFixed(1));
                    $("#MetaPromedioDia").val(metaDiaria.toFixed(1));
                    $("#MetaPromedio4").val(metaSemanal);
                    $("#CantidadVentasMeta4").val(metaSemanal);
                }
                if (parseFloat(ventasRealizadas) && parseFloat(metaMensual)) {
                    var cumplimiento = ((parseFloat(ventasRealizadas) * 100) / metaSemanal);
                    $("#PorcentajeCumplimiento4").val(cumplimiento + "%");
                }
            }
            calcularMetas();
            calcularMetas2();
            calcularMetas3();
            calcularMetas4();
            function validarCampos(numero) {

                var promedioInicio = $("#PromedioInicio" + numero).val(),
                    comentariosSeguimientoTeam = $("#ComentariosSeguimientoTeam" + numero).val(),
                    comentariosSeguimientoAsesor = $("#ComentariosSeguimientoAsesor" + numero).val(),
                    seguimientoDia1 = $("#seguimientoDia1Semana" + numero).val();

                if (promedioInicio == "") {
                    return { state: false, campo: "Promedio Inicio" };
                } else if (comentariosSeguimientoTeam == "") {
                    return { state: false, campo: "Comentarios Seguimiento Team" };
                } else if (comentariosSeguimientoAsesor == "") {
                    return { state: false, campo: "Comentarios Seguimiento Asesor" };
                } else if (seguimientoDia1 == "") {
                    return { state: false, campo: "Seguimiento Dia 1" };
                } else {
                    return { state: true }
                }

            }

        });
    </script>
}