﻿
<div id="ModalDireccion" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display: none;">
    <div class="modal-dialog modal-lg" role="document" id="idDefinirTamallo">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="idVentana">Constructor de direcciones</h4>
            </div>
            <div class="modal-body" id="cargarUrl">
                <!-- <script src="./index_files/direccion.js.descarga" charset="utf-8"></script> -->
                <div class="container-fluid">
                    <form method="post" name="frmDireccionNotificacion" id="">
                        <table class="table" id="tabladeclaracion" cellspacing="2">
                            <tbody>
                                <tr>
                                    <td>Dirección Completa:</td>
                                    <td width="50%">
                                        <textarea class="form-control" readonly="readonly" rows="2" cols="40" name="direccion" id="direccionEditar"></textarea>
                                    </td>
                                    <td style="vertical-align:middle" width="25%"><input onclick="borrarDireccion();" class="btn btn-warning" value="Borrar" name="Borrar" type="button"></td>
                                </tr>
                                <tr>
                                    <td class="tablatitulo" colspan="2">
                                        &nbsp;Asistente
                                        Para el
                                        ingreso de
                                        la
                                        Dirección
                                        Parte
                                        Principal
                                    </td>
                                </tr>
                                <tr>
                                    <td class="menu_titulo" colspan="3">
                                        <i>
                                            (Diligencie
                                            los campos requeridos que identifiquen la dirección actual; los campos
                                            que no requiera los puede dejar en blanco. Vaya verificando en el
                                            recuadro superior "Direccion Completa" su dirección)
                                        </i>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        &nbsp;
                                        <table>
                                            <tbody>
                                                <tr>

                                                    <td colspan="3">
                                                        <select class="form-control" onchange="validarCuadranteViaPrincipal();editarDireccionNotificacion2();"
                                                                name="tipoViaPrimaria" size="1">
                                                            <option value="">
                                                                Escoja una Opción
                                                            </option>
                                                            <option value="AC">
                                                                Avenida calle
                                                            </option>
                                                            <option value="AK">
                                                                Avenida carrera
                                                            </option>
                                                            <option value="CL">
                                                                Calle
                                                            </option>
                                                            <option value="KR">
                                                                Carrera
                                                            </option>
                                                            <option value="DG">
                                                                Diagonal
                                                            </option>
                                                            <option value="TV">
                                                                Transversal
                                                            </option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <input class="form-control" onkeyup="editarDireccionNotificacion2();" size="3" maxlength="3" id="numeroViaPrincipal" name="numeroViaPrincipal" type="number">
                                                    </td>
                                                    <td>
                                                        <select class="form-control" id="letraViaPrincipal" onchange="editarDireccionNotificacion2();" name="letraViaPrincipal" size="1">
                                                            <option value=""></option>
                                                            <option value="A">A</option>
                                                            <option value="B">B</option>
                                                            <option value="C">C</option>
                                                            <option value="D">D</option>
                                                            <option value="E">E</option>
                                                            <option value="F">F</option>
                                                            <option value="G">G</option>
                                                            <option value="H">H</option>
                                                            <option value="I">I</option>
                                                            <option value="J">J</option>
                                                            <option value="K">K</option>
                                                            <option value="L">L</option>
                                                            <option value="M">M</option>
                                                            <option value="N">N</option>
                                                            <option value="O">O</option>
                                                            <option value="P">P</option>
                                                            <option value="Q">Q</option>
                                                            <option value="R">R</option>
                                                            <option value="S">S</option>
                                                            <option value="T">T</option>
                                                            <option value="U">U</option>
                                                            <option value="V">V</option>
                                                            <option value="W">W</option>
                                                            <option value="X">X</option>
                                                            <option value="Y">Y</option>
                                                            <option value="Z">Z</option>
                                                        </select>
                                                    </td>
                                                    <td colspan="3">
                                                        <select class="form-control" onchange="editarDireccionNotificacion2();" name="bis" size="1">
                                                            <option value=""></option>
                                                            <option value="BIS">BIS</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <select class="form-control" id="letraBis" onchange="editarDireccionNotificacion2();" name="letraBis" size="1">
                                                            <option value=""></option>
                                                            <option value="A">A</option>
                                                            <option value="B">B</option>
                                                            <option value="C">C</option>
                                                            <option value="D">D</option>
                                                            <option value="E">E</option>
                                                            <option value="F">F</option>
                                                            <option value="G">G</option>
                                                            <option value="H">H</option>
                                                            <option value="I">I</option>
                                                            <option value="J">J</option>
                                                            <option value="K">K</option>
                                                            <option value="L">L</option>
                                                            <option value="M">M</option>
                                                            <option value="N">N</option>
                                                            <option value="O">O</option>
                                                            <option value="P">P</option>
                                                            <option value="Q">Q</option>
                                                            <option value="R">R</option>
                                                            <option value="S">S</option>
                                                            <option value="T">T</option>
                                                            <option value="U">U</option>
                                                            <option value="V">V</option>
                                                            <option value="W">W</option>
                                                            <option value="X">X</option>
                                                            <option value="Y">Y</option>
                                                            <option value="Z">Z</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <select class="form-control" title="&quot;Este&quot;, correponde al Occidente" onchange="validarCuadranteViaPrincipal();validarCuadranteViaGeneradora();editarDireccionNotificacion2();" name="cuadranteViaPrincipal" size="1">
                                                            <option value=""></option>
                                                            <option value="ESTE">ESTE</option>
                                                            <option value="OESTE">OESTE</option>
                                                            <option value="NORTE">NORTE</option>
                                                            <option value="SUR">SUR</option>
                                                        </select>
                                                    </td>
                                                    <td></td>
                                                    <td>
                                                        #
                                                    </td>
                                                    <td>
                                                        <input onkeyup="editarDireccionNotificacion2();" id="numeroViaGeneradora" size="3" maxlength="3" name="numeroViaGeneradora" type="number" class="form-control">
                                                    </td>
                                                    <td>
                                                        <select class="form-control" id="letraViaGeneradora" onchange="editarDireccionNotificacion2();" name="letraViaGeneradora" size="1">
                                                            <option value=""></option>
                                                            <option value="A">A</option>
                                                            <option value="B">B</option>
                                                            <option value="C">C</option>
                                                            <option value="D">D</option>
                                                            <option value="E">E</option>
                                                            <option value="F">F</option>
                                                            <option value="G">G</option>
                                                            <option value="H">H</option>
                                                            <option value="I">I</option>
                                                            <option value="J">J</option>
                                                            <option value="K">K</option>
                                                            <option value="L">L</option>
                                                            <option value="M">M</option>
                                                            <option value="N">N</option>
                                                            <option value="O">O</option>
                                                            <option value="P">P</option>
                                                            <option value="Q">Q</option>
                                                            <option value="R">R</option>
                                                            <option value="S">S</option>
                                                            <option value="T">T</option>
                                                            <option value="U">U</option>
                                                            <option value="V">V</option>
                                                            <option value="W">W</option>
                                                            <option value="X">X</option>
                                                            <option value="Y">Y</option>
                                                            <option value="Z">Z</option>
                                                        </select>
                                                    </td>
                                                    <td></td>
                                                    <td>
                                                        -
                                                    </td>
                                                    <td>
                                                        <input onkeyup="editarDireccionNotificacion2();" id="numeroPlaca" size="3" maxlength="3" name="numeroPlaca" type="number" class="form-control">
                                                    </td>
                                                    <td>
                                                        <select class="form-control" onchange="validarCuadranteViaGeneradora(); editarDireccionNotificacion2();" name="cuadranteViaGeneradora" size="1">
                                                            <option value=""></option>
                                                            <option value="SUR">SUR</option>
                                                            <option value="ESTE">ESTE</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tablatitulo" colspan="3">
                                        Asistente&nbsp;Para&nbsp;el&nbsp;ingreso&nbsp;de&nbsp;la&nbsp;Dirección&nbsp;Parte&nbsp;Complementaria&nbsp;&nbsp;
                                        (Ej. INT 2 AP 505)
                                    </td>
                                </tr>
                                <tr>
                                    <td class="menu_titulo" colspan="3">
                                        <i>
                                            (Seleccione el tipo
                                            en la lista desplegable inferior, escriba en el recuadro el detalle y
                                            pulse el botón "Adicionar otro complemento". Repita este proceso hasta
                                            tener toda&nbsp;la&nbsp;parte&nbsp;complementaria&nbsp;de la dirección y
                                            vaya verificando en el recuadro superior "Dirección Completa" su
                                            dirección)
                                        </i>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <select class="form-control" id="listaComplemento" name="componenteComplemento" size="1">
                                                    <option value="">Escoja unaopción</option>
                                                    <option value="AP">Apartamento</option>
                                                    <option value="AG">Agrupación</option>
                                                    <option value="BL">Bloque</option>
                                                    <option value="BG">Bodega</option>
                                                    <option value="CN">Camino</option>
                                                    <option value="CT ">Carretera</option>
                                                    <option value="CEL">Celula</option>
                                                    <option value="CA">Casa</option>
                                                    <option value="CONJ">Conjunto</option>
                                                    <option value="CS ">Consultorio</option>
                                                    <option value="DP">Depósito</option>
                                                    <option value="ED ">Edificio</option>
                                                    <option value="EN">Entrada</option>
                                                    <option value="ESQ">Esquina</option>
                                                    <option value="ET">Etapa</option>
                                                    <option value="GJ">Garaje</option>
                                                    <option value="IN">Interior</option>
                                                    <option value="KM">Kilómetro</option>
                                                    <option value="LC">Local</option>
                                                    <option value="LT">Lote</option>
                                                    <option value="MZ">Manzana</option>
                                                    <option value="MN">Mezanine</option>
                                                    <option value="MD">Módulo</option>
                                                    <option value="OF">Oficina</option>
                                                    <option value="PS">Paseo</option>
                                                    <option value="PA">Parcela</option>
                                                    <option value="PH">Penthouse</option>
                                                    <option value="PI">Piso</option>
                                                    <option value="PN">Puente</option>
                                                    <option value="PD">Predio</option>
                                                    <option value="SC">Salón comunal</option>
                                                    <option value="SR">Sector</option>
                                                    <option value="SL">Solar</option>
                                                    <option value="SS">Semisótano</option>
                                                    <option value="SM">Super manzana</option>
                                                    <option value="TO">Torre</option>
                                                    <option value="UN">Unidad</option>
                                                    <option value="UR">Unidad residencial</option>
                                                    <option value="URB">Urbanización</option>
                                                    <option value="ZN">Zona</option>
                                                    <option value="CAS">Caserro</option>
                                                    <option value="IP">Inspección de Policia</option>
                                                    <option value="IPD">Inspección de Policia Distrital</option>
                                                    <option value="IPM">Inspección de Policia Municipal</option>
                                                    <option value="C">Corregimiento municipal</option>
                                                    <option value="CD">Corregimiento Departamental</option>
                                                </select>
                                            </div>
                                            <div class="col-md-6">
                                                <input maxlength="20" class="form-control" maxlength="20" id="valorComplemento"  name="valorComplemento" type="text">
                                            </div>
                                            <div class="col-md-2">
                                                <input class="formboton" onclick="editarComplemento(); borrarComplementoEscogido()" value="Adicionar otro complemento" title="Agregar a Complemento" id="btnAgregarComplemento" type="button">
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3" align="center"></td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                    <div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <img id="loader_gif_ventana" src="" style=" display:none;" align="left">
                <!--  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
                <!--<button type="button" class="btn btn-primary">Save changes</button>-->
                <span id="ponerBoton"><button class="btn btn-primary" onclick="asignarDireccion();">Asignar Dirección</button></span>
            </div>
        </div>
    </div>
</div>