﻿
@{
    ViewBag.Title = "GestionArchivos";
}

<style>
    #imagenEvidencia img {
        width: 100%;
        height: 400px;
    }
</style>



<div class="ui modal evidenciaArchivos">
    <i class="close icon"></i>
    <div class="header">
        Evidencia
    </div>
    <div class="image content">
        <div class="description" style="width:100%">
            <h4>Utilice la Tecla <strong>impr pant</strong> para capturar la imagen, luego presione las teclas <strong>ctrl + v.</strong> verifique que la imagen que capturo aparezca en la parte inferior de este texto</h4>

            <div class="field" style="height:400px">
                <div id="imagenEvidencia">

                </div>
            </div>


            <div class="field">

                <label>Tipo evidencia</label>
                <select class="ui fluid selection dropdown tipoEvidencia" name="selectTipoEvidencia" id="selectTipoEvidencia">
                    <option value="0">Seleccione</option>
                    <option value="E">Evidente</option>
                    <option value="D">Datacredito</option>
                    <option value="R">RR</option>
                    <option value="M">Mi enlace</option>
                </select>

            </div>


        </div>
    </div>
    <div class="actions">

        <input type="button" id="guardarEvidenciaGestion" value="Guardar" class="ui  large red submit button" />
    </div>
</div>



@*<div class="modal" id="modalArchivos" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Evidencia</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="cerrarModalArchivos">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">


                    <!---COPIAR AL PORTAPAPELES-->
                    <div class="col-md-12" style="margin-top:30px">
                        <div>

                            <!-- Tab panes -->
                            <h4>Utilice la Tecla <strong>impr pant</strong> para capturar la imagen, luego presione las teclas <strong>ctrl + v.</strong> verifique que la imagen que capturo aparezca en la parte inferior de este texto</h4>

                            <div id="containerPortapapeles">



                                <div style="height:400px">

                                    <div id="imagenEvidencia">

                                    </div>

                                </div>

                                <br />
                                <label>Tipo evidencia</label>
                                <select class="form-control" name="selectTipoEvidencia" id="selectTipoEvidencia">
                                    <option value="0">Seleccione</option>
                                    <option value="E">Evidente</option>
                                    <option value="D">Datacredito</option>
                                    <option value="R">RR</option>
                                    <option value="M">Mi enlace</option>
                                </select>

                                <br />
                                <br />
                                <button id="guardarEvidenciaGestion" class="btn btn-success" value="guardar">Guardar Imagen</button>

                                <br />
                                <br />
                                <div id="errorCargaEvidencia" name="errorCargaEvidencia"></div>
                            </div>
                        </div>

                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" id="cerrarModalArchivoPrincipal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>*@






