﻿<div id="idProgramarLlamada" style="display: none">
    <div class="panel panel-danger">
        <div class="panel-heading"><h3 class="panel-title">PROGRAMACIÓN DE LLAMADA</h3></div>
        <div class="panel-body">

            <table class="table">

                <tbody>
                    <tr>
                        <td>Fecha Llamada (YYYY/MM/DD)</td>
                        <td colspan="2">
                            <div class="contact_input">
                                <input type="text"
                                       name="fechaLlamada"
                                       value="" readonly=""
                                       maxlength="10"
                                       class="fechaCalendario todo form-control"
                                       id="fechaLlamada">
                                <span></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Hora</td>
                        <td colspan="2">
                            <select id="horaLlamada" size="1" class="form-control">

                                <option value="07">07 AM</option>
                                <option value="08">08 AM</option>
                                <option value="09">09 AM</option>
                                <option value="10">10 AM</option>
                                <option value="11">11 AM</option>
                                <option value="12">12 PM</option>
                                <option value="13">01 PM</option>
                                <option value="14">02 PM</option>
                                <option value="15">03 PM</option>
                                <option value="16">04 PM</option>
                                <option value="17">05 PM</option>
                                <option value="18">06 PM</option>
                                <option value="19">07 PM</option>
                                <option value="20">08 PM</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Minutos</td>
                        <td colspan="2">
                            <select id="minutoLlamar" size="1" class="form-control">
                                <option value="00">00</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                                <option value="50">50</option>
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>