﻿@model tmkhogares.Models.Estandares.Atributo

@{
    /**/

    ViewBag.Title = "Create";
}

@{
    ViewBag._Active = "Create";
    ViewBag._Panel = "Create";
}




<br />
<br />
<div class=" segment">
    <h1 class="ui header">
        <img src="~/Content/images/logo1.png">
        <div class="content">
            Módulo  de creación de Atributo
            <div class="sub header">
                <div class="ui breadcrumb">
                    <a class="section" href="@Url.Action("HomeAdmin","Home")">Inicio</a>
                    <div class="divider"> / </div>
                    <a class="section" href="@Url.Action("Index")">Listar</a>
                    <div class="divider"> / </div>
                    <div class="active section" style="text-transform:lowercase">Creación de Atributo</div>
                </div>
            </div>
        </div>

    </h1>
    <div class="ui hidden divider"></div>

</div>

@if (TempData["Error"] != null)
{
    <div class="ui error message">
        <i class="close icon"></i>
        <div class="header">
            @TempData["Error"]
        </div>
    </div>
}

<h4 class="ui horizontal divider header">
    <button class="ui  large purple submit button">
        <i class="computer icon"></i>
        CREAR Atributo
    </button>

</h4>


<div class="ui grid">
    <div class="one wide column"></div>
    <div class="fourteen wide column">
        <div class="ui segments">
            <div class="ui teal segment purple">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "ui large form", autofocus = "" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="field">
                        @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "" })

                        <div class="ui mini icon input">
                            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "" } })
                            <i class="keyboard outline outline icon"></i>
                        </div>
                    </div>

                    <div class="field">
                        @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "" })

                        <div class="ui mini icon input">
                            @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "" } })
                            <i class="keyboard outline outline icon"></i>
                        </div>
                    </div>


                    <div class="field">
                        @Html.LabelFor(model => model.TipoAtributoId, "Tipo de Atributo", htmlAttributes: new { @class = "" })

                        <div class="ui mini icon input">
                            @Html.DropDownList("TipoAtributoId", null, htmlAttributes: new { @class = "form-control", @style = "text-transform:uppercase" })
                            <i class="keyboard outline outline icon"></i>
                        </div>

                    </div>

                    <div class="field">
                        <label>Aplica Modelo Gana?</label>
                        <div class="ui mini icon input">
                            <select id="AplicaModeloGana" name="AplicaModeloGana">
                                <option value="false">NO</option>
                                <option value="true">SI</option>
                            </select>
                        </div>
                    </div>
                
                    <div class="eight wide column letreGana" style="display:none">
                        <div class="field">
                            @Html.LabelFor(model => model.AtributoModeloGanaId, "Seleccione el item del modelo GANA", htmlAttributes: new { @class = "" })
                            <div class="ui mini icon input">
                                @Html.DropDownList("AtributoModeloGanaId", null, htmlAttributes: new { @class = "form-control", @style = "text-transform:uppercase" })
                                <i class="keyboard outline outline icon"></i>
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <br />
                        <input type="submit" id="crearAtributo" value="Crear" class="ui  large purple submit button" />
                        @Html.ActionLink("Regresar", "Index", new { id = ViewBag.EstandarId, FormularioId = ViewBag.FormularioId }, new { @class = "ui download black button" })
                    </div>
                    <input type="hidden" name="EstandarId" value="@ViewBag.EstandarId" />
                }
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $('body').on('change', '#AplicaModeloGana', function () {

            var valor = $(this).val();

            if (valor == "true") $('.letreGana').css('display', 'block');

            if (valor == "false") $('.letreGana').css('display', 'none');

        });


        $('.message .close')
            .on('click', function () {
                $(this)
                    .closest('.message')
                    .transition('fade');
            });
    </script>

}
