﻿@model tmkhogares.Models.Estandares.PesoAtributo

@{
    ViewBag.Title = "Delete";
}

@{
    ViewBag._Active = "Delete";
    ViewBag._Panel = "Home";
}


<br />
<br />
<div class=" segment">
    <h1 class="ui header">
        <img src="~/Content/images/logo1.png">
        <div class="content">
            Módulo  de eliminación  de @ViewBag.Name
            <div class="sub header">
                <div class="ui breadcrumb">
                    <a class="section" href="@Url.Action("HomeAdmin","Home")">Inicio</a>
                    <div class="divider"> / </div>
                    <a class="section" href="@Url.Action("Index")">Listar</a>
                    <div class="divider"> / </div>
                    <div class="active section" style="text-transform:lowercase">Eliminar Atributo</div>
                </div>
            </div>
        </div>

    </h1>
    <div class="ui hidden divider"></div>
</div>
<h4 class="ui horizontal divider header">
    <button class="ui  large purple submit button">
        <i class="eraser icon"></i>
        Eliminar
    </button>

</h4>
<div class="ui grid">
    <div class="ten wide centered column">
        <div class="ui segments">
            <div class="ui teal segment purple">
                <table id="tabla" class="ui celled small hover striped table">
                    <tbody>
                        <tr>
                            <td>
                                Atributo
                            </td>

                            <td>
                                @ViewBag.AtributoNombre
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Peso)
                            </td>

                            <td>
                                @Html.DisplayFor(model => model.Peso)
                            </td>
                        </tr>
                    </tbody>
                </table>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Eliminar" class="ui button purple" />                       
                        @Html.ActionLink("Regresar", "Peso", "Atributoes", new { Id = ViewBag.AtributoId, FormularioId = ViewBag.FormularioId, EstandarId = ViewBag.EstandarId }, new { @class = "ui download black button" })
                    </div>
                    <input type="hidden" name="AtributoId" value="@ViewBag.AtributoId" />
                    <input type="hidden" name="FormularioId" value="@ViewBag.FormularioId" />
                    <input type="hidden" name="FormularioId" value="@ViewBag.EstandarId" />
                }

            </div>
        </div>

    </div>
</div>





</div>
