﻿@model tmkhogares.Models.Estandares.Atributo

@{
    /**/

    ViewBag.Title = "Edit";
}

@{
    ViewBag._Active = "Edit";
    ViewBag._Panel = "Home";
}





<br />
<br />
<div class=" segment">
    <h1 class="ui header">
        <img src="~/Content/images/logo1.png">
        <div class="content">
            Módulo  de Edición de Atributo
            <div class="sub header">
                <div class="ui breadcrumb">
                    <a class="section" href="@Url.Action("HomeAdmin","Home")">Inicio</a>
                    <div class="divider"> / </div>
                    <a class="section" href="@Url.Action("Index")">Listar</a>
                    <div class="divider"> / </div>
                    <div class="active section" style="text-transform:lowercase">Edición de Atributo</div>
                </div>
            </div>
        </div>

    </h1>
    <div class="ui hidden divider"></div>

</div>

@if (TempData["Error"] != null)
{
    <div class="ui error message">
        <i class="close icon"></i>
        <div class="header">
            @TempData["Error"]
        </div>
    </div>
}

<h4 class="ui horizontal divider header">
    <button class="ui  large purple submit button">
        <i class="edit icon"></i>
        Editar Atributo
    </button>

</h4>

<div class="ui grid">
    <div class="one wide column"></div>
    <div class="fourteen wide column">
        <div class="ui segments">
            <div class="ui teal segment purple">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "ui large form", autofocus = "" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="field">
                        @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "" })

                        <div class="ui mini icon input">
                            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "" } })
                            <i class="keyboard outline outline icon"></i>
                        </div>
                        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "ui error message" })
                    </div>

                    <div class="field">
                        @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "" })

                        <div class="ui mini icon input">
                            @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "" } })
                            <i class="keyboard outline outline icon"></i>
                        </div>
                        @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "ui error message" })
                    </div>

                    <div class="field">
                        @Html.LabelFor(model => model.Peso, htmlAttributes: new { @class = "" })

                        <div class="ui mini icon input">
                            <input type="text" name="PesoF" value="@Model.Peso" />
                            <i class="keyboard outline outline icon"></i>
                        </div>
                        @Html.ValidationMessageFor(model => model.Peso, "", new { @class = "ui error message" })
                    </div>

                    if (Model.EsPrincipal)
                    {
                        <div class="field">
                            <label>Es Critico</label>
                            <select id="EsPrincipal" name="EsPrincipal" class="dropdown">
                                <option value="false">No</option>
                                <option value="true" selected>Si</option>
                            </select>
                            @Html.ValidationMessageFor(model => model.EsPrincipal, "", new { @class = "ui error message" })
                        </div>
                    }
                    else
                    {
                        <div class="field">
                            <label>Es Critico</label>
                            <select id="EsPrincipal" name="EsPrincipal" class="dropdown">
                                <option value="false">No</option>
                                <option value="true">Si</option>
                            </select>
                            @Html.ValidationMessageFor(model => model.EsPrincipal, "", new { @class = "ui error message" })
                        </div>
                    }

                    if (Model.SeCuentaEnTotal)
                    {
                        <div class="field">
                            <label>Tener en cuenta en el peso total</label>
                            <select id="SeCuentaEnTotal" name="SeCuentaEnTotal" class="SeCuentaEnTotal">
                                <option value="false">No</option>
                                <option value="true" selected>Si</option>
                            </select>
                            @Html.ValidationMessageFor(model => model.SeCuentaEnTotal, "", new { @class = "ui error message" })
                        </div>
                    }
                    else
                    {
                        <div class="field">
                            <label>Tener en cuenta en el peso total</label>
                            <select id="SeCuentaEnTotal" name="SeCuentaEnTotal" class="SeCuentaEnTotal">
                                <option value="false">No</option>
                                <option value="true">Si</option>
                            </select>
                            @Html.ValidationMessageFor(model => model.SeCuentaEnTotal, "", new { @class = "ui error message" })
                        </div>
                    }

                    if (Model.Estado)
                    {
                        <div class="field">
                            <label>Estado</label>
                            <select id="Estado" name="Estado" class="Estado">
                                <option value="false">Inactivo</option>
                                <option value="true" selected>Activo</option>
                            </select>
                            @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "ui error message" })
                        </div>
                    }
                    else
                    {

                        <div class="field">
                            <label>Estado</label>
                            <select id="Estado" name="Estado" class="Estado">
                                <option value="false">Inactivo</option>
                                <option value="true">Activo</option>
                            </select>
                            @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "ui error message" })
                        </div>
                    }

                    <div class="field">
                        @Html.LabelFor(model => model.Posicion, htmlAttributes: new { @class = "" })

                        <div class="ui mini icon input">
                            @Html.EditorFor(model => model.Posicion, new { htmlAttributes = new { @class = "" } })
                            <i class="keyboard outline outline icon"></i>
                        </div>


                        @Html.ValidationMessageFor(model => model.Posicion, "", new { @class = "ui error message" })
                    </div>
                    <input type="hidden" name="FormularioId" value="@ViewBag.FormularioId" />

                    <div class="field">
                        <br />
                        <input type="submit" value="Guardar" class="ui  large purple submit button" />
                        @Html.ActionLink("Regresar", "Index", new { id = Html.DisplayFor(model => model.EstandarId), FormularioId = ViewBag.FormularioId }, new { @class = "ui download black button" })
                    </div>
                    <input type="hidden" name="EstandarId" value="@ViewBag.EstandarId" />

                }
            </div>
        </div>
    </div>
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $('.message .close')
            .on('click', function () {
                $(this)
                    .closest('.message')
                    .transition('fade');
            });
    </script>
}



