﻿@model IEnumerable<tmkhogares.Models.Estandares.Atributo>

@{
    /**/

    ViewBag.Title = "Index";
}

@{
    ViewBag._Active = "Index";
    ViewBag._Panel = "Home";
}




<br />
<br />
<div class=" segment">
    <h1 class="ui header">
        <img src="~/Content/images/logo1.png">
        <div class="content">
            Atributos del Estandar @ViewBag.EstandarNombre en @ViewBag.CampanaNombre
            <div class="sub header">
                <div class="ui breadcrumb">
                    <a class="section" href="@Url.Action("HomeAdmin","Home")">Inicio</a>
                    <div class="divider"> / </div>
                    <div class="active section" style="text-transform:lowercase">LISTA DE ATRIBUTOS DEL ESTANDAR @ViewBag.EstandarNombre</div>
                </div>
            </div>
        </div>
    </h1>
    <div class="ui hidden divider"></div>
    <form action="" method="get">
        @Html.ActionLink("CREAR ATRIBUTO", "Create", new { Id = ViewBag.EstandarId, FormularioId = ViewBag.FormularioId }, new { @class = "ui download purple button" })
        <div class="ui action input">
            <input type="text" name="Name" placeholder="Nombre" value="@ViewBag.FName">
            <button class="ui icon button" id="btnCon">
                <i class="search icon"></i>
            </button>
        </div>

    </form>
</div>
<h4 class="ui horizontal divider header">
    <button class="ui  large purple submit button">
        @if (ViewBag.EstandarNombre == null)
        {
            <p>
                <i class="tasks icon"></i>
                ACTUALMENTE NO HAY Atributos
            </p>
        }
        else
        {
            <p>
                <i class="tasks icon"></i>
                LISTA DE ATRIBUTOS DE @ViewBag.EstandarNombre
            </p>
        }
    </button>

</h4>



<div class="ui grid">
    <div class="one wide column"></div>
    <div class="fourteen wide column">
        <div class="ui segments">
            <div class="ui teal segment purple">
                <table id="tabla" class="ui celled small hover striped table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Nombre)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Descripcion)
                            </th>
                            <th>
                                Tipo de Atributo
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Estado)
                            </th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            var tipoAtributo = item.TipoAtributo == null ? "" : item.TipoAtributo.Name;

                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Descripcion)
                                </td>
                                <td>
                                    @tipoAtributo
                                </td>
                                <td>
                                    <div class="ui toggle  checkbox">
                                        <input type="checkbox" disabled="disabled" name="public" @if (item.Estado == true) { @Html.Raw("checked") ; }>
                                        <label></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="ui buttons">
                                        @Html.ActionLink("Eliminar", "Desactivar", new { id = item.Id, EstandarId = ViewBag.EstandarId, FormularioId = ViewBag.FormularioId }, new { @class = "ui download black button", onclick = "return confirm('Está seguro de eliminar el registro');" })
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
