﻿@model IEnumerable<tmkhogares.Models.Campañas.Campana>


@{
    ViewBag.Title = "Index";
}

<br />
<br />
<div class=" segment">
    <h1 class="ui header">
        <img src="~/Content/images/logo1.png">
        <div class="content">
            Módulo para Editar Team Leader de forma masiva
            <div class="sub header">
                <div class="ui breadcrumb">
                    <a class="section" href="@Url.Action("HomeAdmin","Home")">Inicio</a>
                </div>
            </div>
        </div>

    </h1>

    <div class="ui hidden divider"></div>
</div>

<h4 class="ui horizontal divider header">

    <i class="users icon"></i>
    @ViewBag.titulo

</h4>


<div class="ui grid">
    <div class="one wide column"></div>
    <div class="sixteen wide column">
        <div class="ui segments">
            <div class="ui teal segment">
                <div class="field">
                    <p style="font-weight:bold">No modificar el nombre de las columnas!!!</p>
                    <p style="font-weight:bold">La información a cargar debe tener formato texto!!!</p>
                    <a href="~/FormatoCargueUsuarios/FormatoEditarTeamLeaderMasivo.xlsx" class="ui blue large button" download><i class="fa fa-download"></i>Descargar Formato</a>
                </div>
            </div>
        </div>
    </div>

</div>




<div class="ui grid">
    <div class="one wide column"></div>
    <div class="sixteen wide column">
        <div class="ui segments">
            <div class="ui teal segment">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "ui large form", autofocus = "" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })                 

                    <div class="field">
                        <input type="file" id="fileUsuarios" class="form-control" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                        <label id="errorArchivo">Archivo</label>
                    </div>

                    <div class="field">
                        <br />
                        <input type="button" id="CargarUsuarios" value="Cargar" class="ui  large green submit button" />
                        <a class="ui large  button" href="@Url.Action("HomeAdmin","Home")">Regresar</a>

                    </div>
                }
            </div>
        </div>
    </div>

</div>

<div class="ui divider"></div>

<div class="ui grid" style="display:none" id="mostrarErrores">
    <div class="one wide column"></div>
    <div class="sixteen wide column">
        <div class="ui segments">
            <div class="ui teal segment">
                <div class="field">
                    <p style="font-weight:bold">Descargue el archivo con el listado de errores!!!</p>
                    <p style="font-weight:bold">Después de corrgida, intente cargarlos nuevamente!!!</p>
                    <a value="Descargar Errores" id="mostrarErrores" class="ui  large yellow submit button" href="~/ErroresFormato/ErroresFormatoCargueUsuarios.xlsx" download>Descargar Formato Errores </a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/CargueEditarTeamLeaderMasivo.js?v=@DateTime.Now"></script>

}
