﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/shared/_LayoutLogin.cshtml";

}
@model  Core.Models.Security.AccountsViewModel





<div class="ui large top fixed hidden menu">
    <div class="ui container">
        <a class="active item">Grabaciones</a>
        <div class="right menu">
            <div class="item">
                <a class="ui button">Ingresar</a>
            </div>
        </div>
    </div>
</div>

<!-- menu lateral  -->
<div class="ui inverted vertical masthead center aligned segment">
    <div class="ui container">
        <div class="ui large secondary inverted pointing menu">
            <a class="toc item">
                <i class="sidebar icon"></i>
            </a>
            <a class="active item">Grabaciones</a>
            <div class="right item">
                <a href="#login" class="ui inverted button">Ingresar</a>
            </div>
        </div>
    </div>
    <div class="ui text container">
        <h1 class="ui inverted header">
            Calificacion de Grabaciones
        </h1>
        <h2>Administra Calificaciones de los Asesores.</h2>
        <a href="#login" class="ui huge primary button">Ingresar <i class="right arrow icon"></i></a>
    </div>

</div>

<div class="ui vertical stripe segment" id="login">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="eight wide column">
                <h3 class="ui header">Ingresa al sistema de Calificacion de Grabaciones</h3>
                <p>Si tienes problema para ingresar por favor contacta al administrador</p>


                @using (Html.BeginForm("Login", "Accounts", FormMethod.Post, new { @class = "ui large form", autofocus = "" }))
                {


                    <div class="ui stacked segment">
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                @Html.EditorFor(model => model.Accounts.UserName, new { htmlAttributes = new { @class = "", autofocus = "" } })
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                @Html.PasswordFor(model => model.Accounts.Password)
                            </div>
                        </div>
                        <input type="submit" name="send" value="Ingresar" class="ui fluid large purple submit button" />
                    </div>

                    if (ViewBag.Error != null)
                    {

                        <div class="ui error visible  message">@ViewBag.Error</div>
                    }




                }




            </div>
            <div class="six wide right floated column">
                <img src="~/Content/images/uno27_enel.png" class="ui large  rounded image">
            </div>
        </div>

    </div>
</div>




<div class="ui inverted vertical footer segment">
    <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
            <div class="three wide column">
                <h4 class="ui inverted header">About</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Sitemap</a>
                    <a href="#" class="item">Contact Us</a>
                    <a href="#" class="item">Religious Ceremonies</a>
                    <a href="#" class="item">Gazebo Plans</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">Services</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Banana Pre-Order</a>
                    <a href="#" class="item">DNA FAQ</a>
                    <a href="#" class="item">How To Access</a>
                    <a href="#" class="item">Favorite X-Men</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header">Footer Header</h4>
                <p>Extra space for a call to action inside the footer that could help re-engage users.</p>
            </div>
        </div>
    </div>
</div>





@section Scripts{
    <script>
        // create sidebar and attach to menu open
        $('.ui.sidebar')
        .sidebar('attach events', '.toc.item');

    </script>
}


