﻿@model tmkhogares.Models.Estandares.Estandar

@{
    /**/

    ViewBag.Title = "Edit";
}

@{
    ViewBag._Active = "Edit";
    ViewBag._Panel = "Home";
}

<br />
<br />
<div class=" segment">
    <h1 class="ui header">
        <img src="~/Content/images/logo1.png">
        <div class="content">
            Módulo  de Edición de Estandar
            <div class="sub header">
                <div class="ui breadcrumb">
                    <a class="section" href="@Url.Action("HomeAdmin","Home")">Inicio</a>
                    <div class="divider"> / </div>
                    <a class="section" href="@Url.Action("Index")">Listar</a>
                    <div class="divider"> / </div>
                    <div class="active section" style="text-transform:lowercase">Edición de Estandar</div>
                </div>
            </div>
        </div>

    </h1>
    <div class="ui hidden divider"></div>

</div>

@if (TempData["Error"] != null)
{
    <div class="ui error message">
        <i class="close icon"></i>
        <div class="header">
            @TempData["Error"]
        </div>
    </div>
}

<h4 class="ui horizontal divider header">
    <button class="ui  large purple submit button">
        <i class="edit icon"></i>
        Editar Estandar
    </button>

</h4>

<div class="ui grid">
    <div class="one wide column"></div>
    <div class="fourteen wide column">
        <div class="ui segments">
            <div class="ui teal segment purple">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "ui large form", autofocus = "" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="field">
                        @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "" })

                        <div class="ui mini icon input">
                            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "" } })
                            <i class="keyboard outline outline icon"></i>
                        </div>
                        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "ui error message" })
                    </div>

                    <div class="field">
                        @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "" })

                        <div class="ui mini icon input">
                            @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "" } })
                            <i class="keyboard outline outline icon"></i>
                        </div>
                        @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "ui error message" })
                    </div>

                    <div class="field">
                        @Html.LabelFor(model => model.Peso, htmlAttributes: new { @class = "" })

                        <div class="ui mini icon input">
                            <input type="text" class="ui input" name="Peso" value="@Model.Peso" />
                        </div>
                    </div>
                    <div class="field">
                        @Html.LabelFor(model => model.Posicion, "Posición", htmlAttributes: new { @class = "" })

                        <div class="ui mini icon input">
                            @Html.EditorFor(model => model.Posicion, new { htmlAttributes = new { @class = "" } })
                            <i class="keyboard outline outline icon"></i>
                        </div>
                        @Html.ValidationMessageFor(model => model.Posicion, "", new { @class = "ui error message" })
                    </div>
                    <div class="field">
                        @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "" })

                        <div class="ui mini icon input">
                            @Html.CheckBoxFor(model => model.Estado, new { htmlAttributes = new { @class = "" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "ui error message" })
                    </div>

                    <div class="field">
                        <br />
                        <input type="submit" value="Guardar" class="ui  large purple submit button" />
                        @Html.ActionLink("Regresar", "Index", new { id = Html.DisplayFor(model => model.FormularioId) }, new { @class = "ui download black button" })
                    </div>
                    <input type="hidden" name="FormularioId" value="@ViewBag.FormularioId" />

                }
            </div>
        </div>
    </div>
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $('.message .close')
            .on('click', function () {
                $(this)
                    .closest('.message')
                    .transition('fade');
            });
    </script>
}
