﻿@model List<tmkhogares.Models.Estandares.Estandar>

@{
    ViewBag.Title = "Index";
}

@{
    ViewBag._Active = "Index";
    ViewBag._Panel = "Home";
}

<br />
<br />
<div class=" segment">
    <h1 class="ui header">
        <img src="~/Content/images/logo1.png">
        <div class="content">
            Lista de Estandares de @ViewBag.FormularioNombre
            <div class="sub header">
                <div class="ui breadcrumb">
                    <a class="section" href="@Url.Action("HomeAdmin","Home")">Inicio</a>
                    <div class="divider"> / </div>
                    <div class="active section" style="text-transform:lowercase">Lista  de Estandar</div>
                </div>
            </div>
        </div>
    </h1>
    <div class="ui hidden divider"></div>

    @if (TempData["Mensaje"] != null)
    {
        <div class="ui positive message">
            <i class="close icon"></i>
            <div class="header">
                @TempData["Mensaje"]
            </div>
        </div>
    }
    @if (TempData["MensajeError"] != null)
    {
        <div class="ui error message">
            <i class="close icon"></i>
            <div class="header">
                @TempData["MensajeError"]
            </div>
        </div>
    }
   

    <form action="" method="get">
        <a href="@Url.Action("create/"+ViewBag.FormularioId)" class="ui download purple button">
            CREAR NUEVO ESTANDAR
        </a>

        <div class="ui action input">
            <input type="text" name="Name" placeholder="Nombre" value="@ViewBag.FName">
            <button class="ui icon button" id="btnCon">
                <i class="search icon"></i>
            </button>
        </div>

    </form>
</div>
<h4 class="ui horizontal divider header">
    <button class="ui  large purple submit button">
        @if (ViewBag.FormularioNombre == null)
        {

            <p>
                <i class="tasks icon"></i>
                ACTUALMENTE NO HAY ESTANDARES
            </p>
        }
        else
        {
            <p>
                <i class="tasks icon"></i>
                LISTA DE ESTANDARES DE @ViewBag.FormularioNombre
            </p>
        }
    </button>

</h4>



<div class="ui grid">
    <div class="one wide column"></div>
    <div class="fourteen wide column">
        <div class="ui segments">
            <div class="ui teal segment purple">
                <table id="tabla" class="ui celled small hover striped table">
                    <thead>
                        <tr>                           
                            <th>
                                @Html.DisplayNameFor(model => model.FirstOrDefault().Nombre)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstOrDefault().Descripcion)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstOrDefault().Estado)
                            </th>
                           
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>                               
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Descripcion)
                                </td>
                                <td>
                                    <div class="ui toggle  checkbox">
                                        <input type="checkbox" disabled="disabled" name="public" @if (item.Estado == true) { @Html.Raw("checked") ; }>
                                        <label></label>
                                    </div>
                                </td>                               
                                <td>
                                    <div class="ui buttons">
                                        @*@Html.ActionLink("Editar", "Edit", new { id = item.Id, FormularioId = ViewBag.FormularioId }, new { @class = "mini ui download purple button" })*@
                                        @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, new { @class = "mini ui download black button" })
                                        @Html.ActionLink("Atributos", "Index", "Atributoes", new { id = item.Id, FormularioId = ViewBag.FormularioId }, new { @class = "mini ui download purple button" })
                                    </div>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $('.message .close')
            .on('click', function () {
                $(this)
                    .closest('.message')
                    .transition('fade');
            });
    </script>
}
