﻿
@{
    ViewBag.Title = "CargueVentas";
}
<style>
    .hidden{
        display:none;
    }
</style>

<br />
<br />
<div class=" segment">
    <h1 class="ui header">
        <img src="~/Content/images/logo1.png">
        <div class="content">
            Módulo  de Lista  de Carga De Promedios
            <div class="sub header">
                <div class="ui breadcrumb">
                    <a class="section" href="@Url.Action("HomeAdmin","Home")">Inicio</a>
                    <div class="divider"> / </div>
                    <div class="active section" style="text-transform:lowercase">Carga De Promedios</div>
                </div>
            </div>
        </div>
    </h1>
    <div class="ui hidden divider"></div>
</div>
<h4 class="ui horizontal divider header">
    <button class="ui  large red submit button">
        <i class="tasks icon"></i>
        Cargue Ventas
    </button>

</h4>
<div class="ui grid">
    <div class="sixteen wide column">
        <div id="divError" class="ui segment red center aligned hidden">
            <div id="asesoresNoCreados" class="hidden">
                <a class="ui red tag label">No se encontraron los siguientes agentes por favor registrelos</a>
                <table class="ui celled table">
                    <thead>
                        <tr>
                            <th>Documento</th>
                            <th>Nombres</th>
                        </tr>
                    </thead>
                    <tbody id="asesoresNoCreadosTBody">
                    </tbody>
                </table>
            </div>
            <br />
            <br />
            <div id="asesoresNoPertenecen" class="hidden">
                <a class="ui red tag label">Los siguientes asesores no pertenecen a tu grupo</a>
                <table class="ui celled table">
                    <thead>
                        <tr>
                            <th>Documento</th>
                            <th>Nombres</th>
                        </tr>
                    </thead>
                    <tbody id="asesoresNoPertenecenTBody">

                    </tbody>
                </table>
            </div>
            <br />
            <br />
            <div id="asesoresYaActualizados" class="hidden">
                <a class="ui red tag label">Los siguientes asesores ya han sido actualizados el dia de hoy</a>
                <table class="ui celled table">
                    <thead>
                        <tr>
                            <th>Documento</th>
                            <th>Nombres</th>
                        </tr>
                    </thead>
                    <tbody id="asesoresYaActualizadosTBody">
                    </tbody>
                </table>
            </div>
        </div>
        <div class="ui segment teal center aligned">
            <div class="ui segment padded">
                <h2>Cargar Ventas Asesores</h2>
                <div class="column">
                    <label for="form-subcomponent-shorthand-input-first-name" style="font-weight:bold">Seleccione el Archivo</label>
                    <br />
                    <div class="ui action input">
                        <input type="file" name="fileUpload" id="fileUpload" accept=".xlsx,.xls">
                        <div class="ui icon button">
                            <i class="attach icon"></i>
                        </div>
                        <button style="margin-left:50px;" id="btnCarga" type="submit" class="ui button green">Cargar</button>
                    </div>
                </div>
            </div>
            <div class="">
                <table class="ui celled table">
                    <thead>
                        <tr>
                            <th>Documento</th>
                            <th>Nombres</th>
                            <th>Login</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in ViewBag.Usuarios)
                        {
                            <tr class="">
                                <td>@user.Document</td>
                                <td>@user.Names</td>
                                <td>@user.login</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#btnCarga').click(function () {
                // Checking whether FormData is available in browser
                if (window.FormData !== undefined) {
                    var fileUpload = $("#fileUpload").get(0);
                    var files = fileUpload.files;
                    // Create FormData object
                    var fileData = new FormData();
                    // Looping over all files and add it to FormData object
                    for (var i = 0; i < files.length; i++) {
                        fileData.append(files[i].name, files[i]);
                    }
                    // Adding one more key to FormData object
                    $.ajax({
                        url: '/Users/CargarVentas',
                        type: "POST",
                        contentType: false, // Not to set any content header
                        processData: false, // Not to process data
                        data: fileData,
                        success: function (result) {
                            if (result.status == 200) {
                                const { asesoresNoCreados, asesoresNoPertenecen, asesoresYaActualizados } = result;
                                $("#asesoresNoCreadosTBody").text("");
                                $("#asesoresNoPertenecenTBody").text("");
                                $("#asesoresYaActualizadosTBody").text("");
                                $.each(asesoresNoCreados, function (index, val) {
                                    $("#divError").removeClass("hidden");
                                    $("#asesoresNoCreados").removeClass("hidden");
                                    $("#asesoresNoCreadosTBody").append("<tr class='negative'><td>" + val[0] + "</td><td>" + val[1] + "</td></tr>")
                                });
                                $.each(asesoresNoPertenecen, function (index, val) {
                                    $("#divError").removeClass("hidden");
                                    $("#asesoresNoPertenecen").removeClass("hidden");
                                    $("#asesoresNoPertenecenTBody").append("<tr class='negative'><td>" + val[0] + "</td><td>" + val[1] + "</td></tr>")
                                });
                                $.each(asesoresYaActualizados, function (index, val) {
                                    $("#divError").removeClass("hidden");
                                    $("#asesoresYaActualizados").removeClass("hidden");
                                    $("#asesoresYaActualizadosTBody").append("<tr class='negative'><td>" + val[0] + "</td><td>" + val[1] + "</td></tr>")
                                });
                            } else {

                            }
                        },
                        error: function (err) {
                            alert(err.statusText);
                        }
                    });
                } else {
                    console.log("FormData is not supported.");
                }
            });
        });
    </script>
}
