﻿@using Core.Models.Security;
@model Core.Models.User.User

@{
    /**/

    ViewBag.Title = "Create";
}

@{
    ViewBag._Active = "Create";
    ViewBag._Panel = "Create";
}

<br />
<br />
<div class=" segment">
    <h1 class="ui header">
        <img src="~/Content/images/logo1.png">
        <div class="content">
            Módulo  de creación de Usuario
            <div class="sub header">
                <div class="ui breadcrumb">
                    <a class="section" href="@Url.Action("HomeAdmin","Home")">Inicio</a>
                    <div class="divider"> / </div>
                    <a class="section" href="@Url.Action("IndexCalidad")">Listar</a>
                    <div class="divider"> / </div>
                    <div class="active section" style="text-transform:lowercase">Creación de Usuario</div>
                </div>
            </div>
        </div>
    </h1>
    <div class="ui hidden divider"></div>
</div>


@if (TempData["MensajeError"] != null)
{
    <div class="ui error message">
        <i class="close icon"></i>
        <div class="header">
            @TempData["MensajeError"]
        </div>
    </div>
}

<h4 class="ui horizontal divider header">
    <button class="ui  large purple submit button">
        <i class="computer icon"></i>
        CREAR USUARIO
    </button>

</h4>


<div class="ui grid">
    <div class="five wide column"></div>
    <div class="six wide column">
        <div class="ui segments">
            <div class="ui teal segment purple">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "ui large form", autofocus = "" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="field">
                        @Html.LabelFor(model => model.Document, htmlAttributes: new { @class = "" })

                        <div class="ui mini icon input">
                            @Html.EditorFor(model => model.Document, new { htmlAttributes = new { @class = "" } })
                            <i class="keyboard outline outline icon"></i>
                        </div>

                        @Html.ValidationMessageFor(model => model.Document, "", new { @class = "ui error message" })
                    </div>

                    <div class="field">
                        @Html.LabelFor(model => model.Names, htmlAttributes: new { @class = "" })

                        <div class="ui mini icon input">
                            @Html.EditorFor(model => model.Names, new { htmlAttributes = new { @class = "" } })
                            <i class="keyboard outline outline icon"></i>
                        </div>

                        @Html.ValidationMessageFor(model => model.Names, "", new { @class = "ui error message" })
                    </div>


                    <div class="field">
                        @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = " " })
                        <div class="checkboxclass ">
                            <select name="Status" class="ui search selection dropdown status">
                                <option value="true">Activo</option>
                                <option value="false">Inactivo</option>
                            </select>
                            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "ui error message" })
                        </div>
                    </div>

                    <div class="field">
                        @Html.LabelFor(model => model.PassWord, htmlAttributes: new { @class = "" })
                        <div class="ui mini icon input">
                            @Html.EditorFor(model => model.PassWord, new { htmlAttributes = new { @class = "" } })
                            <i class="keyboard outline outline icon"></i>
                        </div>
                        @Html.ValidationMessageFor(model => model.PassWord, "", new { @class = "ui error message" })
                    </div>

                    <div class="field">
                        @Html.LabelFor(model => model.login, htmlAttributes: new { @class = "" })
                        <div class="ui mini icon input">
                            @Html.EditorFor(model => model.login, new { htmlAttributes = new { @class = "" } })
                            <i class="keyboard outline outline icon"></i>
                        </div>
                        @Html.ValidationMessageFor(model => model.login, "", new { @class = "ui error message" })
                    </div>

                    <div class="field">
                        <label>Campaña</label>
                        @Html.DropDownList("CampanaId", null, "Seleccione una campaña", htmlAttributes: new { @class = "ui  selection dropdown" })
                    </div>
                    <div class="field">
                        @Html.LabelFor(model => model.UserId, "Team Leader (Si no es un asesor no modificar)", htmlAttributes: new { @class = "" })
                        @Html.DropDownList("UserId", null, "Dejar en blanco si no es un asesor", htmlAttributes: new { @class = "ui  selection dropdown" })
                        @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "ui error message" })
                    </div>

                    <div class="field">
                        @Html.LabelFor(model => model.NivelId, "Rol del asesor (Si no es un asesor no modificar)", htmlAttributes: new { @class = "" })
                        @Html.DropDownList("NivelId", null, "No es un asesor", htmlAttributes: new { @class = "ui  selection dropdown" })
                        @Html.ValidationMessageFor(model => model.NivelId, "", new { @class = "ui error message" })
                    </div>

                    <div class="field " id="nivelUsuario">
                        <br />
                        <input type="submit" value="Crear" class="ui  large purple submit button" />
                        @if (SessionPersister.HasRol("Calidad"))
                        {
                            @Html.ActionLink("Regresar", "IndexCalidad", null, new { @class = "ui button" })
                        }
                        else if (SessionPersister.HasRol("Administrador"))
                        {
                            @Html.ActionLink("Regresar", "Index", null, new { @class = "ui button" })
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/Scripts/CreateUser.js"></script>
    <script>
        $('.message .close')
            .on('click', function () {
                $(this)
                    .closest('.message')
                    .transition('fade');
            });
    </script>
}


