﻿@using Core.Models.Security;
@model Core.Models.User.User

@{
    ViewBag.Title = "Delete";
}

@{
    ViewBag._Active = "Delete";
    ViewBag._Panel = "Home";
}


<br />
<br />
<div class=" segment">
    <h1 class="ui header">
        <img src="~/Content/images/logo1.png">
        <div class="content">
            Módulo  de eliminación  de @ViewBag.Name
            <div class="sub header">
                <div class="ui breadcrumb">
                    <a class="section" href="@Url.Action("HomeAdmin","Home")">Inicio</a>
                    <div class="divider"> / </div>
                    <a class="section" href="@Url.Action("Index")">Listar</a>
                    <div class="divider"> / </div>
                    <div class="active section" style="text-transform:lowercase">Eliminar User</div>
                </div>
            </div>
        </div>

    </h1>
    <div class="ui hidden divider"></div>

</div>



<h4 class="ui horizontal divider header">
    <button class="ui  large purple submit button">
        <i class="eraser icon"></i>
        Eliminar
    </button>

</h4>


<div class="ui grid">
    <div class="ten wide centered column">
        <div class="ui segments">
            <div class="ui purple segment purple">
                <table id="tabla" class="ui celled small hover striped table">
                    <tbody>

                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Document)
                            </td>

                            <td>
                                @Html.DisplayFor(model => model.Document)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Names)
                            </td>

                            <td>
                                @Html.DisplayFor(model => model.Names)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.LastName)
                            </td>

                            <td>
                                @Html.DisplayFor(model => model.LastName)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Phone1)
                            </td>

                            <td>
                                @Html.DisplayFor(model => model.Phone1)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Phone2)
                            </td>

                            <td>
                                @Html.DisplayFor(model => model.Phone2)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Phone3)
                            </td>

                            <td>
                                @Html.DisplayFor(model => model.Phone3)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Email)
                            </td>

                            <td>
                                @Html.DisplayFor(model => model.Email)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Status)
                            </td>

                            <td>
                                @Html.DisplayFor(model => model.Status)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.PassWord)
                            </td>

                            <td>
                                @Html.DisplayFor(model => model.PassWord)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.login)
                            </td>

                            <td>
                                @Html.DisplayFor(model => model.login)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Nivel)
                            </td>

                            <td>
                                @Html.DisplayFor(model => model.Nivel)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.CreatedAt)
                            </td>

                            <td>
                                @Html.DisplayFor(model => model.CreatedAt)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.UpdatedAt)
                            </td>

                            <td>
                                @Html.DisplayFor(model => model.UpdatedAt)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.DeletedAt)
                            </td>

                            <td>
                                @Html.DisplayFor(model => model.DeletedAt)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.CreatedBy)
                            </td>

                            <td>
                                @Html.DisplayFor(model => model.CreatedBy)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.UpdatedBy)
                            </td>

                            <td>
                                @Html.DisplayFor(model => model.UpdatedBy)
                            </td>
                        </tr>
                    </tbody>
                </table>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Eliminar" class="ui button purple" />
                        @if (SessionPersister.HasRol("Administrador"))
                        {
                            @Html.ActionLink("Regresar", "Index", null, new { @class = "ui button " })
                        }
                        else if (SessionPersister.HasRol("Gerente"))
                        {
                            @Html.ActionLink("Regresar", "IndexGerente", null, new { @class = "ui button " })
                        }
                        else if (SessionPersister.HasRol("TeamLeader"))
                        {
                            @Html.ActionLink("Regresar", "IndexTeamLeader", null, new { @class = "ui button " })
                        }
                    </div>
                }

            </div>
        </div>

    </div>
</div>





</div>
