﻿@using Core.Models.Security;
@model Core.Models.User.User

@{
    ViewBag.Title = "Edit";
}

@{
    ViewBag._Active = "Edit";
    ViewBag._Panel = "Home";
}

<br />
<br />
<div class=" segment">
    <h1 class="ui header">
        <img src="~/Content/images/logo1.png">
        <div class="content">
            Módulo  de Edición de User
            <div class="sub header">
                <div class="ui breadcrumb">
                    <a class="section" href="@Url.Action("HomeAdmin","Home")">Inicio</a>
                    <div class="divider"> / </div>
                    <a class="section" href="@Url.Action("Index")">Listar</a>
                    <div class="divider"> / </div>
                    <div class="active section" style="text-transform:lowercase">Edición de User</div>
                </div>
            </div>
        </div>

    </h1>
    <div class="ui hidden divider"></div>

</div>

@if (TempData["MensajeError"] != null)
{
    <div class="ui error  message">
        <i class="close icon"></i>
        <div class="header">
            @TempData["MensajeError"]
        </div>
    </div>
}


<h4 class="ui horizontal divider header">
    <button class="ui  large purple submit button">
        <i class="edit icon"></i>
        Editar User
    </button>

</h4>

<div class="ui grid">
    <div class="one wide column"></div>
    <div class="fourteen wide column">
        <div class="ui segments">
            <div class="ui teal segment purple">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "ui large form", autofocus = "" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="field">
                        @Html.LabelFor(model => model.Document, htmlAttributes: new { @class = "" })
                        <div class="ui mini icon input">
                            @Html.EditorFor(model => model.Document, new { htmlAttributes = new { @class = "", @readonly="readonly" } })
                            <i class="keyboard outline outline icon"></i>
                        </div>
                        @Html.ValidationMessageFor(model => model.Document, "", new { @class = "ui error message" })
                    </div>

                    <div class="field">
                        @Html.LabelFor(model => model.Names, htmlAttributes: new { @class = "" })

                        <div class="ui mini icon input">
                            @Html.EditorFor(model => model.Names, new { htmlAttributes = new { @class = "" } })
                            <i class="keyboard outline outline icon"></i>
                        </div>
                        @Html.ValidationMessageFor(model => model.Names, "", new { @class = "ui error message" })
                    </div>    

                    <div class="field">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "" })

                        <div class="ui mini icon input">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "" } })
                            <i class="keyboard outline outline icon"></i>
                        </div>

                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "ui error message" })
                    </div>

                    <div class="field">
                        @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "" })


                        <select name="Status" class="ui search selection dropdown">
                            <option value="true" @if (Model.Status == true) { Write("Selected"); }>Activo</option>
                            <option value="false" @if (Model.Status == false) { Write("Selected"); }>Inactivo</option>
                        </select>

                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "ui error message" })

                    </div>

                    <div class="field">
                        @Html.LabelFor(model => model.PassWord, htmlAttributes: new { @class = "" })

                        <div class="ui mini icon input">
                            @Html.EditorFor(model => model.PassWord, new { htmlAttributes = new { @class = "" } })
                            <i class="keyboard outline outline icon"></i>
                        </div>

                        @Html.ValidationMessageFor(model => model.PassWord, "", new { @class = "ui error message" })
                    </div>

                    <div class="field">
                        @Html.LabelFor(model => model.login, htmlAttributes: new { @class = "" })

                        <div class="ui mini icon input">
                            @Html.EditorFor(model => model.login, new { htmlAttributes = new { @class = "" } })
                            <i class="keyboard outline outline icon"></i>
                        </div>
                        @Html.ValidationMessageFor(model => model.login, "", new { @class = "ui error message" })
                    </div>

                    <div class="field">
                        <label>Campaña</label>
                        @Html.DropDownList("CampanaId", null, "Sin Seleccionar", htmlAttributes: new { @class = "ui search selection dropdown" })
                    </div>


                    <div class="field">
                        @Html.LabelFor(model => model.NivelId, "Nivel", htmlAttributes: new { @class = "" })
                        @Html.DropDownList("NivelId", null, "No es un asesor", htmlAttributes: new { @class = "ui  selection dropdown" })
                        @Html.ValidationMessageFor(model => model.NivelId, "", new { @class = "ui error message" })
                    </div>

                    <div class="field">
                        @Html.LabelFor(model => model.UserId, "TeamLeader(Dejar en blanco si no es un asesor)", htmlAttributes: new { @class = "" })
                        @Html.DropDownList("UserId", null, "Sin Seleccionar", htmlAttributes: new { @class = "ui  selection dropdown" })
                        @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "ui error message" })
                    </div>                             

                    <div class="field">
                        <br />
                        <input type="submit" value="Guardar" class="ui  large purple submit button" />
                        @if (SessionPersister.HasRol("Gerente"))
                        {
                            @Html.ActionLink("Regresar", "IndexGerente", null, new { @class = "ui button" })
                        }
                        else if (SessionPersister.HasRol("Administrador"))
                        {
                            @Html.ActionLink("Regresar", "Index", null, new { @class = "ui button" })

                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $('.message .close')
            .on('click', function () {
                $(this)
                    .closest('.message')
                    .transition('fade');
            });
    </script>


}


