﻿@using Core.Models.Security;
@model IEnumerable<Core.Models.User.User>


@{
    string teamLeader = "";
    ViewBag.Title = "Index";
}

@{
    ViewBag._Active = "Index";
    ViewBag._Panel = "Home";
}




<br />
<br />
<div class=" segment">
    <h1 class="ui header">
        <img src="~/Content/images/logo1.png">
        <div class="content">
            Módulo  Usuarios
            <div class="sub header">
                <div class="ui breadcrumb">
                    <a class="section" href="@Url.Action("HomeAdmin", "Home")">Inicio</a>
                    <div class="divider"> / </div>
                    <div class="active section" style="text-transform:lowercase">Lista  de Usuarios</div>
                </div>
            </div>
        </div>
    </h1>

    @if (TempData["Mensaje"] != null)
    {
        <div class="ui positive  message">
            <i class="close icon"></i>
            <div class="header">
                @TempData["Mensaje"]
            </div>
        </div>
    }

    <div class="ui hidden divider"></div>

    <div class="row">

        @using (Html.BeginForm("IndexCalidad", "Users"))
        {
            <a href="@Url.Action("CreateCalidad")" class="ui download purple button">
                CREAR NUEVO
            </a>
            <div class="ui hidden divider"></div>

            <div class="ui grid">
                <div class="three columns">
                    <label>Seleccione la Campaña</label><br />
                    <select class="ui dropdown" id="Campana" name="Campana" value="@ViewBag.CampañaId">
                        <option value="">Seleccione</option>
                        <option value="3">CLARO T y T</option>
                        <option value="4">CLARO GUATEMALA</option>
                        <option value="12">CLARO CGV</option>
                        <option value="5">CLARO COLOMBIA MIGRACIONES</option>
                        <option value="6">CLARO COLOMBIA PORTABILIDAD</option>
                        <option value="7">CLARO COLOMBIA PERSONAS(INBOUND)</option>
                        <option value="8">CLARO COLOMBIA PERSONAS(OUTBOUND)</option>
                        <option value="9">CLARO COLOMBIA HOGARES DIGITAL</option>
                        <option value="14">CLARO COLOMBIA PERSONAS DIGITAL</option>
                        <option value="10">CLARO COLOMBIA HOGARES(INBOUND)</option>
                        <option value="11">CLARO COLOMBIA HOGARES(OUTBOUND)</option>
                    </select>
                    <button class="btnSelect" style="display:none"></button>

                </div>

                <div class="three columns">
                    <label>Documento</label><br />
                    <div class="ui  input">
                        <input type="text" name="Documento" placeholder="Documento">
                    </div>
                </div>
            </div>
            <button class="btnSelect" style="display:none"></button>

        }

    </div>
</div>

@if (!string.IsNullOrEmpty(ViewBag.NombreCampana))
{
    <h4 class="ui horizontal divider header">
        <button class="ui  large purple submit button">
            <i class="tasks icon"></i>
            LISTA DE USUARIOS &nbsp;&nbsp;  @ViewBag.NombreCampana
        </button>
    </h4>
    <div class="ui grid">
        <div class="one wide column"></div>
        <div class="fourteen wide column">
            <div class="ui segments">
                <div class="ui teal segment purple">
                    <table id="tabla" class="ui celled small hover striped table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Document)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Names)
                                </th>
                                <th>
                                    TeamLeader
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Status)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PassWord)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.login)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Nivel)
                                </th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {

                                teamLeader = item.TeamLeader == null ? "" : item.TeamLeader.Names.ToUpper().ToString();

                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Document)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Names)
                                    </td>
                                    <td>
                                        @teamLeader
                                    </td>
                                    <td>
                                        <div class="ui toggle  checkbox">
                                            <input type="checkbox" disabled="disabled" name="public" @if (item.Status == true) { @Html.Raw("checked") ; }>
                                            <label></label>
                                        </div>
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.PassWord)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.login)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Nivel.Nombre)
                                    </td>
                                    <td>
                                        <div class="ui buttons">
                                            @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "mini ui download black button" })                                         
                                            @Html.ActionLink("Perfiles", "Roles", new { id = item.Id }, new { @class = "mini ui download purple button" })                                           
                                        </div>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

}

@section Scripts {
    <script>
        $('body').on('change', '#Campana', function () {
            $('.btnSelect').click();
        })
    </script>


    <script>
        $('.message .close')
            .on('click', function () {
                $(this)
                    .closest('.message')
                    .transition('fade')
                    ;
            });
    </script>

}
