﻿@model IEnumerable<Core.Models.User.User>

@{
    ViewBag.Title = "Index";
    string teamLeader = "";

}

@{
    ViewBag._Active = "Index";
    ViewBag._Panel = "Home";
}


<br />
<br />
<div class=" segment">
    <h1 class="ui header">
        <img src="~/Content/images/logo1.png">
        <div class="content">
            Módulo  Administradores
            <div class="sub header">
                <div class="ui breadcrumb">
                    <a class="section" href="@Url.Action("HomeAdmin","Home")">Inicio</a>
                    <div class="divider"> / </div>
                    <div class="active section" style="text-transform:lowercase">Listado  de Auditores</div>
                </div>
            </div>
        </div>
    </h1>
    <div class="ui hidden divider"></div>
    <div class="row">
        <form action="" method="get">
            <div class="ui grid">

                <div class="three columns">
                    <label>Seleccione la Campaña</label><br />
                    @Html.DropDownList("CampanaId", null, "Sin Seleccionar", htmlAttributes: new { @class = "ui dropdown" })

                </div>
            </div>

            <button id="btnSelect" style="display:none"></button>

        </form>
    </div>
</div>
<h4 class="ui horizontal divider header">
    <button class="ui  large purple submit button">
        <i class="tasks icon"></i>
        LISTADO DE AUDITORES @ViewBag.NombreCampana
    </button>
</h4>
<div class="ui grid">
        <div class="one wide column"></div>
        <div class="fourteen wide column">
            <div class="ui segments">
                <div class="ui teal segment purple">
                    <table id="tabla" class="ui celled small hover striped table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Document)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Names)
                                </th>  
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {                             
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Document)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Names)
                                    </td>                                 
                                    <td>
                                        <div class="ui button">
                                            @Html.ActionLink("Ver listado de Auditados", "IndexListadoAuditados", "Users", new { usuarioId = item.Id }, new { @class = "mini ui download purple button" })
                                        </div>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    @section Scripts {
        <script>
            $('body').on('change', '#CampanaId', function () {
                $('#btnSelect').click();
            })
        </script>
    }