﻿@model IEnumerable<tmkhogares.ViewModel.AuditadosVM>

@{
    ViewBag.Title = "Index";
    string teamLeader = "";

}

@{
    ViewBag._Active = "Index";
    ViewBag._Panel = "Home";
}


<br />
<br />
<div class=" segment">
    <h1 class="ui header">
        <img src="~/Content/images/logo1.png">
        <div class="content">
            Módulo  Administradores
            <div class="sub header">
                <div class="ui breadcrumb">
                    <a class="section" href="@Url.Action("HomeAdmin","Home")">Inicio</a>
                    <div class="divider"> / </div>
                    <div class="active section" style="text-transform:lowercase">Listado  de usuarios Auditados</div>
                </div>
            </div>
        </div>
    </h1>
    <div class="ui hidden divider"></div>
</div>
<h4 class="ui horizontal divider header">
    <button class="ui  large purple submit button">
        <i class="tasks icon"></i>
        LISTADO DE USUARIOS AUDITADOS POR : @ViewBag.NombreAuditor
    </button>
</h4>
<div class="ui grid">
    <div class="one wide column"></div>
    <div class="fourteen wide column">
        <div class="ui segments">
            <div class="row" style="margin-bottom: 10px; margin-top: 10px;">
                <a class="section" href="@Url.Action("IndexListadoAuditados","Users", new { usuarioId = ViewBag.UsuarioId, estado = 1 })"><label style="font-size:18px; color: red; cursor:pointer">Pendientes FeedBack: @ViewBag.TotalPendientesFeedBack</label></a>
                &nbsp;&nbsp;&nbsp;
                <a class="section" href="@Url.Action("IndexListadoAuditados","Users", new { usuarioId = ViewBag.UsuarioId, estado = 0 })"><label style="font-size:18px; color: forestgreen; cursor:pointer">No Pendientes FeedBack: @ViewBag.TotalNoPendientesFeedBack</label></a>
            </div>

            <div class="ui teal segment purple">

                <table id="tabla" class="ui celled small hover striped table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Documento)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Nombre)
                            </th>
                            <th>
                                Fecha de Monitoreo
                            </th>
                            <th>
                                Teaml Leader
                            </th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Documento)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FechaMonitoreo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TeamLeader)
                                </td>
                                <td>
                                    <div class="ui button">
                                        @Html.ActionLink("Detalle", "DetailsAuditados", "Calificaciones", new { id = item.CalificacionId, FormularioId = item.FormularioId, auditorId = item.AuditorId }, new { @class = "mini ui download purple button" })
                                        @Html.ActionLink("Regresar", "IndexListadoAuditores", "Users", new { CampanaId = item.CampanaId }, new { @class = "mini ui download black button" })

                                    </div>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        $('body').on('change', '#CampanaId', function () {
            $('#btnSelect').click();
        })
    </script>
}