﻿@using Core.Models.Security;
@model IEnumerable<Core.Models.User.User>

@{
    ViewBag.Title = "Index";
}

@{
    ViewBag._Active = "Index";
    ViewBag._Panel = "Home";
}




<br />
<br />
<div class=" segment">
    <h1 class="ui header">
        <img src="~/Content/images/logo1.png">
        <div class="content">
            Módulo  Usuarios
            <div class="sub header">
                <div class="ui breadcrumb">
                    <a class="section" href="@Url.Action("HomeAdmin", "Home")">Inicio</a>
                    <div class="divider"> / </div>
                    <div class="active section" style="text-transform:lowercase">Lista  de Usuarios</div>
                </div>
            </div>
        </div>
    </h1>
    <div class="ui hidden divider"></div>
    <form action="" method="get">
        @if (SessionPersister.HasRol("TeamLeader"))
        {
            <a href="@Url.Action("CreateTeamLeader")" class="ui download purple button">
                CREAR NUEVO
            </a>
        }else
        {
            <a href="@Url.Action("Create")" class="ui download purple button">
                CREAR NUEVO
            </a>
        }

        <div class="ui action input">
            <input type="text" name="Document" placeholder="Documento" value="@ViewBag.FName">
            <button class="ui icon button" id="btnCon">
                <i class="search icon"></i>
            </button>
        </div>
    </form>
</div>
<h4 class="ui horizontal divider header">
    <button class="ui  large purple submit button">
        <i class="tasks icon"></i>
        LISTA DE USUARIOS
    </button>
</h4>
<div class="ui grid">
    <div class="one wide column"></div>
    <div class="fourteen wide column">
        <div class="ui segments">
            <div class="ui teal segment purple">
                <table id="tabla" class="ui celled small hover striped table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Document)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Names)
                            </th>                          
                            <th>
                                @Html.DisplayNameFor(model => model.Status)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PassWord)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.login)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Nivel)
                            </th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Document)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Names)
                                </td>                                
                                <td>
                                    <div class="ui toggle  checkbox">
                                        <input type="checkbox" disabled="disabled" name="public" @if (item.Status == true) { @Html.Raw("checked") ; }>
                                        <label></label>
                                    </div>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PassWord)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.login)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nivel.Nombre)
                                </td>
                                <td>
                                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "ui download black button" })
                                    @Html.ActionLink("Detalle", "Details", new { id = item.Id }, new { @class = "ui download  button" })
                                    @Html.ActionLink("Perfiles", "Roles", new { id = item.Id }, new { @class = "ui download purple button" })
                                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, new { @class = "ui download black button" })

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
