﻿@model Core.Models.User.UserRol



@{
    /**/

    ViewBag.Title = "Index";
}

@{
    ViewBag._Active = "Roles";
    ViewBag._Panel = "User";
}

<br />
<br />
<div class=" segment">
    <h1 class="ui header">
        <img src="~/Content/images/logo1.png">
        <div class="content">
            Módulo  de creación de roles
            <div class="sub header">
                <div class="ui breadcrumb">
                    <a class="section" href="@Url.Action("HomeAdmin","Home")">Inicio</a>
                    <div class="divider"> / </div>
                    <a class="section" href="@Url.Action("Index")">Listar</a>
                    <div class="divider"> / </div>
                    <div class="active section" style="text-transform:lowercase">Creación de Roles</div>
                </div>
            </div>
        </div>

    </h1>
    <div class="ui hidden divider"></div>

</div>

<h4 class="ui horizontal divider header">
    <button class="ui  large purple submit button">
        <i class="computer icon"></i>
        CREAR ROL
    </button>

</h4>


<div class="ui grid">
    <div class="one wide column"></div>
    <div class="fourteen wide column">
        <div class="ui segments tc">
            <div class="ui teal segment purple">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "ui large form", autofocus = "" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="field">
                        @Html.LabelFor(model => model.RolId, "Rol", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("RolId", null, "Sin Seleccionar", htmlAttributes: new { @class = "ui  selection dropdown" })
                            @Html.ValidationMessageFor(model => model.RolId, "", new { @class = "text-danger" })
                        </div>
                        <input type="hidden" name="UserId" value="@ViewBag.Id" />
                        <input type="hidden" name="Name" value="@ViewBag.Name" />
                    </div>
                    <div class="field" id="nivelUsuario">
                        <br />
                        <input type="submit" value="Crear" class="ui  large submit purple button" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="ui grid">
    <div class="one wide column"></div>
    <div class="fourteen wide column">
        <div class="ui segments">
            <div class="ui teal segment tc purple">
                <table id="tabla" class="ui celled small hover striped table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Rol.Name)
                            </th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (Core.Models.User.UserRol item in ViewBag.UsersRol)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Rol.Name)
                                </td>
                                <td>
                                    @using (Html.BeginForm("DeleteRol", "Users", new { Id = item.Id }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <div class="form-actions no-color">
                                            <input type="submit" value="Delete" class="ui download black button" />
                                        </div>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        @Html.ActionLink("Regresar", "Index", null, new { @class = "ui  submit button" })

    </div>

</div>

@section Scripts {
    <script>
        $(".tc").css("text-align", "center");
    </script>
}