﻿@model tmkhogares.Models.Campañas.Formulario

@{
                /**/

                ViewBag.Title = "Create";
}

@{
    ViewBag._Active = "Create";
    ViewBag._Panel = "Create";
}




<br />
<br />
<div class=" segment">
    <h1 class="ui header">
        <img src="~/Content/images/logo1.png">
        <div class="content">
            Módulo  de creación de Formulario
            <div class="sub header">
                <div class="ui breadcrumb">
                    <a class="section" href="@Url.Action("HomeAdmin","Home")">Inicio</a>
                    <div class="divider"> / </div>
                    <a class="section" href="@Url.Action("Index",new { id = ViewBag.CampId })">Listar</a>
                    <div class="divider"> / </div>
                    <div class="active section" style="text-transform:lowercase">Creación de Formulario</div>
                </div>
            </div>
        </div>

    </h1>
    <div class="ui hidden divider"></div>

</div>

<h4 class="ui horizontal divider header">
    <button class="ui  large purple submit button">
        <i class="computer icon"></i>
        CREAR Formulario
    </button>

</h4>


<div class="ui grid">
    <div class="one wide column"></div>
    <div class="fourteen wide column">
        <div class="ui segments">
            <div class="ui teal segment purple">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "ui large form", autofocus = "" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="field">
                        @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "" })

                        <div class="ui mini icon input">
                            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "" } })
                            <i class="keyboard outline outline icon"></i>
                        </div>

                        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "ui error message" })
                    </div>
                    <div class="field">
                        @Html.LabelFor(model => model.NivelAsesor, "Nivel Formulario", htmlAttributes: new { @class = "" })
                        @Html.DropDownList("NivelAsesor", null, "Seleccione una nivel", htmlAttributes: new { @class = "ui  selection dropdown" })
                        @Html.ValidationMessageFor(model => model.NivelAsesor, "", new { @class = "ui error message" })
                    </div>
                    <div class="field">
                        @Html.LabelFor(model => model.TipoRol, "Tipo Usuario", htmlAttributes: new { @class = "" })
                        <select class="ui selection dropdown" name="TipoRol">
                            <option>Seleccione un tipo de usuario</option>
                            <option value="C2FA35E2-1FAF-4F68-945D-9F5262484ED1">Calidad</option>
                            <option value="B0A06B9B-FB6E-4195-BC1C-AD84AD9A194D">Team Leader</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.TipoRol, "", new { @class = "ui error message" })
                    </div>
                    <div class="field">
                        @Html.LabelFor(model => model.PorcentajeProceso, "Porcentaje Proceso", htmlAttributes: new { @class = "" })

                        <div class="ui mini icon input">
                            @Html.EditorFor(model => model.PorcentajeProceso, new { htmlAttributes = new { @class = "", @type="number" } })
                            <i class="keyboard outline outline icon"></i>
                        </div>

                        @Html.ValidationMessageFor(model => model.PorcentajeProceso, "", new { @class = "ui error message" })
                    </div>
                    <div class="field">
                        @Html.LabelFor(model => model.PorcentajeGeneral, "Porcentaje General", htmlAttributes: new { @class = "" })

                        <div class="ui mini icon input">
                            @Html.EditorFor(model => model.PorcentajeGeneral, new { htmlAttributes = new { @class = "", @type = "number" } })
                            <i class="keyboard outline outline icon"></i>
                        </div>

                        @Html.ValidationMessageFor(model => model.PorcentajeGeneral, "", new { @class = "ui error message" })
                    </div>
                    <input type="hidden" name="CampanaId" value="@ViewBag.CampId" />
                    <div class="field">
                        <br />
                        <input type="submit" value="Crear" class="ui  large purple submit button" />
                        @Html.ActionLink("Regresar", "Index", new { id = ViewBag.CampId }, new { @class = "ui download black button" })

                    </div>
                }
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
