﻿@model IEnumerable<tmkhogares.Models.Campañas.Formulario>

@{
    ViewBag.Title = "Index";
}

@{
    ViewBag._Active = "Index";
    ViewBag._Panel = "Home";
    var campanaId = ViewBag.CampanaId;
}




<br />
<br />
<div class=" segment">
    <h1 class="ui header">
        <img src="~/Content/images/logo1.png">
        <div class="content">
            Módulo  de Lista  de Formulario
            <div class="sub header">
                <div class="ui breadcrumb">
                    <a class="section" href="@Url.Action("HomeAdmin","Home")">Inicio</a>
                    <div class="divider"> / </div>
                    <div class="active section" style="text-transform:lowercase">Lista  de Formulario</div>
                </div>
            </div>
        </div>
    </h1>
    <div class="ui hidden divider"></div>

    @if (TempData["Mensaje"] != null)
    {
        <div class="ui error  message">
            <i class="close icon"></i>
            <div class="header">
                @TempData["Mensaje"]
            </div>
        </div>
    }

    <input type="hidden" id="campanaId" name="campanaId" value="@campanaId" />
    <form action="" method="get">
        <a href="@Url.Action("create/"+ViewBag.CampanaId)" class="ui download purple button">
            ASIGNAR NUEVO FORMULARIO
        </a>

        @Html.DropDownList("FormularioId", null, "ASIGNAR FORMULARIO EXISTENTE", htmlAttributes: new { @class = "ui  selection dropdown" })

    </form>
</div>
<h4 class="ui horizontal divider header">
    <button class="ui  large purple submit button">
        <i class="tasks icon"></i>
        LISTA DE Formulario
    </button>

</h4>



<div class="ui grid">
    <div class="one wide column"></div>
    <div class="fourteen wide column">
        <div class="ui segments">
            <div class="ui teal segment purple">
                <table id="tabla" class="ui celled small hover striped table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Campana.Nombre)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Nombre)
                            </th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Campana.Nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nombre)
                                </td>
                                <td>
                                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "ui download purple button" })
                                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, new { @class = "ui download black button" })
                                    @Html.ActionLink("Estandares", "Index", "Estandares", new { id = item.Id }, new { @class = "ui download purple button" })

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@section Scripts {

    <script>
        $('.message .close')
            .on('click', function () {
                $(this)
                    .closest('.message')
                    .transition('fade');
            });

        $('body').on('change', '#FormularioId', function () {

            var padreId = $(this).val();
            var id = $('#campanaId').val();

            if (confirm('Está seguro asignar este formulario a la campaña?')) window.location.href = "/Campanas/AsignarCampanaPadre?id=" + id + "&padreId=" + padreId;

        });
    </script>

}

