﻿@model IEnumerable<Core.Models.User.User>

@{
    tmkhogares.Models.Calificacion.MetodosCalificacion metodosCalificacion = new tmkhogares.Models.Calificacion.MetodosCalificacion();
    string teamLeader = "";
    ViewBag.Title = "Index";
}
@{
    ViewBag._Active = "Index";
    ViewBag._Panel = "Home";
}

<br />
<br />
<div class=" segment">
    <h1 class="ui header">
        <img src="~/Content/images/logo1.png">
        <div class="content">
            Módulo  Asesores
            <div class="sub header">
                <div class="ui breadcrumb">
                    <a class="section" href="@Url.Action("HomeAdmin","Home")">Inicio</a>
                    <div class="divider"> / </div>
                    <div class="active section" style="text-transform:lowercase">Lista  de Asesores</div>
                </div>
            </div>
        </div>
    </h1>
    <div class="ui hidden divider"></div>
    <form action="" method="get">
        <div class="ui action input">
            <input type="text" name="Documento" placeholder="Ingrese un Documento" value="@ViewBag.Documento">
            <button class="ui icon button" id="btnCon">
                <i class="search icon"></i>
            </button>
        </div>
    </form>
</div>
<h4 class="ui horizontal divider header">
    <button class="ui  large purple submit button">
        <i class="tasks icon"></i>
        LISTA DE USUARIOS &nbsp;&nbsp;  @ViewBag.NombreCampana
    </button>
</h4>
<div class="ui grid">
    <div class="one wide column"></div>
    <div class="fourteen wide column">
        <div class="ui segments">
            <div class="ui teal segment purple">
                <table id="tabla" class="ui celled small hover striped table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Document)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Names)
                            </th>
                            <th>
                                TeamLeader
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Nivel)
                            </th>
                            <th>
                                Promedio ultimo mes (Calidad)
                            </th>
                            <th>
                                Ultima Nota (Calidad)
                            </th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            teamLeader = item.TeamLeader == null ? "" : item.TeamLeader.Names.ToUpper().ToString();

                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Document)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Names)
                                </td>
                                <td>
                                    @teamLeader
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nivel.Nombre)
                                </td>
                                <td>
                                    @metodosCalificacion.ObtenerCalifiacionesRestantes(item.login)
                                </td>
                                <td>
                                    @metodosCalificacion.ObtenerUltimaCalifiacion(item.login)
                                </td>
                                <td>
                                    @Html.ActionLink("Monitoreo", "Index", new { id = item.Id }, new { @class = "mini ui download purple button" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
