﻿@model IEnumerable<Core.Models.User.User>
@using tmkhogares.Constantes;

@{
    tmkhogares.Models.Calificacion.MetodosCalificacion metodosCalificacion = new tmkhogares.Models.Calificacion.MetodosCalificacion();

    ViewBag.Title = "Index";
    string teamLeader = "";

}
@{
    ViewBag._Active = "Index";
    ViewBag._Panel = "Home";
}

<br />
<br />
<div class=" segment">
    <h1 class="ui header">
        <img src="~/Content/images/logo1.png">
        <div class="content">
            Módulo  Asesores
            <div class="sub header">
                <div class="ui breadcrumb">
                    <a class="section" href="@Url.Action("HomeAdmin","Home")">Inicio</a>
                    <div class="divider"> / </div>
                    <div class="active section" style="text-transform:lowercase">Lista  de Asesores</div>
                </div>
            </div>
        </div>
    </h1>
    <div class="ui hidden divider"></div>
    <div class="row">
        <form action="" method="get">
            <div class="ui grid">

                <div class="three columns">
                    <label>Seleccione la Campaña a Monitorear</label><br />
                    @Html.DropDownList("Campana", null, "Sin Seleccionar", htmlAttributes: new { @class = "ui dropdown" })

                </div>

                <div class="three columns">
                    <label>Documento</label><br />
                    <div class="ui input">
                        <input type="text" name="Documento" placeholder="Ingrese un Documento">
                    </div>
                </div>
            </div>

            <button id="btnSelect" style="display:none"></button>

        </form>
    </div>
</div>



@if (!string.IsNullOrEmpty(ViewBag.NombreCampana))
{

    <h4 class="ui horizontal divider header">
        <button class="ui  large purple submit button">
            <i class="tasks icon"></i>
            LISTA DE USUARIOS &nbsp;&nbsp;  @ViewBag.NombreCampana
        </button>
    </h4>
    <div class="ui grid">
        <div class="one wide column"></div>
        <div class="fourteen wide column">
            <div class="ui segments">
                <div class="ui teal segment purple">
                    <table id="tabla" class="ui celled small hover striped table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Document)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Names)
                                </th>
                                <th>
                                    TeamLeader
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Nivel)
                                </th>
                                <th>
                                    Promedio ultimo mes
                                </th>
                                <th>
                                    Ultima Nota
                                </th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {

                                teamLeader = item.TeamLeader == null ? "" : item.TeamLeader.Names.ToUpper().ToString();

                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Document)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Names)
                                    </td>
                                    <td>
                                        @teamLeader
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Nivel.Nombre)
                                    </td>
                                    <td>
                                        @metodosCalificacion.ObtenerCalifiacionesRestantes(item.login)
                                    </td>
                                    <td>
                                        @metodosCalificacion.ObtenerUltimaCalifiacion(item.login)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Monitoreo", "Create", new { Id = item.Id, primerCampanaId = ViewBag.CampañaId, FormularioId = ViewBag.FormularioId }, new { @class = "mini ui download purple button" })
                                  
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

}


@section Scripts {
    <script>
        $('body').on('change', '#Campana', function () {
            $('#btnSelect').click();
        })
    </script>
}

