﻿@using Core.Models.Security;
@using tmkhogares.Constantes;
@model  IEnumerable<tmkhogares.Models.Estandares.Estandar>


@{

    ViewBag.Title = "Create";
}

@{
    ViewBag._Active = "Create";
    ViewBag._Panel = "Create";
}
<style>
    .hidden {
        display: none;
    }
</style>
<br />
<br />
<div class=" segment">
    <h1 class="ui header">
        <img src="~/Content/images/logo1.png">
        <div class="content">
            Módulo  de creación de Calificacion
            <div class="sub header">
                <div class="ui breadcrumb">
                    <a class="section" href="@Url.Action("HomeAdmin","Home")">Inicio</a>
                    <div class="divider"> / </div>
                    <a class="section" href="@Url.Action("Index",new {Id = ViewBag.IdAsesor})">Listar</a>
                    <div class="divider"> / </div>
                    <div class="active section" style="text-transform:lowercase">Creación de Calificacion</div>
                </div>
            </div>
        </div>

    </h1>
    <div class="ui hidden divider"></div>
</div>
@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = " twelve wide column", autofocus = "", @id = "formCalificacion" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="ui grid ">
        <div class="two wide column"></div>

        <div class="twelve wide column">

            <div class="six wide column">
                <div class="ui segments">
                    <div class="grabacion ui teal segment purple">
                        <table class="ui celled table">
                            <thead>
                                <tr>
                                    <th>Telefono Grabacion</th>
                                    <th>IdGrabacion</th>
                                    <th>Fecha de Llamada</th>                                   
                                    <th>Duración TMO</th>

                                    @if (ViewBag.CampanaId == Campanas.TRAFICO_INBOUND
                                        || ViewBag.CampanaId == Campanas.SEGUNDO_ANILLO
                                        || ViewBag.CampanaId == Campanas.TERCER_ANILLO_HOGAR
                                        || ViewBag.CampanaId == Campanas.TERCER_ANILLO_MOVIL
                                        || ViewBag.CampanaId == Campanas.LEALTAD
                                        )
                                    {
                                        <th>Segmento(Hogar/Movil)</th>
                                    }
                                </tr>
                            </thead>
                            <tbody class="ui form">
                                <tr>

                                    <td>
                                        <input type="text" required id="telefonoGrabacion" name="telefonoGrabacion" value="" />
                                    </td>
                                    <td>
                                        <input type="text" required id="idGrabacion" name="idGrabacion" value="" />
                                    </td>
                                    <td>
                                        <input type="datetime-local" required id="fechaLlamada" name="fechaLlamada" value="" />
                                    </td>                                
                                    <td>
                                        <input type="number" id="duracionTMO" name="duracionTMO" value="" />
                                    </td>

                                    @if (ViewBag.CampanaId == Campanas.TRAFICO_INBOUND
                                       || ViewBag.CampanaId == Campanas.SEGUNDO_ANILLO
                                       || ViewBag.CampanaId == Campanas.TERCER_ANILLO_HOGAR
                                       || ViewBag.CampanaId == Campanas.TERCER_ANILLO_MOVIL
                                       || ViewBag.CampanaId == Campanas.LEALTAD
                                       )
                                    {
                                        <td>
                                            <div class="ui procede">
                                                <select class="ui search selection dropdown" name="segmento" id="segmento">
                                                    <option value="HOGAR">Hogar</option>
                                                    <option value="MOVIL">Movil</option>
                                                </select>
                                            </div>
                                        </td>
                                    }

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h4 class="ui horizontal divider header">
        <button class="ui  large purple submit button ">
            <i class="computer icon"></i>
            Monitoreo Usuario @ViewBag.NombreAsesor
        </button>

    </h4>
    <div class="ui grid">
        <div class="two wide column"></div>

        <div class="twelve wide column">
            <div class="ui segments">
                <div class="ui teal segment purple" style="text-align:center;">
                    @foreach (var item in Model)
                    {
                        <h1 class="tituloEstandar">@item.Nombre</h1>
                        <table id="tabla" class="ui celled small hover striped table">
                            <thead>
                            <th>Atributo</th>
                            <th>Calificacion %</th>
                            <th>Descripcion</th>
                            <th>Es Critico</th>
                            </thead>
                            <tbody>
                                @foreach (var item2 in item.Atributos.Where(a => a.EstandarId == item.Id && a.Estado).OrderBy(a => a.Posicion))
                                {

                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item2.Nombre)
                                        </td>
                                        <td>
                                            @if (item2.TipoAtributoId == Guid.Parse(TipoAtributo.GENERICO))
                                            {
                                                <select required name="name-@item2.Id" class="select-css pesoSelect" data-estandar="@item.Id">

                                                    <option data-seleccion="F834FE77-633B-4BF4-950E-BB12EA12BF77" data-atributoid="@item2.Id" data-posicion="@item2.Posicion" data-tipoid="@item2.TipoAtributoId">5</option>
                                                    <option data-seleccion="F00A5CAF-DC96-4CF4-A7B2-ADC232CC89A4" data-atributoid="@item2.Id" data-posicion="@item2.Posicion" data-tipoid="@item2.TipoAtributoId">4</option>
                                                    <option data-seleccion="11698050-D6CB-4328-A2ED-52FA2A17EF26" data-atributoid="@item2.Id" data-posicion="@item2.Posicion" data-tipoid="@item2.TipoAtributoId">3</option>
                                                    <option data-seleccion="462ACFB9-9FAD-4B2E-B82B-C7FCFD532C52" data-atributoid="@item2.Id" data-posicion="@item2.Posicion" data-tipoid="@item2.TipoAtributoId">2</option>
                                                    <option data-seleccion="AB5221B2-826C-4069-8283-599F07E88491" data-atributoid="@item2.Id" data-posicion="@item2.Posicion" data-tipoid="@item2.TipoAtributoId">1</option>

                                                </select>
                                            }
                                            else
                                            {
                                                <select required name="name-@item2.Id" class="select-css pesoSelect" data-estandar="@item.Id">
                                                    <option data-seleccion="@Calificacion.NoAplica" data-atributoid="@item2.Id" data-posicion="@item2.Posicion" data-tipoid="@item2.TipoAtributoId">No Aplica</option>
                                                    <option data-seleccion="@Calificacion.Cumple" data-atributoid="@item2.Id" data-posicion="@item2.Posicion" data-tipoid="@item2.TipoAtributoId">Cumple</option>
                                                    <option data-seleccion="@Calificacion.NoCumple" data-atributoid="@item2.Id" data-posicion="@item2.Posicion" data-tipoid="@item2.TipoAtributoId">No Cumple</option>

                                                </select>
                                            }

                                        </td>
                                        <td style="text-align:center;">
                                            <textarea class="descripcionAtributo" cols="60" rows="4"></textarea>
                                        </td>
                                        <td>
                                            @if (item2.TipoAtributoId == new Guid(TipoAtributo.CRITICO))
                                            {
                                                <a class="ui red tag label">Critico</a>
                                            }
                                            else
                                            {
                                                <a class="ui  tag label">No Critico</a>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }

                    <h4>Descripcion General</h4>
                    <textarea required name="descripcionGeneral" id="descripcionGeneral" cols="80" rows="5"></textarea>
                    <br />
                    
                    <h4>Aspectos a mejorar</h4>
                    <textarea required name="comentariosAsesor" id="comentariosAsesor" cols="80" rows="5"></textarea>



                    @if (
                           ViewBag.CampanaId != Campanas.CLARO_CGV
                        && ViewBag.CampanaId != Campanas.CLARO_TYT
                        && ViewBag.CampanaId != Campanas.SEGUNDO_ANILLO
                        && ViewBag.CampanaId != Campanas.TERCER_ANILLO_MOVIL
                        && ViewBag.CampanaId != Campanas.TERCER_ANILLO_HOGAR
                        && ViewBag.CampanaId != Campanas.LEALTAD
                        && ViewBag.CampanaId != Campanas.TRAFICO_INBOUND
                        && SessionPersister.HasRol("Calidad")
                        )
                    {
                        <h4>Tipo Monitoreo</h4>
                        <select name="TipoMonitoreo" id="tipoMonitoreo" class="ui search selection dropdown">
                            <option value="MONITOREO">MONITOREO</option>
                            <option value="PQR">PQR</option>
                            <option value="MEC">MEC</option>
                        </select>

                        <div class="ui procede" style="display:none;">
                            <h4>Procede?</h4>
                            <select class="ui search selection dropdown" name="procede" id="procede">
                                <option value="No">No</option>
                                <option value="Si">Si</option>
                            </select>
                        </div>

                        <div id="venta">
                            <h4>Es venta?</h4>
                            <select name="esVenta" id="esVenta" class="ui search selection dropdown">
                                <option value="0">No</option>
                                <option value="1">Si</option>
                            </select>
                        </div>

                        <div id="ventaContado" style="display:none;">
                            <h4>Venta Contado</h4>
                            <select name="esVentaContado" id="esVentaContado" class="ui search selection dropdown">
                                <option value="NA">N/A</option>
                                <option value="SI">SI</option>
                                <option value="NO">NO</option>
                            </select>
                        </div>

                        <div id="tipoVenta" style="display:none;">
                            <h4>Tipo Venta</h4>
                            <select name="esVentaFinaciada" id="esVentaFinaciada" class="ui search selection dropdown">
                                <option value="Piloto Nuevo">N/A</option>
                                <option value="Alianzas financieras">Alianzas financieras</option>
                                <option value="Pin de pagos">Pin de pagos</option>
                                <option value="Venta asistida">Venta asistida</option>
                            </select>
                        </div>

                        <h4>Es Todo Claro</h4>
                        <select name="esTodoClaro" id="esTodoClaro" class="ui search selection dropdown">
                            <option value="No">No</option>
                            <option value="Si">Si</option>
                        </select>

                        <h4>Utiliza guión de Bienvenida</h4>
                        <select name="utilizaGuionBienvenida" id="utilizaGuionBienvenida" class="ui search selection dropdown">
                            <option value="No">No</option>
                            <option value="Si">Si</option>
                        </select>

                        <h4>Utiliza guión de Despedida</h4>
                        <select name="utilizaGuionDespedida" id="utilizaGuionDespedida" class="ui search selection dropdown">
                            <option value="No">No</option>
                            <option value="Si">Si</option>
                        </select>
                    }


                    @if (ViewBag.CampanaId == Campanas.CLARO_TYT && SessionPersister.HasRol("Calidad"))
                    {
                        <h4>Tipo Monitoreo</h4>
                        <select name="tipoMonitoreo" id="tipoMonitoreo" class="ui search selection dropdown">
                            <option value="MONITOREO">MONITOREO</option>
                            <option value="PQR">PQR</option>
                            <option value="MEC">MEC</option>
                        </select>

                        <div class="ui procede" style="display:none;">
                            <h4>Procede?</h4>
                            <select class="ui search selection dropdown" name="procede" id="procede">
                                <option value="No">No</option>
                                <option value="Si">Si</option>
                            </select>
                        </div>

                        <div id="venta">
                            <h4>Es venta?</h4>
                            <select name="esVenta" id="esVenta" class="ui search selection dropdown">
                                <option value="0">No</option>
                                <option value="1">Si</option>
                            </select>
                        </div>

                        <div id="ventaContado" style="display:none;">
                            <h4>Venta Contado</h4>
                            <select name="esVentaContado" id="esVentaContado" class="ui search selection dropdown">
                                <option value="NA">N/A</option>
                                <option value="SI">SI</option>
                                <option value="NO">NO</option>
                            </select>
                        </div>

                        <div id="tipoVenta" style="display:none;">
                            <h4>Tipo Venta</h4>
                            <select name="esVentaFinaciada" id="esVentaFinaciada" class="ui search selection dropdown">
                                <option value="Piloto Nuevo">N/A</option>
                                <option value="Alianzas financieras">Alianzas financieras</option>
                                <option value="Pin de pagos">Pin de pagos</option>
                                <option value="Venta asistida">Venta asistida</option>
                            </select>
                        </div>

                        <h4>Claro Up</h4>
                        <select name="esVentaClaroUp" id="esVentaClaroUp" class="ui search selection dropdown">
                            <option value="No">No</option>
                            <option value="Si">Si</option>
                        </select>
                    }



                    @if ((ViewBag.CampanaId == Campanas.SEGUNDO_ANILLO
                            || ViewBag.CampanaId == Campanas.TERCER_ANILLO_MOVIL
                            || ViewBag.CampanaId == Campanas.TERCER_ANILLO_HOGAR
                            || ViewBag.CampanaId == Campanas.LEALTAD)
                            && SessionPersister.HasRol("Calidad"))
                    {
                        <h4>Tipo Monitoreo</h4>
                        <select name="tipoMonitoreo" id="tipoMonitoreo" class="ui search selection dropdown">
                            <option value="MONITOREO">MONITOREO</option>
                            <option value="INTERNO">INTERNO</option>
                            <option value="MEC">MEC</option>
                            <option value="NPS">NPS</option>
                            <option value="LLC">LLC</option>
                            <option value="RTC">RTC</option>
                            <option value="TTE">TTE</option>
                        </select>

                        <div class="ui">
                            <h4>Es Retenido?</h4>
                            <select class="ui search selection dropdown" name="esRetenido" id="esRetenido">
                                <option value="No">No</option>
                                <option value="Si">Si</option>
                                <option value="N/A">N/A</option>
                            </select>
                        </div>

                        <h4>Ciudad</h4>
                        <select name="ciudad" id="ciudad" class="ui search selection dropdown">
                            <option value="MANIZALES">MANIZALES</option>
                            <option value="PEREIRA">PEREIRA</option>
                        </select>

                        <h4>Marcación</h4>
                        <textarea required name="marcacion" id="marcacion" cols="80" rows="2"></textarea>

                        <h4>Tipología</h4>
                        <textarea required name="tipologia" id="tipologia" cols="80" rows="2"></textarea>

                    }

                    @if (ViewBag.CampanaId == Campanas.TRAFICO_INBOUND)
                    {
                        <h4>Tipo Monitoreo</h4>
                        <select name="tipoMonitoreo" id="tipoMonitoreo" class="ui search selection dropdown">
                            <option value="INTERNO">INTERNO</option>
                            <option value="MEC">MEC</option>
                            <option value="NPS">NPS</option>
                            <option value="TTE">TTE</option>
                        </select>

                        <h4>SubCampaña</h4>
                        <select name="subCampana" id="subCampana" class="ui search selection dropdown">
                            <option value="FACTURA">FACTURA</option>
                            <option value="PQR">PQR</option>
                            <option value="SERVICIO">SERVICIO</option>
                            <option value="SOPORTE">SOPORTE</option>
                            <option value="DTH">DTH</option>
                            <option value="FTTH">FTTH</option>
                        </select>

                        <h4>Ciudad</h4>
                        <select name="ciudad" id="ciudad" class="ui search selection dropdown">
                            <option value="MANIZALES">MANIZALES</option>
                            <option value="PEREIRA">PEREIRA</option>
                        </select>

                        <h4>Motivo de Consulta</h4>
                        <textarea name="motivoConsulta" id="motivoConsulta" cols="80" rows="3"></textarea>

                        <h4>Marcación</h4>
                        <textarea required name="marcacion" id="marcacion" cols="80" rows="3"></textarea>

                        <h4>Tipología</h4>
                        <textarea required name="tipologia" id="tipologia" cols="80" rows="2"></textarea>
                    }

                    <br />

                    <div class="field">
                        <br />
                        <input type="button" value="calificar" id="btnCalificar" class="ui  large purple submit button" />
                        @Html.ActionLink("Regresar", "Index", new { Id = ViewBag.IdAsesor }, new { @class = "ui button" })
                    </div>

                    <input type="hidden" name="AsesorId" id="asesorId" value="@ViewBag.IdAsesor" />
                    <input type="hidden" name="UsuarioCalidadId" id="calidadId" value="@ViewBag.IdCalidad" />
                    <input type="hidden" name="CampañaId" id="campanaId" value="@ViewBag.CampanaId" />
                    <input type="hidden" name="FormularioId" id="formularioId" value="@ViewBag.FormularioId" />
                    <input type="hidden" name="loginAsesor" id="loginAsesor" value="@ViewBag.LoginAsesor" />
                </div>
            </div>
        </div>
    </div>
}
@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript" src="~/Scripts/calificarUsuario.js?v=@DateTime.Now"></script>

    <script type="text/javascript" src="~/Scripts/app/Reproduccion.js"></script>

}


