﻿@using Core.Models.Security;
@model IEnumerable<tmkhogares.Models.Estandares.Estandar>
@using tmkhogares.Constantes;


@{

    List<tmkhogares.Models.Calificacion.CalificacionEstandarAtributo> atributosCalificacion = ViewBag.AtributosCalificacion;
    ViewBag.Title = "Details";
}


@{
    ViewBag._Active = "Details";
    ViewBag._Panel = "Home";
}


<br />
<br />
<div class=" segment">
    <h1 class="ui header">
        <img src="~/Content/images/logo1.png">
        <div class="content">
            Módulo  de detalle  de Calificación
            <div class="sub header">
                <div class="ui breadcrumb">
                    <a class="section" href="@Url.Action("HomeAdmin","Home")">Inicio</a>
                    <div class="divider"> / </div>
                    <a class="section" href="@Url.Action("Index",new{Id = ViewBag.AsesorId })">Listar</a>
                    <div class="divider"> / </div>
                    <div class="active section" style="text-transform:lowercase">Detalle de Calificacion</div>
                </div>
            </div>
        </div>
    </h1>
    <div class="ui hidden divider"></div>
</div>

<h4 class="ui horizontal divider header">
    <button class="ui  large purple submit button">
        <i class="sticky note icon"></i>
        Detalle de  Calificacion
    </button>
</h4>

<div class="ui grid">
    <div class="two wide column"></div>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "ui form twelve wide column", autofocus = "" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="">
            <div class="ui segments">
                <div class="ui teal segment purple " style="text-align:center;">
                    @foreach (var item in Model)
                    {
                        <h1 class="tituloEstandar">@item.Nombre</h1>
                        <table id="tabla" class="ui celled small hover striped table">
                            <thead>
                                <tr>
                                    <th>Atributo</th>
                                    <th>Calificacion %</th>
                                    <th>Descripcion</th>
                                    <th>Tipo</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item2 in item.Atributos.Where(a => a.EstandarId == item.Id).OrderBy(a => a.Posicion))
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item2.Nombre)
                                        </td>

                                        @foreach (var item3 in atributosCalificacion.Where(c => c.AtributoId == item2.Id && c.CalificacionId == ViewBag.CalificacionId))
                                        {
                                            var calificacion = item3.ItemCalificado == null ? "" : item3.ItemCalificado.Name;

                                            <td>
                                                <select disabled class="ui search selection dropdown pesoSelect @item.Id" data-estandar="@item.Id">

                                                    <option data-critico="si" data-peso="@item3.Puntaje" data-atributoId="@item2.Id" value="@item3.Id">@calificacion</option>
                                                </select>
                                            </td>

                                            <td style="text-align:center;">
                                                <div class="field">
                                                    <textarea disabled class="descripcionAtributo ui" cols="100" rows="2">@item3.Descripcion</textarea>
                                                </div>
                                            </td>

                                            if (item3.Atributo.TipoAtributoId == new Guid(TipoAtributo.CRITICO))
                                            {
                                                <td><a class="ui red tag label">Critico</a></td>
                                            }
                                            else
                                            {
                                                <td><a class="ui  tag label">No Critico</a></td>

                                            }
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>

                    }
                    <h2>Total: @ViewBag.puntaje%</h2>
                    <h4>Descripcion General</h4>
                    <textarea disabled name="Descripcion" cols="80" rows="5">@ViewBag.DescripcionCalificacion</textarea>
                    <br />
                    <h4>Aspectos para mejorar</h4>
                    <textarea disabled name="ComentariosAsesor" cols="80" rows="5">@ViewBag.ComentariosAsesor</textarea>
                    <h4>Compromiso Asesor</h4>
                    @if (SessionPersister.HasRol("Asesor"))
                    {
                        if (ViewBag.CompromisoAsesor != "")
                        {
                            <textarea disabled name="CompromisoAsesor" id="CompromisoAsesor" cols="80" rows="5">@ViewBag.CompromisoAsesor</textarea>
                        }
                        else
                        {
                            <textarea name="CompromisoAsesor" id="CompromisoAsesor" cols="80" rows="5"></textarea>
                        }
                    }
                    else
                    {
                        <textarea disabled name="CompromisoAsesor" id="CompromisoAsesor" cols="80" rows="5">@ViewBag.CompromisoAsesor</textarea>

                    }

                    <div class="Field">
                        <label for="IdGrabacion">IdLlamada</label>
                        <input disabled type="text" name="IdGrabacion" value="@ViewBag.IdLlamada" />
                    </div>
                    <label for="TelefonoGrabacion">TelefonoLlamada</label>
                    <div class="field">
                        <input disabled type="text" name="TelefonoGrabacion" value="@ViewBag.TelefonoLlamada" />
                    </div>
                    <div class="field">
                        <label for="FechaCalificacion">Fecha De Calificacion</label>
                        <input disabled type="text" name="FechaCalificacion" value="@ViewBag.FechaCalificacion" />
                    </div>
                    <input type="hidden" name="loginAsesor" id="CalificacionId" value="@ViewBag.CalificacionId" />

                    <div class="field">

                        @Html.ActionLink("Regresar", "IndexListadoAuditados", "Users", new { usuarioId = ViewBag.AuditorId }, new { @class = "ui button" })

                    </div>

                </div>
            </div>
        </div>
    }
</div>

@section Scripts{

    <script type="text/javascript" src="~/Scripts/detallesUsuario.js?v=@DateTime.Now"></script>

    <script>
        $(document).ready(function () {


            $("#editarCompromiso").click(function () {

                var compromiso = $("#CompromisoAsesor").val();

                if (compromiso === "" || compromiso == undefined) {
                    alert("El compromiso del asesor no puede ser nulo");
                    return false;
                }

                var data = {
                    id: $("#CalificacionId").val(),
                    CompromisoAsesor: $("#CompromisoAsesor").val()
                }

                console.log(data);
                $.post("/Calificaciones/EditarCompromiso", data, function (res) {

                    if (res.status == true) {
                        var Id = res.asesorId;
                        console.log(Id);
                        window.location.href = "/Calificaciones/IndexAsesor/" + Id;
                    }

                });
            });

        });
    </script>
}


