﻿@using Core.Models.Security;
@model IEnumerable<tmkhogares.Models.Estandares.Estandar>
@using tmkhogares.Constantes;


@{

    List<tmkhogares.Models.Calificacion.CalificacionEstandarAtributo> atributosCalificacion = ViewBag.AtributosCalificacion;
    ViewBag.Title = "Details";
}


@{
    ViewBag._Active = "Details";
    ViewBag._Panel = "Home";
}


<br />
<br />
<div class=" segment">
    <h1 class="ui header">
        <img src="~/Content/images/logo1.png">
        <div class="content">
            Módulo  de detalle  de Calificación
            <div class="sub header">
                <div class="ui breadcrumb">
                    <a class="section" href="@Url.Action("HomeAdmin","Home")">Inicio</a>
                    <div class="divider"> / </div>
                    <a class="section" href="@Url.Action("Index",new{Id = ViewBag.AsesorId })">Listar</a>
                    <div class="divider"> / </div>
                    <div class="active section" style="text-transform:lowercase">Detalle de Calificacion</div>
                </div>
            </div>
        </div>
    </h1>
    <div class="ui hidden divider"></div>
</div>

<h4 class="ui horizontal divider header">
    <button class="ui  large purple submit button">
        <i class="sticky note icon"></i>
        Detalle de  Calificacion
    </button>
</h4>

<div class="ui grid">
    <div class="two wide column"></div>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "ui form twelve wide column", autofocus = "" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="ui grid ">
            <div class="two wide column"></div>

            <div class="twelve wide column">

                <div class="six wide column">
                    <div class="ui segments">
                        <div class="grabacion ui teal segment purple">
                            <table class="ui celled table">
                                <thead>
                                    <tr>
                                        <th>Fecha Calificación</th>
                                        <th>Telefono Grabacion</th>
                                        <th>IdGrabacion</th>
                                        <th>Duración TMO</th>

                                        @if (ViewBag.CampanaId == Campanas.TRAFICO_INBOUND
                                            || ViewBag.CampanaId == Campanas.SEGUNDO_ANILLO
                                            || ViewBag.CampanaId == Campanas.TERCER_ANILLO_HOGAR
                                            || ViewBag.CampanaId == Campanas.TERCER_ANILLO_MOVIL
                                            || ViewBag.CampanaId == Campanas.LEALTAD
                                            )
                                        {
                                            <th>Segmento(Hogar/Movil)</th>
                                        }
                                    </tr>
                                </thead>
                                <tbody class="ui form">
                                    <tr>

                                        <td>
                                            <input type="text" disabled id="FechaCalificacion" name="FechaCalificacion" value="@ViewBag.FechaCalificacion" />
                                        </td>
                                        <td>
                                            <input type="text" disabled id="telefonoGrabacion" name="telefonoGrabacion" value="@ViewBag.TelefonoLlamada" />
                                        </td>
                                        <td>
                                            <input type="text" disabled id="idGrabacion" name="idGrabacion" value="@ViewBag.IdLlamada" />
                                        </td>
                                        <td>
                                            <input type="number" disabled id="duracionTMO" name="duracionTMO" value="@ViewBag.DuracionTMO" />
                                        </td>

                                        @if (ViewBag.CampanaId == Campanas.TRAFICO_INBOUND
                                           || ViewBag.CampanaId == Campanas.SEGUNDO_ANILLO
                                           || ViewBag.CampanaId == Campanas.TERCER_ANILLO_HOGAR
                                           || ViewBag.CampanaId == Campanas.TERCER_ANILLO_MOVIL
                                           || ViewBag.CampanaId == Campanas.LEALTAD
                                           )
                                        {
                                            <td>
                                                <div class="ui procede">
                                                    <select class="ui search selection dropdown" disabled name="segmento" id="segmento">
                                                        <option selected value="@ViewBag.Segmento">@ViewBag.Segmento</option>
                                                    </select>
                                                </div>
                                            </td>
                                        }

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h4 class="ui horizontal divider header">
            <button class="ui  large purple submit button ">
                <i class="computer icon"></i>
                Monitoreo Usuario @ViewBag.NombreAsesor
            </button>

        </h4>

        <div class="">
            <div class="ui segments">
                <div class="ui teal segment purple " style="text-align:center;">
                    @foreach (var item in Model)
                    {
                        <h1 class="tituloEstandar">@item.Nombre</h1>
                        <table id="tabla" class="ui celled small hover striped table">
                            <thead>
                                <tr>
                                    <th>Atributo</th>
                                    <th>Calificacion %</th>
                                    <th>Descripcion</th>
                                    <th>Tipo</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item2 in item.Atributos.Where(a => a.EstandarId == item.Id).OrderBy(a => a.Posicion))
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item2.Nombre)
                                        </td>

                                        @foreach (var item3 in atributosCalificacion.Where(c => c.AtributoId == item2.Id && c.CalificacionId == ViewBag.CalificacionId))
                                        {
                                            var calificacion = item3.ItemCalificado == null ? "" : item3.ItemCalificado.Name;

                                            <td>
                                                <select disabled class="ui search selection dropdown pesoSelect @item.Id" data-estandar="@item.Id">

                                                    <option data-critico="si" data-peso="@item3.Puntaje" data-atributoId="@item2.Id" value="@item3.Id">@calificacion</option>
                                                </select>
                                            </td>

                                            <td style="text-align:center;">
                                                <div class="field">
                                                    <textarea disabled class="descripcionAtributo ui" cols="100" rows="2">@item3.Descripcion</textarea>
                                                </div>
                                            </td>

                                            if (item3.Atributo.TipoAtributoId == new Guid(TipoAtributo.CRITICO))
                                            {
                                                <td><a class="ui red tag label">Critico</a></td>
                                            }
                                            else
                                            {
                                                <td><a class="ui  tag label">No Critico</a></td>

                                            }
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>

                    }
                    <h2>Total: @ViewBag.puntaje%</h2>
                    <h4>Descripcion General</h4>
                    <textarea disabled name="Descripcion" cols="80" rows="3">@ViewBag.DescripcionCalificacion</textarea>
                    <br />
                    <h4>Aspectos para mejorar</h4>
                    <textarea disabled name="ComentariosAsesor" cols="80" rows="3">@ViewBag.ComentariosAsesor</textarea>
                    <h4>Compromiso Asesor</h4>
                    @if (SessionPersister.HasRol("Asesor"))
                    {
                        if (ViewBag.CompromisoAsesor != "")
                        {
                            <textarea disabled name="CompromisoAsesor" id="CompromisoAsesor" cols="80" rows="3">@ViewBag.CompromisoAsesor</textarea>
                        }
                        else
                        {
                            <textarea name="CompromisoAsesor" id="CompromisoAsesor" cols="80" rows="5"></textarea>
                        }
                    }
                    else
                    {
                        <textarea disabled name="CompromisoAsesor" id="CompromisoAsesor" cols="80" rows="3">@ViewBag.CompromisoAsesor</textarea>

                    }


                    @if (
                           ViewBag.CampanaId != Campanas.CLARO_CGV
                        && ViewBag.CampanaId != Campanas.CLARO_TYT
                        && ViewBag.CampanaId != Campanas.SEGUNDO_ANILLO
                        && ViewBag.CampanaId != Campanas.TERCER_ANILLO_MOVIL
                        && ViewBag.CampanaId != Campanas.TERCER_ANILLO_HOGAR
                        && ViewBag.CampanaId != Campanas.LEALTAD
                        && ViewBag.CampanaId != Campanas.TRAFICO_INBOUND
                        && SessionPersister.HasRol("Calidad")
                        )
                    {
                        <h4>Tipo Monitoreo</h4>
                        <select name="TipoMonitoreo" id="tipoMonitoreo" disabled class="ui search selection dropdown">
                            <option value="MONITOREO">MONITOREO</option>
                            <option selected value="@ViewBag.TipoMonitoreo">@ViewBag.TipoMonitoreo</option>
                            <option value="MEC">MEC</option>
                        </select>

                        <div class="ui procede" style="display:@ViewBag.DisableProcede;">
                            <h4>Procede?</h4>
                            <select class="ui search selection dropdown" disabled name="procede" id="procede">
                                <option selected value="@ViewBag.Procede">@ViewBag.Procede</option>
                                <option value="Si">Si</option>
                            </select>
                        </div>

                        <div id="venta">
                            <h4>Es venta?</h4>
                            <select name="esVenta" id="esVenta" disabled class="ui search selection dropdown">
                                <option selected value="@ViewBag.EsVenta">@ViewBag.EsVenta</option>
                                <option value="1">Si</option>
                            </select>
                        </div>

                        <div id="ventaContado" style="display:@ViewBag.DisableVenta;">
                            <h4>Venta Contado</h4>
                            <select name="esVentaContado" id="esVentaContado" disabled class="ui search selection dropdown">
                                <option selected value="@ViewBag.EsVentaContado">@ViewBag.EsVentaContado</option>
                                <option value="SI">SI</option>
                                <option value="NO">NO</option>
                            </select>
                        </div>

                        <div id="tipoVenta" style="display:@ViewBag.DisableVentaContado;">
                            <h4>Tipo Venta</h4>
                            <select name="esVentaFinaciada" id="esVentaFinaciada" disabled class="ui search selection dropdown">
                                <option selected value="@ViewBag.EsVentaFinaciada">@ViewBag.EsVentaFinaciada</option>
                                <option value="Alianzas financieras">Alianzas financieras</option>
                                <option value="Pin de pagos">Pin de pagos</option>
                                <option value="Venta asistida">Venta asistida</option>
                            </select>
                        </div>

                        <h4>Es Todo Claro</h4>
                        <select name="esTodoClaro" id="esTodoClaro" disabled class="ui search selection dropdown">
                            <option selected value="@ViewBag.EsTodoClaro">@ViewBag.EsTodoClaro</option>
                            <option value="Si">Si</option>
                        </select>

                        <h4>Utiliza guión de Bienvenida</h4>
                        <select name="utilizaGuionBienvenida" disabled id="utilizaGuionBienvenida" class="ui search selection dropdown">
                            <option selected value="@ViewBag.UtilizaGuionBienvenida">@ViewBag.UtilizaGuionBienvenida</option>
                            <option value="Si">Si</option>
                        </select>

                        <h4>Utiliza guión de Despedida</h4>
                        <select name="utilizaGuionDespedida" disabled id="utilizaGuionDespedida" class="ui search selection dropdown">
                            <option selected value="@ViewBag.UtilizaGuionDespedida">@ViewBag.UtilizaGuionDespedida</option>
                            <option value="Si">Si</option>
                        </select>
                    }


                    @if (ViewBag.CampanaId == Campanas.CLARO_TYT && SessionPersister.HasRol("Calidad"))
                    {
                        <h4>Tipo Monitoreo</h4>
                        <select name="tipoMonitoreo" id="tipoMonitoreo" disabled class="ui search selection dropdown">
                            <option selected value="@ViewBag.TipoMonitoreo">@ViewBag.TipoMonitoreo</option>
                            <option value="PQR">PQR</option>
                            <option value="MEC">MEC</option>
                        </select>

                        <div class="ui procede" style="display:@ViewBag.DisableProcede;">
                            <h4>Procede?</h4>
                            <select class="ui search selection dropdown" disabled name="procede" id="procede">
                                <option selected value="@ViewBag.Procede">@ViewBag.Procede</option>
                                <option value="Si">Si</option>
                            </select>
                        </div>

                        <div id="venta">
                            <h4>Es venta?</h4>
                            <select name="esVenta" id="esVenta" disabled class="ui search selection dropdown">
                                <option selected value="@ViewBag.EsVenta">@ViewBag.EsVenta</option>
                                <option value="1">Si</option>
                            </select>
                        </div>

                        <div id="ventaContado" style="display:@ViewBag.DisableVenta;">
                            <h4>Venta Contado</h4>
                            <select name="esVentaContado" id="esVentaContado" disabled class="ui search selection dropdown">
                                <option selected value="@ViewBag.EsVentaContado">@ViewBag.EsVentaContado</option>
                                <option value="SI">SI</option>
                                <option value="NO">NO</option>
                            </select>
                        </div>


                        <div id="tipoVenta" style="display:@ViewBag.DisableVentaContado;">
                            <h4>Tipo Venta</h4>
                            <select name="esVentaFinaciada" id="esVentaFinaciada" disabled class="ui search selection dropdown">
                                <option selected value="@ViewBag.EsVentaFinaciada">@ViewBag.EsVentaFinaciada</option>
                                <option value="Alianzas financieras">Alianzas financieras</option>
                                <option value="Pin de pagos">Pin de pagos</option>
                                <option value="Venta asistida">Venta asistida</option>
                            </select>
                        </div>

                        <h4>Claro Up</h4>
                        <select name="esVentaClaroUp" id="esVentaClaroUp" disabled class="ui search selection dropdown">
                            <option selected value="@ViewBag.EsVentaClaroUp">@ViewBag.EsVentaClaroUp</option>
                            <option value="Si">Si</option>
                        </select>
                    }



                    @if ((ViewBag.CampanaId == Campanas.SEGUNDO_ANILLO
                            || ViewBag.CampanaId == Campanas.TERCER_ANILLO_MOVIL
                            || ViewBag.CampanaId == Campanas.TERCER_ANILLO_HOGAR
                            || ViewBag.CampanaId == Campanas.LEALTAD)
                            && SessionPersister.HasRol("Calidad"))
                    {
                        <h4>Tipo Monitoreo</h4>
                        <select name="tipoMonitoreo" disabled id="tipoMonitoreo" class="ui search selection dropdown">
                            <option selected value="@ViewBag.TipoMonitoreo">@ViewBag.TipoMonitoreo</option>
                            <option value="INTERNO">INTERNO</option>
                            <option value="MEC">MEC</option>
                            <option value="NPS">NPS</option>
                            <option value="LLC">LLC</option>
                            <option value="RTC">RTC</option>
                            <option value="TTE">TTE</option>
                        </select>

                        <div class="ui">
                            <h4>Es Retenido?</h4>
                            <select class="ui search selection dropdown" disabled name="esRetenido" id="esRetenido">
                                <option selected value="@ViewBag.EsRetenido">@ViewBag.EsRetenido</option>
                                <option value="No">No</option>
                                <option value="Si">Si</option>
                                <option value="N/A">N/A</option>
                            </select>
                        </div>

                        <h4>Ciudad</h4>
                        <select name="ciudad" id="ciudad" disabled class="ui search selection dropdown">
                            <option selected value="@ViewBag.Ciudad">@ViewBag.Ciudad</option>
                            <option value="MANIZALES">MANIZALES</option>
                            <option value="PEREIRA">PEREIRA</option>
                        </select>

                        <h4>Marcación</h4>
                        <textarea disabled name="marcacion" id="marcacion" cols="80" rows="2">@ViewBag.Marcacion</textarea>

                    }

                    @if (ViewBag.CampanaId == Campanas.TRAFICO_INBOUND)
                    {
                        <h4>Tipo Monitoreo</h4>
                        <select name="tipoMonitoreo" id="tipoMonitoreo" disabled class="ui search selection dropdown">
                            <option selected value="@ViewBag.TipoMonitoreo">@ViewBag.TipoMonitoreo</option>
                            <option value="INTERNO">INTERNO</option>
                            <option value="MEC">MEC</option>
                            <option value="NPS">NPS</option>
                            <option value="TTE">TTE</option>
                        </select>

                        <h4>SubCampaña</h4>
                        <select name="subCampana" id="subCampana" disabled class="ui search selection dropdown">
                            <option selected value="@ViewBag.SubCampana ">@ViewBag.SubCampana </option>
                            <option value="FACTURA">FACTURA</option>
                            <option value="PQR">PQR</option>
                            <option value="SERVICIO">SERVICIO</option>
                            <option value="SOPORTE">SOPORTE</option>
                        </select>

                        <h4>Ciudad</h4>
                        <select name="ciudad" id="ciudad" disabled class="ui search selection dropdown">
                            <option selected value="@ViewBag.Ciudad">@ViewBag.Ciudad</option>
                            <option value="MANIZALES">MANIZALES</option>
                            <option value="PEREIRA">PEREIRA</option>
                        </select>

                        <h4>Motivo de Consulta</h4>
                        <textarea name="motivoConsulta"  id="motivoConsulta" cols="80" rows="2">@ViewBag.MotivoConsulta</textarea>

                        <h4>Marcación</h4>
                        <textarea disabled name="marcacion"  id="marcacion" cols="80" rows="2">@ViewBag.Marcacion</textarea>

                    }



                    <input type="hidden" name="loginAsesor" id="CalificacionId" value="@ViewBag.CalificacionId" />
                    <br />
                    <br />

                    <div class="field">

                        @if (SessionPersister.HasRol("Asesor"))
                        {
                            if (ViewBag.CompromisoAsesor == "")
                            {
                                <button type="button" class="ui button purple" id="editarCompromiso">Actualizar Compromiso</button>
                                @Html.ActionLink("Regresar", "IndexAsesor", new { Id = ViewBag.AsesorId }, new { @class = "ui button" })
                            }
                        }
                        else
                        {
                            @Html.ActionLink("Regresar", "MonitoreosFeedback", "Calificaciones", new { feedback = ViewBag.Feedback }, new { @class = "ui button" })

                        }

                    </div>

                </div>
            </div>
        </div>
    }
</div>

@section Scripts{

    <script type="text/javascript" src="~/Scripts/detallesUsuario.js?v=@DateTime.Now"></script>

    <script>
        $(document).ready(function () {


            $("#editarCompromiso").click(function () {

                var compromiso = $("#CompromisoAsesor").val();

                if (compromiso === "" || compromiso == undefined) {
                    alert("El compromiso del asesor no puede ser nulo");
                    return false;
                }

                var data = {
                    id: $("#CalificacionId").val(),
                    CompromisoAsesor: $("#CompromisoAsesor").val()
                }

                console.log(data);
                $.post("/Calificaciones/EditarCompromiso", data, function (res) {

                    if (res.status == true) {
                        var Id = res.asesorId;
                        console.log(Id);
                        window.location.href = "/Calificaciones/IndexAsesor/" + Id;
                    }

                });
            });

        });
    </script>
}


