﻿@model IEnumerable<tmkhogares.Models.Calificacion.Calificacion>

@{
    /**/
    ViewBag.Title = "Index";
}

@{
    ViewBag._Active = "Index";
    ViewBag._Panel = "Home";
}
<br />
<br />
<div class=" segment">
    <h1 class="ui header">
        <img src="~/Content/images/logo1.png">
        <div class="content">
            Módulo  de Lista  de Calificacion
            <div class="sub header">
                <div class="ui breadcrumb">
                    <a class="section" href="@Url.Action("HomeAdmin","Home")">Inicio</a>
                    <div class="divider"> / </div>
                    <div class="active section" style="text-transform:lowercase">Lista  de Calificacion</div>
                </div>
            </div>
        </div>
    </h1>
    <div class="ui hidden divider"></div>

</div>
<h4 class="ui horizontal divider header">
    <button class="ui  large purple submit button">
        <i class="tasks icon"></i>
        LISTA DE CALIFICACIONES
    </button>
</h4>
<div class="ui grid">
    <div class="one wide column"></div>
    <div class="fourteen wide column">
        <div class="ui segments">
            <div class="ui teal segment purple">
                <table id="tabla" class="ui celled small hover striped table">
                    <thead>
                        <tr>
                            <th>
                                Nombre Calidad
                            </th>
                            <th>
                                Nombre Asesor
                            </th>
                            <th>
                                Nota Final
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Descripcion)
                            </th>
                            <th>
                                Fecha Monitoreo
                            </th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            var formularioId = item.FormularioId;
                            <tr>
                                <td colspan="1">
                                    @Html.DisplayFor(modelItem => item.Calidad.Names) 
                                </td>
                                <td colspan="1">
                                    @Html.DisplayFor(modelItem => item.Usuario.Names)
                                </td>
                                <th colspan="1">
                                    @Html.DisplayFor(modelItem => item.Puntaje)
                                </th>
                                <td colspan="1">
                                    @Html.DisplayFor(modelItem => item.Descripcion)
                                </td>
                                <td colspan="1">
                                    @Html.DisplayFor(modelItem => item.CreatedAt)
                                </td>
                                <td colspan="1">
                                    @Html.ActionLink("Detalle", "Details", new { id = item.Id, FormularioId = formularioId }, new { @class = "ui download  button" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
