﻿@model IEnumerable<tmkhogares.Models.Calificacion.Calificacion>

@{
    tmkhogares.Models.Calificacion.MetodosCalificacion metodosCalificacion = new tmkhogares.Models.Calificacion.MetodosCalificacion();
    ViewBag.Title = "Index";
}
@{
    ViewBag._Active = "Index";
    ViewBag._Panel = "Home";
}

<br />
<br />
<div class=" segment">
    <h1 class="ui header">
        <img src="~/Content/images/logo1.png">
        <div class="content">
            Módulo  Asesores
            <div class="sub header">
                <div class="ui breadcrumb">
                    <a class="section" href="@Url.Action("HomeAdmin","Home")">Inicio</a>
                    <div class="divider"> / </div>
                    <div class="active section" style="text-transform:lowercase">Lista  de Asesores</div>
                </div>
            </div>
        </div>
    </h1>

    @if (TempData["MensajeEliminar"] != null)
    {
        <div class="ui positive message">
            <i class="close icon"></i>
            <div class="header">
                @TempData["MensajeEliminar"]
            </div>
        </div>
    }


    <div class="ui hidden divider"></div>

<h4 class="ui horizontal divider header">
    <button class="ui  large purple submit button">
        <i class="tasks icon"></i>
        LISTA DE USUARIOS
    </button>
</h4>
<div class="ui grid">
    <div class="one wide column"></div>
    <div class="fourteen wide column">
        <div class="ui segments">
            <div class="ui teal segment purple">
                <table id="tabla" class="ui celled small hover striped table">
                    <thead>
                        <tr>
                            <th>
                                Fecha Monitoreo
                            </th>
                            <th>
                                Nombre Asesor
                            </th>

                            <th>
                                Calificacion
                            </th>

                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreatedAt)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NombreAsesor)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Puntaje)
                                </td>
                                <td>
                                    @Html.ActionLink("Monitoreos", "Details", new { id = item.Id, FormularioId = item.FormularioId, feedback = ViewBag.Feedback }, new { @class = "ui download purple button" })
                                    @if (ViewBag.Feedback == 0)
                                    {

                                        @Html.ActionLink("Editar", "Edit", "Calificaciones", new { id = item.Id, FormularioId = item.FormularioId, feedback = ViewBag.Feedback }, new { @class = "ui download pink button" })
                                        @Html.ActionLink("Eliminar", "Delete", "Calificaciones", new { id = item.Id, feedback = ViewBag.Feedback }, new { @class = "ui download black button", onclick = "return confirm('Está seguro de eliminar el registro?');" })
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        $('.message .close')
            .on('click', function () {
                $(this)
                    .closest('.message')
                    .transition('fade')
                    ;
            });
    </script>
}