﻿@model IEnumerable<tmkhogares.Models.PlanTrabajoTeam.PlanTrabajoTeam>

@{
    tmkhogares.Models.Calificacion.MetodosCalificacion metodosCalificacion = new tmkhogares.Models.Calificacion.MetodosCalificacion();
    ViewBag.Title = "Index";
}
@{
    ViewBag._Active = "Index";
    ViewBag._Panel = "Home";
}

<br />
<br />
<div class=" segment">
    <h1 class="ui header">
        <img src="~/Content/images/logo1.png">
        <div class="content">
            Módulo  Asesores
            <div class="sub header">
                <div class="ui breadcrumb">
                    <a class="section" href="@Url.Action("HomeAdmin","Home")">Inicio</a>
                    <div class="divider"> / </div>
                    <div class="active section" style="text-transform:lowercase">Lista  de Asesores</div>
                </div>
            </div>
        </div>
    </h1>
    <div class="ui hidden divider"></div>
    <form action="" method="get">
        <div class="ui action input">
            <input type="text" name="Documento" placeholder="Ingrese un Documento" value="@ViewBag.Documento">
            <button class="ui icon button" id="btnCon">
                <i class="search icon"></i>
            </button>
        </div>
    </form>
</div>
<h4 class="ui horizontal divider header">
    <button class="ui  large purple submit button">
        <i class="tasks icon"></i>
        LISTA DE USUARIOS
    </button>
</h4>
<div class="ui grid">
    <div class="one wide column"></div>
    <div class="fourteen wide column">
        <div class="ui segments">
            <div class="ui teal segment purple">
                <table id="tabla" class="ui celled small hover striped table">
                    <thead>
                        <tr>
                            <th>
                                Fecha Inicio
                            </th>
                            <th>
                                Nombre TeamLeader
                            </th>
                            <th>
                                Nombre Gerente
                            </th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreatedAt)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NombreTeam)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NombreGerente)
                                </td>
                                <td>
                                    @Html.ActionLink("SeguimientoTeams", "Index", "SeguimientoTeams", new { PlanTrabajoTeamId = item.Id  }, new { @class = "ui download purple button" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
|