﻿@model tmkhogares.Models.Calificacion.CalificacionEstandar

@{
    ViewBag.Title = "Edit";
}

@{
	ViewBag._Active = "Edit";
	ViewBag._Panel = "Home";
}





<br />
<br />
<div class=" segment">
    <h1 class="ui header">
        <img src="~/Content/images/logo1.png">
        <div class="content">
            Módulo  de Edición de CalificacionEstandar
            <div class="sub header">
                <div class="ui breadcrumb">
                    <a class="section"  href="@Url.Action("HomeAdmin","Home")">Inicio</a>
                    <div class="divider"> / </div>
                    <a class="section" href="@Url.Action("Index")">Listar</a>
                    <div class="divider"> / </div>
                    <div class="active section" style="text-transform:lowercase">Edición de CalificacionEstandar</div>
                </div>
            </div>
        </div>

    </h1>
    <div class="ui hidden divider"></div>

</div>

<h4 class="ui horizontal divider header">
    <button class="ui  large red submit button">
        <i class="edit icon"></i>
        Editar CalificacionEstandar
    </button>

</h4>

<div class="ui grid">
    <div class="one wide column"></div>
    <div class="fourteen wide column">
        <div class="ui segments">
            <div class="ui teal segment">
				@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "ui large form", autofocus = "" })) 
				{
					@Html.AntiForgeryToken()
								@Html.ValidationSummary(true, "", new { @class = "text-danger" })
													<div class="field">
											@Html.LabelFor(model => model.CalificacionId, "CalificacionId", htmlAttributes: new { @class = "" })
											
																	@Html.DropDownList("CalificacionId", null , "Sin Seleccionar", htmlAttributes: new { @class = "ui search selection dropdown" })
																				@Html.ValidationMessageFor(model => model.CalificacionId, "", new { @class = "ui error message" })
															</div>

										<div class="field">
											@Html.LabelFor(model => model.EstandarId, "EstandarId", htmlAttributes: new { @class = "" })
											
																	@Html.DropDownList("EstandarId", null , "Sin Seleccionar", htmlAttributes: new { @class = "ui search selection dropdown" })
																				@Html.ValidationMessageFor(model => model.EstandarId, "", new { @class = "ui error message" })
															</div>

										<div class="field">
											@Html.LabelFor(model => model.Puntaje, htmlAttributes: new { @class = "" })
											
					<div class="ui mini icon input">
	@Html.EditorFor(model => model.Puntaje, new { htmlAttributes = new { @class = "" } })
	<i class="keyboard outline outline icon"></i>
</div>

				
																@Html.ValidationMessageFor(model => model.Puntaje, "", new { @class = "ui error message" })
															</div>

										<div class="field">
											@Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "" })
											
					<div class="ui mini icon input">
	@Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "" } })
	<i class="keyboard outline outline icon"></i>
</div>

				
																@Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "ui error message" })
															</div>

				
						<div class="field">
							<br />
							<input type="submit" value="Guardar" class="ui  large red submit button" />
								@Html.ActionLink("Regresar", "Index",null,new { @class = "ui button" })
						</div>
				}
            </div>
        </div>
    </div>
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
