﻿@model Core.Models.configuration.Configuration

@{
    ViewBag.Title = "Details";
}


@{
    ViewBag._Active = "Home_Details";
    ViewBag._Panel = "Home";
}



<br />
<br />
<div class=" segment">
    <h1 class="ui header">
        <img src="~/Content/images/logo1.png">
        <div class="content">
            Módulo  de detalle  de @ViewBag.Name
            <div class="sub header">
                <div class="ui breadcrumb">
                    <a class="section">Inicio</a>
                    <div class="divider"> / </div>
                    <a class="section">Listar</a>
                    <div class="divider"> / </div>
                    <div class="active section" style="text-transform:lowercase">detalle de @ViewBag.Name</div>
                </div>
            </div>
        </div>

    </h1>
    <div class="ui hidden divider"></div>

</div>



<h4 class="ui horizontal divider header">
    <button class="ui  large red submit button">
        <i class="computer icon"></i>
        Detalle de  @Html.DisplayFor(model => model.Name)
    </button>

</h4>

<div class="ui grid">
    @*<div class="ten wide column"></div>*@
        <div class="ten wide centered column">
            <div class="ui segments">
                <div class="ui teal segment">
                    <table id="tabla" class="ui celled small hover striped table">
                        <tbody>
                            <tr>
                                <td>
                                    @Html.DisplayFor(model => model.Category.Name)
                                </td>

                                <td>
                                    @Html.DisplayFor(model => model.Name)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Estado
                                </td>

                                <td>
                                    @Html.DisplayFor(model => model.Status)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Creado
                                </td>

                                <td>
                                    @Html.DisplayFor(model => model.CreatedAt)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Actualizado
                                </td>

                                <td>
                                    @Html.DisplayFor(model => model.UpdatedAt)
                                </td>
                            </tr>
                        </tbody>



                    </table>
                    <div class=" segment centered">
                        <div class="hidden divider ui"></div>
                        @Html.ActionLink("Editar", "Edit", new { id = Model.Id, Category = Model.CategoriesId }, new { @class = "ui red button" })
                        @Html.ActionLink("Regresar", "Index", new { Category = Model.CategoriesId }, new { @class = "ui button" })

                    </div>

                </div>
            </div>

        </div>
    </div>





