﻿@model Core.Models.configuration.Configuration

@{
    ViewBag.Title = "EDITAR";
}
@{
    ViewBag._Active = "Home_Edit";
    ViewBag._Panel = "Home";
}


<br />
<br />
<div class=" segment">
    <h1 class="ui header">
        <img src="~/Content/images/logo1.png">
        <div class="content">
            Módulo  de edición  de @ViewBag.Name
            <div class="sub header">
                <div class="ui breadcrumb">
                    <a class="section">Inicio</a>
                    <div class="divider"> / </div>
                    <a class="section">Listar</a>
                    <div class="divider"> / </div>
                    <div class="active section" style="text-transform:lowercase">Edición de @ViewBag.Name</div>
                </div>
            </div>
        </div>

    </h1>
    <div class="ui hidden divider"></div>

</div>



<h4 class="ui horizontal divider header">
    <button class="ui  large red submit button">
        <i class="computer icon"></i>
        EDITAR @ViewBag.Name
    </button>

</h4>
<div class="ui grid">
    <div class="one wide column"></div>
    <div class="fifteen wide column">
        <div class="ui segments">
            <div class="ui teal segment">
                <div class="row">
                    <div class="col-md-12">

                        @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "ui large form", autofocus = "" }))
                        {
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="Configtype" value="@ViewBag.Configtype" />

                            <div class="field">
                                <label>@ViewBag.ColumName</label>
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>

                            <div class="field">
                                <label>Descripción</label>
                                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                            <div class="field">
                                <label>Estado</label>
                                <select name="Status" class="ui search selection dropdown">
                                    <option value="true" @if (Model.Status == true) { Write("Selected"); }>Activo</option>
                                    <option value="false" @if (Model.Status == false) { Write("Selected"); }>Inactivo</option>
                                </select>
                            </div>

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-horizontal">


                                <div class="form-group">
                                    <input type="hidden" name="CategoriesId" value="@ViewBag.Category" />
                                </div>


                                <div class="field">
                                    <br />
                                    <input type="submit" value="Editar" class="ui red submit button" />
                                    @Html.ActionLink("Regresar", "Index", new { Category = Model.CategoriesId }, new { @class = "ui button" })
                                </div>
                            </div>
                        }

                    </div>
                </div>

            </div>
        </div>


    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
