﻿@model IEnumerable<Core.Models.configuration.Configuration>

@{
    ViewBag.Title = "Index";
}

@{
    ViewBag._Active = "Home_Index";
    ViewBag._Panel = "Home";
}



<br />
<br />
<div class=" segment">
    <h1 class="ui header">
        <img src="~/Content/images/logo1.png">
        <div class="content">
            Módulo  de Lista  de @ViewBag.Name
            <div class="sub header">
                <div class="ui breadcrumb">
                    <a class="section">Inicio</a>
                    <div class="divider"> / </div>
                    <div class="active section" style="text-transform:lowercase">Lista  de @ViewBag.Name</div>
                </div>
            </div>
        </div>
    </h1>
    <div class="ui hidden divider"></div>
    <form action="" method="get">
        <a href="@Url.Action("create", new { Category = ViewBag.category } )" class="ui download red button">
            CREAR NUEVO
        </a>

        <div class="ui action input">
            <input type="hidden" name="Category" value="@ViewBag.Category" />
            <input type="text" name="Name" placeholder="Nombre" value="@ViewBag.FName">
            <button class="ui icon button" id="btnCon">
                <i class="search icon"></i>
            </button>
        </div>





    </form>
</div>




<h4 class="ui horizontal divider header">
    <button class="ui  large red submit button">
        <i class="computer icon"></i>
        LISTAR @ViewBag.Name
    </button>

</h4>
<div class="ui grid">
    @*<div class="one wide column"></div>*@
    <div class="fifteen wide centered column">
        <div class="ui segments">
            <div class="ui teal segment">
                <table id="tabla" class="ui celled small striped table">
                    <thead>
                        <tr>
                            <th>
                                @ViewBag.ColumName
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Status)
                            </th>
                            @if (ViewBag.Configtype == 1)
                            {
                                <th>
                                    Etapa del cultivo
                                </th>
                            }
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>

                                    <div class="ui toggle  checkbox" >
                                        <input type="checkbox"  disabled="disabled"name="public"  @if (item.Status == true) {@Html.Raw("checked"); }>
                                        <label></label>
                                    </div>


                                </td>
                                @if (ViewBag.Configtype == 1)
                                {
                                    foreach (var StageCultivationName in ViewBag.StageCultivation)
                                    {
                                        if (StageCultivationName.Id == item.GuidId)
                                        {
                                            <td>
                                                @StageCultivationName.Name
                                            </td>
                                        }
                                    }
                                }

                                            <td>
                                                <a href="@Url.Action("Edit",new { id = item.Id, Configtype = ViewBag.Configtype })" class="ui vertical teal animated mini button" tabindex="0">
                                                    <div class="hidden content">Editar</div>
                                                    <div class="visible content">
                                                        <i class="edit icon"></i>
                                                    </div>
                                                </a>

                                                <a href="@Url.Action("Details",new { id = item.Id, Configtype = ViewBag.Configtype })" class="ui vertical blue animated mini button" tabindex="0">
                                                    <div class="hidden content">Detalle</div>
                                                    <div class="visible content">
                                                        <i class="address card icon"></i>
                                                    </div>
                                                </a>


                                            </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>

    </div>
</div>

