﻿@model Core.Models.Gestion.Cuenta

@{
//Layout = null;
}




<input type="hidden" id="ClienteId" value="@ViewBag.ClienteId" />
<br />
<br />
<div class=" segment">
    <h1 class="ui header">
        <img src="~/Content/images/logo1.png">
        <div class="content">
            Módulo  de creación de Cuenta
            <div class="sub header">
                <div class="ui breadcrumb">
                    @*<a class="section" href="@Url.Action("HomeAdmin","Home")">Inicio</a>*@
                    @*<div class="divider"> / </div>*@
                    <a class="section" href="@Url.Action("Index")">Listar</a>
                    <div class="divider"> / </div>
                    <div class="active section" style="text-transform:lowercase">Creación de Cuenta</div>
                </div>
            </div>
        </div>
    </h1>
    <div class="ui hidden divider"></div>

</div>

<h4 class="ui horizontal divider header">
    <button class="ui  large red submit button">
        <i class="computer icon"></i>
        CREAR Cuenta
    </button>

</h4>


<div class="ui grid">
    <div class="sixteen wide column">
        <div class="ui segments">
            <div class="ui form teal segment">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                @*<div class="four fields">
                    <div class="field">
                        @Html.LabelFor(model => model.CUENTA_CODIGO_CLIENTE, htmlAttributes: new { @class = "" })

                        <div class="ui mini icon input">
                            @Html.EditorFor(model => model.CUENTA_CODIGO_CLIENTE, new { htmlAttributes = new { @class = "" } })
                            <i class="keyboard outline outline icon"></i>
                        </div>



                        @Html.ValidationMessageFor(model => model.CUENTA_CODIGO_CLIENTE, "", new { @class = "ui error message" })
                    </div>

                    <div class="field">
                        @Html.LabelFor(model => model.CUENTA_NOMBRE_CLIENTE, htmlAttributes: new { @class = "" })

                        <div class="ui mini icon input">
                            @Html.EditorFor(model => model.CUENTA_NOMBRE_CLIENTE, new { htmlAttributes = new { @class = "" } })
                            <i class="keyboard outline outline icon"></i>
                        </div>



                        @Html.ValidationMessageFor(model => model.CUENTA_NOMBRE_CLIENTE, "", new { @class = "ui error message" })
                    </div>

                    <div class="field">
                        @Html.LabelFor(model => model.CUENTA_TIPO_IDENT, htmlAttributes: new { @class = "" })

                        <div class="ui mini icon input">
                            @Html.EditorFor(model => model.CUENTA_TIPO_IDENT, new { htmlAttributes = new { @class = "" } })
                            <i class="keyboard outline outline icon"></i>
                        </div>



                        @Html.ValidationMessageFor(model => model.CUENTA_TIPO_IDENT, "", new { @class = "ui error message" })
                    </div>

                    <div class="field">
                        @Html.LabelFor(model => model.CUENTA_ESTRATO, htmlAttributes: new { @class = "" })

                        <div class="ui mini icon input">
                            @Html.EditorFor(model => model.CUENTA_ESTRATO, new { htmlAttributes = new { @class = "" } })
                            <i class="keyboard outline outline icon"></i>
                        </div>



                        @Html.ValidationMessageFor(model => model.CUENTA_ESTRATO, "", new { @class = "ui error message" })
                    </div>
                </div>*@

                <div class="four fields">

                    <div class="field">
                        @Html.LabelFor(model => model.CUENTA_CODIGO_CLIENTE, htmlAttributes: new { @class = "" })

                        <div class="ui mini icon input">
                            @Html.EditorFor(model => model.CUENTA_CODIGO_CLIENTE, new { htmlAttributes = new { @class = "" } })
                            <i class="keyboard outline outline icon"></i>
                        </div>



                        @Html.ValidationMessageFor(model => model.CUENTA_CODIGO_CLIENTE, "", new { @class = "ui error message" })
                    </div>

                    <div class="field">
                        @Html.LabelFor(model => model.CUENTA_NOMBRE_CLIENTE, htmlAttributes: new { @class = "" })

                        <div class="ui mini icon input">
                            @Html.EditorFor(model => model.CUENTA_NOMBRE_CLIENTE, new { htmlAttributes = new { @class = "" } })
                            <i class="keyboard outline outline icon"></i>
                        </div>



                        @Html.ValidationMessageFor(model => model.CUENTA_NOMBRE_CLIENTE, "", new { @class = "ui error message" })
                    </div>


                    @*<div class="field">
            @Html.LabelFor(model => model.TELEFONO_1, htmlAttributes: new { @class = "" })

            <div class="ui mini icon input">
                @Html.EditorFor(model => model.TELEFONO_1, new { htmlAttributes = new { @class = "" } })
                <i class="keyboard outline outline icon"></i>
            </div>



            @Html.ValidationMessageFor(model => model.TELEFONO_1, "", new { @class = "ui error message" })
        </div>*@
                    <div class="field">
                        @Html.LabelFor(model => model.CUENTA_DIRECCION, htmlAttributes: new { @class = "" })

                        <div class="ui mini icon input">
                            @Html.EditorFor(model => model.CUENTA_DIRECCION, new { htmlAttributes = new { @class = "" } })
                            <i class="keyboard outline outline icon"></i>
                        </div>



                        @Html.ValidationMessageFor(model => model.CUENTA_DIRECCION, "", new { @class = "ui error message" })
                    </div>


                    <div class="field">
                        @Html.LabelFor(model => model.CUENTA_CIUDAD, htmlAttributes: new { @class = "" })

                        <div>
                            @Html.DropDownList("Ciudad", null, "", htmlAttributes: new { @class = "ui fluid search dropdown", data_nombre = "ciudad", id = "CUENTA_CIUDAD" })
                        </div>
                        @Html.ValidationMessageFor(model => model.CUENTA_CIUDAD, "", new { @class = "ui error message" })

                    </div>


                    @*<div class="field">
            @Html.LabelFor(model => model.CUENTA_CIUDAD, htmlAttributes: new { @class = "" })

            <div class="ui mini icon input">
                @Html.EditorFor(model => model.CUENTA_CIUDAD, new { htmlAttributes = new { @class = "" } })
                <i class="keyboard outline outline icon"></i>
            </div>



            @Html.ValidationMessageFor(model => model.CUENTA_CIUDAD, "", new { @class = "ui error message" })
        </div>*@



                </div>



                <div class="field">
                    <br />
                    <input type="submit" value="Crear" class="ui  large red submit button" id="AgregarCuenta" />
                    @Html.ActionLink("Regresar", "Index", null, new { @class = "ui button" })
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script src="~/Scripts/app/Cuentas.js"> </script>

} 