﻿@model Core.Models.Gestion.Cuenta

@{
    ViewBag.Title = "Delete";
}

@{
	ViewBag._Active = "Delete";
	ViewBag._Panel = "Home";
}


<br />
<br />
<div class=" segment">
    <h1 class="ui header">
        <a href></a>
        <img src="~/Content/images/logo1.png">
        <div class="content">
            Módulo  de eliminación  de @ViewBag.Name
            <div class="sub header">
                <div class="ui breadcrumb">
                    <a class="section"  href="@Url.Action("HomeAdmin","Home")">Inicio</a>
                    <div class="divider"> / </div>
                    <a class="section" href="@Url.Action("Index")">Listar</a>
                    <div class="divider"> / </div>
                    <div class="active section" style="text-transform:lowercase">Eliminar Cuenta</div>
                </div>
            </div>
        </div>

    </h1>
    <div class="ui hidden divider"></div>

</div>



<h4 class="ui horizontal divider header">
    <button class="ui  large red submit button">
        <i class="eraser icon"></i>
        Eliminar  @Html.DisplayFor(model => model.Name)
    </button>

</h4>


<div class="ui grid">
        <div class="ten wide centered column">
            <div class="ui segments">
                <div class="ui teal segment">
			<table id="tabla" class="ui celled small hover striped table">
				<tbody>
																			<tr>
								<td>
									@Html.DisplayNameFor(model => model.cliente.EMPRESA_CODIGO_CLIENTE)
								</td>

								<td>
									@Html.DisplayFor(model => model.cliente.EMPRESA_CODIGO_CLIENTE)
								</td>
							</tr>
																			<tr>
								<td>
									@Html.DisplayNameFor(model => model.CUENTA_CODIGO_CLIENTE)
								</td>

								<td>
									@Html.DisplayFor(model => model.CUENTA_CODIGO_CLIENTE)
								</td>
							</tr>
																			<tr>
								<td>
									@Html.DisplayNameFor(model => model.CUENTA_NOMBRE_CLIENTE)
								</td>

								<td>
									@Html.DisplayFor(model => model.CUENTA_NOMBRE_CLIENTE)
								</td>
							</tr>
																			<tr>
								<td>
									@Html.DisplayNameFor(model => model.CUENTA_TIPO_IDENT)
								</td>

								<td>
									@Html.DisplayFor(model => model.CUENTA_TIPO_IDENT)
								</td>
							</tr>
																			<tr>
								<td>
									@Html.DisplayNameFor(model => model.CUENTA_NUMERO_IDENTIFICACION)
								</td>

								<td>
									@Html.DisplayFor(model => model.CUENTA_NUMERO_IDENTIFICACION)
								</td>
							</tr>
																			<tr>
								<td>
									@Html.DisplayNameFor(model => model.CUENTA_DIRECCION)
								</td>

								<td>
									@Html.DisplayFor(model => model.CUENTA_DIRECCION)
								</td>
							</tr>
																			<tr>
								<td>
									@Html.DisplayNameFor(model => model.CUENTA_CIUDAD)
								</td>

								<td>
									@Html.DisplayFor(model => model.CUENTA_CIUDAD)
								</td>
							</tr>
																			<tr>
								<td>
									@Html.DisplayNameFor(model => model.CUENTA_ESTRATO)
								</td>

								<td>
									@Html.DisplayFor(model => model.CUENTA_ESTRATO)
								</td>
							</tr>
																			<tr>
								<td>
									@Html.DisplayNameFor(model => model.REPRESENTANTE_TIPO_IDENT)
								</td>

								<td>
									@Html.DisplayFor(model => model.REPRESENTANTE_TIPO_IDENT)
								</td>
							</tr>
																			<tr>
								<td>
									@Html.DisplayNameFor(model => model.REPRESENTANTE_NUMERO_IDENTIFICACION)
								</td>

								<td>
									@Html.DisplayFor(model => model.REPRESENTANTE_NUMERO_IDENTIFICACION)
								</td>
							</tr>
																			<tr>
								<td>
									@Html.DisplayNameFor(model => model.REPRESENTANTE_DIRECCION)
								</td>

								<td>
									@Html.DisplayFor(model => model.REPRESENTANTE_DIRECCION)
								</td>
							</tr>
																			<tr>
								<td>
									@Html.DisplayNameFor(model => model.REPRESENTANTE_CIUDAD)
								</td>

								<td>
									@Html.DisplayFor(model => model.REPRESENTANTE_CIUDAD)
								</td>
							</tr>
																			<tr>
								<td>
									@Html.DisplayNameFor(model => model.REPRESENTANTE_ESTRATO)
								</td>

								<td>
									@Html.DisplayFor(model => model.REPRESENTANTE_ESTRATO)
								</td>
							</tr>
																			<tr>
								<td>
									@Html.DisplayNameFor(model => model.REPRESENTANTE_TELEFONO_1)
								</td>

								<td>
									@Html.DisplayFor(model => model.REPRESENTANTE_TELEFONO_1)
								</td>
							</tr>
																			<tr>
								<td>
									@Html.DisplayNameFor(model => model.REPRESENTANTE_TELEFONO_2)
								</td>

								<td>
									@Html.DisplayFor(model => model.REPRESENTANTE_TELEFONO_2)
								</td>
							</tr>
																			<tr>
								<td>
									@Html.DisplayNameFor(model => model.REPRESENTANTE_GENERO)
								</td>

								<td>
									@Html.DisplayFor(model => model.REPRESENTANTE_GENERO)
								</td>
							</tr>
																			<tr>
								<td>
									@Html.DisplayNameFor(model => model.REPRESENTANTE_TELEFONO_3)
								</td>

								<td>
									@Html.DisplayFor(model => model.REPRESENTANTE_TELEFONO_3)
								</td>
							</tr>
																			<tr>
								<td>
									@Html.DisplayNameFor(model => model.REPRESENTANTE_FECHA_NACIMIENTO)
								</td>

								<td>
									@Html.DisplayFor(model => model.REPRESENTANTE_FECHA_NACIMIENTO)
								</td>
							</tr>
																			<tr>
								<td>
									@Html.DisplayNameFor(model => model.REPRESENTANTE_NOMBRE)
								</td>

								<td>
									@Html.DisplayFor(model => model.REPRESENTANTE_NOMBRE)
								</td>
							</tr>
																			<tr>
								<td>
									@Html.DisplayNameFor(model => model.FACTURACION_ACTUAL)
								</td>

								<td>
									@Html.DisplayFor(model => model.FACTURACION_ACTUAL)
								</td>
							</tr>
																			<tr>
								<td>
									@Html.DisplayNameFor(model => model.TELEFONO_1)
								</td>

								<td>
									@Html.DisplayFor(model => model.TELEFONO_1)
								</td>
							</tr>
																			<tr>
								<td>
									@Html.DisplayNameFor(model => model.TELEFONO_2)
								</td>

								<td>
									@Html.DisplayFor(model => model.TELEFONO_2)
								</td>
							</tr>
																			<tr>
								<td>
									@Html.DisplayNameFor(model => model.TELEFONO_3)
								</td>

								<td>
									@Html.DisplayFor(model => model.TELEFONO_3)
								</td>
							</tr>
																			<tr>
								<td>
									@Html.DisplayNameFor(model => model.TELEFONO_4)
								</td>

								<td>
									@Html.DisplayFor(model => model.TELEFONO_4)
								</td>
							</tr>
																			<tr>
								<td>
									@Html.DisplayNameFor(model => model.TELEFONO_5)
								</td>

								<td>
									@Html.DisplayFor(model => model.TELEFONO_5)
								</td>
							</tr>
																			<tr>
								<td>
									@Html.DisplayNameFor(model => model.EMAIL)
								</td>

								<td>
									@Html.DisplayFor(model => model.EMAIL)
								</td>
							</tr>
																			<tr>
								<td>
									@Html.DisplayNameFor(model => model.CreatedAt)
								</td>

								<td>
									@Html.DisplayFor(model => model.CreatedAt)
								</td>
							</tr>
																			<tr>
								<td>
									@Html.DisplayNameFor(model => model.UpdatedAt)
								</td>

								<td>
									@Html.DisplayFor(model => model.UpdatedAt)
								</td>
							</tr>
																			<tr>
								<td>
									@Html.DisplayNameFor(model => model.DeletedAt)
								</td>

								<td>
									@Html.DisplayFor(model => model.DeletedAt)
								</td>
							</tr>
																			<tr>
								<td>
									@Html.DisplayNameFor(model => model.CreatedBy)
								</td>

								<td>
									@Html.DisplayFor(model => model.CreatedBy)
								</td>
							</tr>
																			<tr>
								<td>
									@Html.DisplayNameFor(model => model.UpdatedBy)
								</td>

								<td>
									@Html.DisplayFor(model => model.UpdatedBy)
								</td>
							</tr>
										</tbody>
			</table>
				@using (Html.BeginForm()) {
					@Html.AntiForgeryToken()

					<div class="form-actions no-color">
						<input type="submit" value="Eliminar" class="ui button red" /> 
						@Html.ActionLink("Regresar", "Index",null, new { @class = "ui button " })
					</div>
				}

            </div>
        </div>

    </div>
</div>





</div>
