﻿@model Core.Models.Gestion.Cuenta

@{
    ViewBag.Title = "Edit";
}

@{
	ViewBag._Active = "Edit";
	ViewBag._Panel = "Home";
}




<br />
<br />
<div class=" segment">
    <h1 class="ui header">
        <img src="~/Content/images/logo1.png">
        <div class="content">
            Módulo  de Edición de Cuenta
            <div class="sub header">
                <div class="ui breadcrumb">
                    <a class="section"  href="@Url.Action("HomeAdmin","Home")">Inicio</a>
                    <div class="divider"> / </div>
                    <a class="section" href="@Url.Action("Index")">Listar</a>
                    <div class="divider"> / </div>
                    <div class="active section" style="text-transform:lowercase">Edición de Cuenta</div>
                </div>
            </div>
        </div>

    </h1>
    <div class="ui hidden divider"></div>

</div>

<h4 class="ui horizontal divider header">
    <button class="ui  large red submit button">
        <i class="edit icon"></i>
        Editar Cuenta
    </button>

</h4>

<div class="ui grid">
    <div class="one wide column"></div>
    <div class="fourteen wide column">
        <div class="ui segments">
            <div class="ui teal segment">
				@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "ui large form", autofocus = "" })) 
				{
					@Html.AntiForgeryToken()
								@Html.ValidationSummary(true, "", new { @class = "text-danger" })
													<div class="field">
											@Html.LabelFor(model => model.CUENTA_CODIGO_CLIENTE, htmlAttributes: new { @class = "" })
											
					<div class="ui mini icon input">
	@Html.EditorFor(model => model.CUENTA_CODIGO_CLIENTE, new { htmlAttributes = new { @class = "" } })
	<i class="keyboard outline outline icon"></i>
</div>

				
																@Html.ValidationMessageFor(model => model.CUENTA_CODIGO_CLIENTE, "", new { @class = "ui error message" })
															</div>

										<div class="field">
											@Html.LabelFor(model => model.CUENTA_NOMBRE_CLIENTE, htmlAttributes: new { @class = "" })
											
					<div class="ui mini icon input">
	@Html.EditorFor(model => model.CUENTA_NOMBRE_CLIENTE, new { htmlAttributes = new { @class = "" } })
	<i class="keyboard outline outline icon"></i>
</div>

				
																@Html.ValidationMessageFor(model => model.CUENTA_NOMBRE_CLIENTE, "", new { @class = "ui error message" })
															</div>

										<div class="field">
											@Html.LabelFor(model => model.CUENTA_TIPO_IDENT, htmlAttributes: new { @class = "" })
											
					<div class="ui mini icon input">
	@Html.EditorFor(model => model.CUENTA_TIPO_IDENT, new { htmlAttributes = new { @class = "" } })
	<i class="keyboard outline outline icon"></i>
</div>

				
																@Html.ValidationMessageFor(model => model.CUENTA_TIPO_IDENT, "", new { @class = "ui error message" })
															</div>

										<div class="field">
											@Html.LabelFor(model => model.CUENTA_NUMERO_IDENTIFICACION, htmlAttributes: new { @class = "" })
											
					<div class="ui mini icon input">
	@Html.EditorFor(model => model.CUENTA_NUMERO_IDENTIFICACION, new { htmlAttributes = new { @class = "" } })
	<i class="keyboard outline outline icon"></i>
</div>

				
																@Html.ValidationMessageFor(model => model.CUENTA_NUMERO_IDENTIFICACION, "", new { @class = "ui error message" })
															</div>

										<div class="field">
											@Html.LabelFor(model => model.CUENTA_DIRECCION, htmlAttributes: new { @class = "" })
											
					<div class="ui mini icon input">
	@Html.EditorFor(model => model.CUENTA_DIRECCION, new { htmlAttributes = new { @class = "" } })
	<i class="keyboard outline outline icon"></i>
</div>

				
																@Html.ValidationMessageFor(model => model.CUENTA_DIRECCION, "", new { @class = "ui error message" })
															</div>

										<div class="field">
											@Html.LabelFor(model => model.CUENTA_CIUDAD, htmlAttributes: new { @class = "" })
											
					<div class="ui mini icon input">
	@Html.EditorFor(model => model.CUENTA_CIUDAD, new { htmlAttributes = new { @class = "" } })
	<i class="keyboard outline outline icon"></i>
</div>

				
																@Html.ValidationMessageFor(model => model.CUENTA_CIUDAD, "", new { @class = "ui error message" })
															</div>

										<div class="field">
											@Html.LabelFor(model => model.CUENTA_ESTRATO, htmlAttributes: new { @class = "" })
											
					<div class="ui mini icon input">
	@Html.EditorFor(model => model.CUENTA_ESTRATO, new { htmlAttributes = new { @class = "" } })
	<i class="keyboard outline outline icon"></i>
</div>

				
																@Html.ValidationMessageFor(model => model.CUENTA_ESTRATO, "", new { @class = "ui error message" })
															</div>

										<div class="field">
											@Html.LabelFor(model => model.REPRESENTANTE_TIPO_IDENT, htmlAttributes: new { @class = "" })
											
					<div class="ui mini icon input">
	@Html.EditorFor(model => model.REPRESENTANTE_TIPO_IDENT, new { htmlAttributes = new { @class = "" } })
	<i class="keyboard outline outline icon"></i>
</div>

				
																@Html.ValidationMessageFor(model => model.REPRESENTANTE_TIPO_IDENT, "", new { @class = "ui error message" })
															</div>

										<div class="field">
											@Html.LabelFor(model => model.REPRESENTANTE_NUMERO_IDENTIFICACION, htmlAttributes: new { @class = "" })
											
					<div class="ui mini icon input">
	@Html.EditorFor(model => model.REPRESENTANTE_NUMERO_IDENTIFICACION, new { htmlAttributes = new { @class = "" } })
	<i class="keyboard outline outline icon"></i>
</div>

				
																@Html.ValidationMessageFor(model => model.REPRESENTANTE_NUMERO_IDENTIFICACION, "", new { @class = "ui error message" })
															</div>

										<div class="field">
											@Html.LabelFor(model => model.REPRESENTANTE_DIRECCION, htmlAttributes: new { @class = "" })
											
					<div class="ui mini icon input">
	@Html.EditorFor(model => model.REPRESENTANTE_DIRECCION, new { htmlAttributes = new { @class = "" } })
	<i class="keyboard outline outline icon"></i>
</div>

				
																@Html.ValidationMessageFor(model => model.REPRESENTANTE_DIRECCION, "", new { @class = "ui error message" })
															</div>

										<div class="field">
											@Html.LabelFor(model => model.REPRESENTANTE_CIUDAD, htmlAttributes: new { @class = "" })
											
					<div class="ui mini icon input">
	@Html.EditorFor(model => model.REPRESENTANTE_CIUDAD, new { htmlAttributes = new { @class = "" } })
	<i class="keyboard outline outline icon"></i>
</div>

				
																@Html.ValidationMessageFor(model => model.REPRESENTANTE_CIUDAD, "", new { @class = "ui error message" })
															</div>

										<div class="field">
											@Html.LabelFor(model => model.REPRESENTANTE_ESTRATO, htmlAttributes: new { @class = "" })
											
					<div class="ui mini icon input">
	@Html.EditorFor(model => model.REPRESENTANTE_ESTRATO, new { htmlAttributes = new { @class = "" } })
	<i class="keyboard outline outline icon"></i>
</div>

				
																@Html.ValidationMessageFor(model => model.REPRESENTANTE_ESTRATO, "", new { @class = "ui error message" })
															</div>

										<div class="field">
											@Html.LabelFor(model => model.REPRESENTANTE_TELEFONO_1, htmlAttributes: new { @class = "" })
											
					<div class="ui mini icon input">
	@Html.EditorFor(model => model.REPRESENTANTE_TELEFONO_1, new { htmlAttributes = new { @class = "" } })
	<i class="keyboard outline outline icon"></i>
</div>

				
																@Html.ValidationMessageFor(model => model.REPRESENTANTE_TELEFONO_1, "", new { @class = "ui error message" })
															</div>

										<div class="field">
											@Html.LabelFor(model => model.REPRESENTANTE_TELEFONO_2, htmlAttributes: new { @class = "" })
											
					<div class="ui mini icon input">
	@Html.EditorFor(model => model.REPRESENTANTE_TELEFONO_2, new { htmlAttributes = new { @class = "" } })
	<i class="keyboard outline outline icon"></i>
</div>

				
																@Html.ValidationMessageFor(model => model.REPRESENTANTE_TELEFONO_2, "", new { @class = "ui error message" })
															</div>

										<div class="field">
											@Html.LabelFor(model => model.REPRESENTANTE_GENERO, htmlAttributes: new { @class = "" })
											
					<div class="ui mini icon input">
	@Html.EditorFor(model => model.REPRESENTANTE_GENERO, new { htmlAttributes = new { @class = "" } })
	<i class="keyboard outline outline icon"></i>
</div>

				
																@Html.ValidationMessageFor(model => model.REPRESENTANTE_GENERO, "", new { @class = "ui error message" })
															</div>

										<div class="field">
											@Html.LabelFor(model => model.REPRESENTANTE_TELEFONO_3, htmlAttributes: new { @class = "" })
											
					<div class="ui mini icon input">
	@Html.EditorFor(model => model.REPRESENTANTE_TELEFONO_3, new { htmlAttributes = new { @class = "" } })
	<i class="keyboard outline outline icon"></i>
</div>

				
																@Html.ValidationMessageFor(model => model.REPRESENTANTE_TELEFONO_3, "", new { @class = "ui error message" })
															</div>

										<div class="field">
											@Html.LabelFor(model => model.REPRESENTANTE_FECHA_NACIMIENTO, htmlAttributes: new { @class = "" })
											
					

<div class="ui mini icon input">
	@Html.EditorFor(model => model.REPRESENTANTE_FECHA_NACIMIENTO, new { htmlAttributes = new { @class = "datepicker",type="text" } })
	<i class="calendar alternate outline icon"></i>
</div>

					
				
																@Html.ValidationMessageFor(model => model.REPRESENTANTE_FECHA_NACIMIENTO, "", new { @class = "ui error message" })
															</div>

										<div class="field">
											@Html.LabelFor(model => model.REPRESENTANTE_NOMBRE, htmlAttributes: new { @class = "" })
											
					<div class="ui mini icon input">
	@Html.EditorFor(model => model.REPRESENTANTE_NOMBRE, new { htmlAttributes = new { @class = "" } })
	<i class="keyboard outline outline icon"></i>
</div>

				
																@Html.ValidationMessageFor(model => model.REPRESENTANTE_NOMBRE, "", new { @class = "ui error message" })
															</div>

										<div class="field">
											@Html.LabelFor(model => model.FACTURACION_ACTUAL, htmlAttributes: new { @class = "" })
											
					<div class="ui mini icon input">
	@Html.EditorFor(model => model.FACTURACION_ACTUAL, new { htmlAttributes = new { @class = "" } })
	<i class="keyboard outline outline icon"></i>
</div>

				
																@Html.ValidationMessageFor(model => model.FACTURACION_ACTUAL, "", new { @class = "ui error message" })
															</div>

										<div class="field">
											@Html.LabelFor(model => model.TELEFONO_1, htmlAttributes: new { @class = "" })
											
					<div class="ui mini icon input">
	@Html.EditorFor(model => model.TELEFONO_1, new { htmlAttributes = new { @class = "" } })
	<i class="keyboard outline outline icon"></i>
</div>

				
																@Html.ValidationMessageFor(model => model.TELEFONO_1, "", new { @class = "ui error message" })
															</div>

										<div class="field">
											@Html.LabelFor(model => model.TELEFONO_2, htmlAttributes: new { @class = "" })
											
					<div class="ui mini icon input">
	@Html.EditorFor(model => model.TELEFONO_2, new { htmlAttributes = new { @class = "" } })
	<i class="keyboard outline outline icon"></i>
</div>

				
																@Html.ValidationMessageFor(model => model.TELEFONO_2, "", new { @class = "ui error message" })
															</div>

										<div class="field">
											@Html.LabelFor(model => model.TELEFONO_3, htmlAttributes: new { @class = "" })
											
					<div class="ui mini icon input">
	@Html.EditorFor(model => model.TELEFONO_3, new { htmlAttributes = new { @class = "" } })
	<i class="keyboard outline outline icon"></i>
</div>

				
																@Html.ValidationMessageFor(model => model.TELEFONO_3, "", new { @class = "ui error message" })
															</div>

										<div class="field">
											@Html.LabelFor(model => model.TELEFONO_4, htmlAttributes: new { @class = "" })
											
					<div class="ui mini icon input">
	@Html.EditorFor(model => model.TELEFONO_4, new { htmlAttributes = new { @class = "" } })
	<i class="keyboard outline outline icon"></i>
</div>

				
																@Html.ValidationMessageFor(model => model.TELEFONO_4, "", new { @class = "ui error message" })
															</div>

										<div class="field">
											@Html.LabelFor(model => model.TELEFONO_5, htmlAttributes: new { @class = "" })
											
					<div class="ui mini icon input">
	@Html.EditorFor(model => model.TELEFONO_5, new { htmlAttributes = new { @class = "" } })
	<i class="keyboard outline outline icon"></i>
</div>

				
																@Html.ValidationMessageFor(model => model.TELEFONO_5, "", new { @class = "ui error message" })
															</div>

										<div class="field">
											@Html.LabelFor(model => model.EMAIL, htmlAttributes: new { @class = "" })
											
					<div class="ui mini icon input">
	@Html.EditorFor(model => model.EMAIL, new { htmlAttributes = new { @class = "" } })
	<i class="keyboard outline outline icon"></i>
</div>

				
																@Html.ValidationMessageFor(model => model.EMAIL, "", new { @class = "ui error message" })
															</div>

										<div class="field">
											@Html.LabelFor(model => model.ClienteId, "ClienteId", htmlAttributes: new { @class = "" })
											
																	@Html.DropDownList("ClienteId", null , "Sin Seleccionar", htmlAttributes: new { @class = "ui search selection dropdown" })
																				@Html.ValidationMessageFor(model => model.ClienteId, "", new { @class = "ui error message" })
															</div>

				
						<div class="field">
							<br />
							<input type="submit" value="Guardar" class="ui  large red submit button" />
								@Html.ActionLink("Regresar", "Index",null,new { @class = "ui button" })
						</div>
				}
            </div>
        </div>
    </div>
</div>



