﻿@model tmkhogares.Models.PlanTrabajoTeam.PlanTrabajoTeam

@{
    ViewBag.Title = "Create";
}

@{
    ViewBag._Active = "Create";
    ViewBag._Panel = "Create";
}



<br />
<br />
<div class=" segment">
    <h1 class="ui header">
        <img src="~/Content/images/logo1.png">
        <div class="content">
            Módulo  de creación de PlanTrabajoTeam
            <div class="sub header">
                <div class="ui breadcrumb">
                    <a class="section" href="@Url.Action("HomeAdmin","Home")">Inicio</a>
                    <div class="divider"> / </div>
                    <a class="section" href="@Url.Action("Index")">Listar</a>
                    <div class="divider"> / </div>
                    <div class="active section" style="text-transform:lowercase">Creación de PlanTrabajoTeam</div>
                </div>
            </div>
        </div>

    </h1>
    <div class="ui hidden divider"></div>

</div>

<h4 class="ui horizontal divider header">
    <button class="ui  large purple submit button">
        <i class="computer icon"></i>
        CREAR PlanTrabajoTeam
    </button>

</h4>


@*<div class="ui grid">
        <div class="one wide column"></div>
        <div class="fourteen wide column">
            <div class="ui segments">
                <div class="ui teal segment">
                    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "ui large form", autofocus = "" }))
                    {
                        @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                        <div class="field">
                                                @Html.LabelFor(model => model.MetaPromedioDia, htmlAttributes: new { @class = "" })

                        <div class="ui mini icon input">
        @Html.EditorFor(model => model.MetaPromedioDia, new { htmlAttributes = new { @class = "" } })
        <i class="keyboard outline outline icon"></i>
    </div>



                                                                    @Html.ValidationMessageFor(model => model.MetaPromedioDia, "", new { @class = "ui error message" })
                                                                </div>

                                            <div class="field">
                                                @Html.LabelFor(model => model.DiasSemana, htmlAttributes: new { @class = "" })

                        <div class="ui mini icon input">
        @Html.EditorFor(model => model.DiasSemana, new { htmlAttributes = new { @class = "" } })
        <i class="keyboard outline outline icon"></i>
    </div>



                                                                    @Html.ValidationMessageFor(model => model.DiasSemana, "", new { @class = "ui error message" })
                                                                </div>

                                            <div class="field">
                                                @Html.LabelFor(model => model.MetaSemanal, htmlAttributes: new { @class = "" })

                        <div class="ui mini icon input">
        @Html.EditorFor(model => model.MetaSemanal, new { htmlAttributes = new { @class = "" } })
        <i class="keyboard outline outline icon"></i>
    </div>



                                                                    @Html.ValidationMessageFor(model => model.MetaSemanal, "", new { @class = "ui error message" })
                                                                </div>

                                            <div class="field">
                                                @Html.LabelFor(model => model.DiasMes, htmlAttributes: new { @class = "" })

                        <div class="ui mini icon input">
        @Html.EditorFor(model => model.DiasMes, new { htmlAttributes = new { @class = "" } })
        <i class="keyboard outline outline icon"></i>
    </div>



                                                                    @Html.ValidationMessageFor(model => model.DiasMes, "", new { @class = "ui error message" })
                                                                </div>

                                            <div class="field">
                                                @Html.LabelFor(model => model.MetaMensual, htmlAttributes: new { @class = "" })

                        <div class="ui mini icon input">
        @Html.EditorFor(model => model.MetaMensual, new { htmlAttributes = new { @class = "" } })
        <i class="keyboard outline outline icon"></i>
    </div>



                                                                    @Html.ValidationMessageFor(model => model.MetaMensual, "", new { @class = "ui error message" })
                                                                </div>

                                            <div class="field">
                                                @Html.LabelFor(model => model.ObservacionesARealizar, htmlAttributes: new { @class = "" })

                        <div class="ui mini icon input">
        @Html.EditorFor(model => model.ObservacionesARealizar, new { htmlAttributes = new { @class = "" } })
        <i class="keyboard outline outline icon"></i>
    </div>



                                                                    @Html.ValidationMessageFor(model => model.ObservacionesARealizar, "", new { @class = "ui error message" })
                                                                </div>

                                            <div class="field">
                                                @Html.LabelFor(model => model.CompromisoTeam, htmlAttributes: new { @class = "" })

                        <div class="ui mini icon input">
        @Html.EditorFor(model => model.CompromisoTeam, new { htmlAttributes = new { @class = "" } })
        <i class="keyboard outline outline icon"></i>
    </div>



                                                                    @Html.ValidationMessageFor(model => model.CompromisoTeam, "", new { @class = "ui error message" })
                                                                </div>

                                            <div class="field">
                                                @Html.LabelFor(model => model.DescripcionPlanAccion, htmlAttributes: new { @class = "" })

                        <div class="ui mini icon input">
        @Html.EditorFor(model => model.DescripcionPlanAccion, new { htmlAttributes = new { @class = "" } })
        <i class="keyboard outline outline icon"></i>
    </div>



                                                                    @Html.ValidationMessageFor(model => model.DescripcionPlanAccion, "", new { @class = "ui error message" })
                                                                </div>

                                            <div class="field">
                                                @Html.LabelFor(model => model.NombreCampana, htmlAttributes: new { @class = "" })

                        <div class="ui mini icon input">
        @Html.EditorFor(model => model.NombreCampana, new { htmlAttributes = new { @class = "" } })
        <i class="keyboard outline outline icon"></i>
    </div>



                                                                    @Html.ValidationMessageFor(model => model.NombreCampana, "", new { @class = "ui error message" })
                                                                </div>

                                            <div class="field">
                                                @Html.LabelFor(model => model.NombreGerente, htmlAttributes: new { @class = "" })

                        <div class="ui mini icon input">
        @Html.EditorFor(model => model.NombreGerente, new { htmlAttributes = new { @class = "" } })
        <i class="keyboard outline outline icon"></i>
    </div>



                                                                    @Html.ValidationMessageFor(model => model.NombreGerente, "", new { @class = "ui error message" })
                                                                </div>

                                            <div class="field">
                                                @Html.LabelFor(model => model.NombreTeam, htmlAttributes: new { @class = "" })

                        <div class="ui mini icon input">
        @Html.EditorFor(model => model.NombreTeam, new { htmlAttributes = new { @class = "" } })
        <i class="keyboard outline outline icon"></i>
    </div>



                                                                    @Html.ValidationMessageFor(model => model.NombreTeam, "", new { @class = "ui error message" })
                                                                </div>

                                            <div class="field">
                                                @Html.LabelFor(model => model.CedulaTeam, htmlAttributes: new { @class = "" })

                        <div class="ui mini icon input">
        @Html.EditorFor(model => model.CedulaTeam, new { htmlAttributes = new { @class = "" } })
        <i class="keyboard outline outline icon"></i>
    </div>



                                                                    @Html.ValidationMessageFor(model => model.CedulaTeam, "", new { @class = "ui error message" })
                                                                </div>

                                            <div class="field">
                                                @Html.LabelFor(model => model.LoginTeam, htmlAttributes: new { @class = "" })

                        <div class="ui mini icon input">
        @Html.EditorFor(model => model.LoginTeam, new { htmlAttributes = new { @class = "" } })
        <i class="keyboard outline outline icon"></i>
    </div>



                                                                    @Html.ValidationMessageFor(model => model.LoginTeam, "", new { @class = "ui error message" })
                                                                </div>

                                            <div class="field">
                                                @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "" })

                                                        <div class="checkboxclass">
                    <select name="Status" class="ui search selection dropdown">
            <option value="true">Activo</option>
            <option value="false">Inactivo</option>
        </select>

                                                                        @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "ui error message" })
                                                                        </div>
                                                </div>

                                            <div class="field">
                                                @Html.LabelFor(model => model.CantidadColaboradores, htmlAttributes: new { @class = "" })

                        <div class="ui mini icon input">
        @Html.EditorFor(model => model.CantidadColaboradores, new { htmlAttributes = new { @class = "" } })
        <i class="keyboard outline outline icon"></i>
    </div>



                                                                    @Html.ValidationMessageFor(model => model.CantidadColaboradores, "", new { @class = "ui error message" })
                                                                </div>

                                            <div class="field">
                                                @Html.LabelFor(model => model.Ausentismo, htmlAttributes: new { @class = "" })

                        <div class="ui mini icon input">
        @Html.EditorFor(model => model.Ausentismo, new { htmlAttributes = new { @class = "" } })
        <i class="keyboard outline outline icon"></i>
    </div>



                                                                    @Html.ValidationMessageFor(model => model.Ausentismo, "", new { @class = "ui error message" })
                                                                </div>

                                            <div class="field">
                                                @Html.LabelFor(model => model.Rotacion, htmlAttributes: new { @class = "" })

                        <div class="ui mini icon input">
        @Html.EditorFor(model => model.Rotacion, new { htmlAttributes = new { @class = "" } })
        <i class="keyboard outline outline icon"></i>
    </div>



                                                                    @Html.ValidationMessageFor(model => model.Rotacion, "", new { @class = "ui error message" })
                                                                </div>

                                            <div class="field">
                                                @Html.LabelFor(model => model.TeamId, "TeamId", htmlAttributes: new { @class = "" })

                                                                        @Html.DropDownList("TeamId", null , "Sin Seleccionar", htmlAttributes: new { @class = "ui search selection dropdown" })
                                                                                    @Html.ValidationMessageFor(model => model.TeamId, "", new { @class = "ui error message" })
                                                                </div>

                                            <div class="field">
                                                @Html.LabelFor(model => model.GerenteId, "GerenteId", htmlAttributes: new { @class = "" })

                                                                        @Html.DropDownList("GerenteId", null , "Sin Seleccionar", htmlAttributes: new { @class = "ui search selection dropdown" })
                                                                                    @Html.ValidationMessageFor(model => model.GerenteId, "", new { @class = "ui error message" })
                                                                </div>

                                            <div class="field">
                                                @Html.LabelFor(model => model.SeguimientoSemana1, "SeguimientoSemana1", htmlAttributes: new { @class = "" })

                                                                        @Html.DropDownList("SeguimientoSemana1", null , "Sin Seleccionar", htmlAttributes: new { @class = "ui search selection dropdown" })
                                                                                    @Html.ValidationMessageFor(model => model.SeguimientoSemana1, "", new { @class = "ui error message" })
                                                                </div>

                                            <div class="field">
                                                @Html.LabelFor(model => model.SeguimientoSemana2, "SeguimientoSemana2", htmlAttributes: new { @class = "" })

                                                                        @Html.DropDownList("SeguimientoSemana2", null , "Sin Seleccionar", htmlAttributes: new { @class = "ui search selection dropdown" })
                                                                                    @Html.ValidationMessageFor(model => model.SeguimientoSemana2, "", new { @class = "ui error message" })
                                                                </div>

                                            <div class="field">
                                                @Html.LabelFor(model => model.SeguimientoSemana3, "SeguimientoSemana3", htmlAttributes: new { @class = "" })

                                                                        @Html.DropDownList("SeguimientoSemana3", null , "Sin Seleccionar", htmlAttributes: new { @class = "ui search selection dropdown" })
                                                                                    @Html.ValidationMessageFor(model => model.SeguimientoSemana3, "", new { @class = "ui error message" })
                                                                </div>

                                            <div class="field">
                                                @Html.LabelFor(model => model.SeguimientoSemana4, "SeguimientoSemana4", htmlAttributes: new { @class = "" })

                                                                        @Html.DropDownList("SeguimientoSemana4", null , "Sin Seleccionar", htmlAttributes: new { @class = "ui search selection dropdown" })
                                                                                    @Html.ValidationMessageFor(model => model.SeguimientoSemana4, "", new { @class = "ui error message" })
                                                                </div>


                            <div class="field">
                                <br />
                                <input type="submit" value="Crear" class="ui  large red submit button" />
                                    @Html.ActionLink("Regresar", "Index",null,new { @class = "ui button" })
                            </div>
                    }
                </div>
            </div>
        </div>
    </div>*@

<div class="ui grid">
    <div class="one wide column"></div>
    <div class="fourteen wide column">
        <div class="ui ">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "ui large form", autofocus = "" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="ui grid purple segment center aligned">
                    <h2>Asignacion de la meta del mes actual</h2>
                    <div class="ui divider"></div>
                    <div class="six column row">
                        <div class="column">
                            <b>Meta Mes Actual</b>
                            <br />
                            <div class="ui  icon input">
                                <input type="text" disabled="disabled" name="MetaMesActual" value="80" />
                            </div>
                            <input type="hidden" name="TeamId" value="@ViewBag.TeamId" />
                            <input type="hidden" name="GerenteId" value="@ViewBag.GerenteId" />
                        </div>
                        <div class="column">
                            <b> @Html.LabelFor(model => model.MetaMensual, htmlAttributes: new { @class = "" })</b>
                            <br />
                            <div class="ui  icon input">
                                @Html.EditorFor(model => model.MetaMensual, new { htmlAttributes = new { @class = "" } })
                                <i class="keyboard outline outline icon"></i>
                            </div>
                            @Html.ValidationMessageFor(model => model.MetaMensual, "", new { @class = "ui error message" })
                        </div>
                        <div class="column">
                            <b> @Html.LabelFor(model => model.DiasMes, htmlAttributes: new { @class = "" })</b>
                            <br />
                            <div class="ui icon input">
                                @Html.EditorFor(model => model.DiasMes, new { htmlAttributes = new { @class = "" } })
                                <i class="keyboard outline outline icon"></i>
                            </div>
                            @Html.ValidationMessageFor(model => model.DiasMes, "", new { @class = "ui error message" })
                        </div>
                        <div class="column">
                            <b> @Html.LabelFor(model => model.DiasSemana, htmlAttributes: new { @class = "", @min = "0", @max = "7  " })</b>
                            <br />

                            <div class="ui  icon input">
                                @Html.EditorFor(model => model.DiasSemana, new { htmlAttributes = new { @class = "" } })
                                <i class="keyboard outline outline icon"></i>
                            </div>
                            @Html.ValidationMessageFor(model => model.DiasSemana, "", new { @class = "ui error message" })
                        </div>
                        <div class="column">
                            <b> @Html.LabelFor(model => model.MetaSemanal, htmlAttributes: new { @class = "" })</b>
                            <br />

                            <div class="ui  icon input">
                                <input type="text" disabled="disabled" name="MetaSemanal" id="MetaSemanal" value="" />

                                <i class="keyboard outline outline icon"></i>
                            </div>
                            @Html.ValidationMessageFor(model => model.MetaSemanal, "", new { @class = "ui error message" })
                        </div>
                        <div class="column">
                            <b>@Html.LabelFor(model => model.MetaPromedioDia, htmlAttributes: new { @class = "" })</b>
                            <br />
                            <div class="ui  icon input">
                                <input type="text" disabled="disabled" name="MetaPromedioDia" id="MetaPromedioDia" value="" />
                                <i class="keyboard outline outline icon"></i>
                            </div>
                            @Html.ValidationMessageFor(model => model.MetaPromedioDia, "", new { @class = "ui error message" })
                        </div>
                    </div>
                    <div class="two column row">
                        <div class="column">
                            <b> @Html.LabelFor(model => model.ObservacionesARealizar, "Comentarios Seguimiento Gerente", htmlAttributes: new { @class = "" })</b>
                            <br />
                            <div class="ui icon input">
                                @Html.TextAreaFor(model => model.ObservacionesARealizar, new { htmlAttributes = new { @class = "" } })
                                <i class="keyboard outline outline icon"></i>
                            </div>
                            @Html.ValidationMessageFor(model => model.ObservacionesARealizar, "", new { @class = "ui error message" })
                        </div>

                        <div class="column">
                            <b> @Html.LabelFor(model => model.CompromisoTeam, "Compromiso Team", htmlAttributes: new { @class = "" })</b>
                            <br />
                            <div class="ui icon input">
                                @Html.TextAreaFor(model => model.CompromisoTeam, new { htmlAttributes = new { @class = "" } })
                                <i class="keyboard outline outline icon"></i>
                            </div>
                            @Html.ValidationMessageFor(model => model.CompromisoTeam, "", new { @class = "ui error message" })
                        </div>
                    </div>
                    <div class="one column row">
                        <div class="column">
                            <button class="ui purple button">Asignar meta</button>
                        </div>
                    </div>
                </div>

            }
        <table class="ui celled table">
            <tr>
                <td>Mes</td>
                <td>Colaboradores</td>
                <td>Meta Cantidad Ventas</td>
                <td>Ventas Realizadas</td>
                <td>Cumplimiento</td>
                <td>Promedio Meta</td>
                <td>Promedio Alcanzado</td>
                <td>Ausentismo</td>
                <td>Rotacion</td>
            </tr>
            <tr>
                <td>dic</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td>nov</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td>oct</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
        </table>
        </div>

    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/app/PlanTrabajo.js"></script>
}
