﻿@model tmkhogares.Models.PlanTrabajoTeam.PlanTrabajoTeam

@{
    ViewBag.Title = "Details";
}


@{
	ViewBag._Active = "Details";
	ViewBag._Panel = "Home";
}




<br />
<br />
<div class=" segment">
    <h1 class="ui header">
        <img src="~/Content/images/logo1.png">
        <div class="content">
            Módulo  de detalle  de @ViewBag.Name
            <div class="sub header">
                <div class="ui breadcrumb">
                    <a class="section"  href="@Url.Action("HomeAdmin","Home")">Inicio</a>
                    <div class="divider"> / </div>
                    <a class="section" href="@Url.Action("Index")">Listar</a>
                    <div class="divider"> / </div>
                    <div class="active section" style="text-transform:lowercase">Detalle de PlanTrabajoTeam</div>
                </div>
            </div>
        </div>

    </h1>
    <div class="ui hidden divider"></div>

</div>



<h4 class="ui horizontal divider header">
    <button class="ui  large red submit button">
        <i class="sticky note icon"></i>
        Detalle de  PlanTrabajoTeam
    </button>

</h4>

<div class="ui grid">
        <div class="ten wide centered column">
            <div class="ui segments">
                <div class="ui teal segment">
			<table id="tabla" class="ui celled small hover striped table">
				<tbody>
																			<tr>
								<td>
									@Html.DisplayNameFor(model => model.Gerente.Document)
								</td>

								<td>
									@Html.DisplayFor(model => model.Gerente.Document)
								</td>
							</tr>
																			<tr>
								<td>
									@Html.DisplayNameFor(model => model.Seguimiento1.MetaPromedio)
								</td>

								<td>
									@Html.DisplayFor(model => model.Seguimiento1.MetaPromedio)
								</td>
							</tr>
																			<tr>
								<td>
									@Html.DisplayNameFor(model => model.Seguimiento2.MetaPromedio)
								</td>

								<td>
									@Html.DisplayFor(model => model.Seguimiento2.MetaPromedio)
								</td>
							</tr>
																			<tr>
								<td>
									@Html.DisplayNameFor(model => model.Seguimiento3.MetaPromedio)
								</td>

								<td>
									@Html.DisplayFor(model => model.Seguimiento3.MetaPromedio)
								</td>
							</tr>
																			<tr>
								<td>
									@Html.DisplayNameFor(model => model.Seguimiento4.MetaPromedio)
								</td>

								<td>
									@Html.DisplayFor(model => model.Seguimiento4.MetaPromedio)
								</td>
							</tr>
																			<tr>
								<td>
									@Html.DisplayNameFor(model => model.Team.Document)
								</td>

								<td>
									@Html.DisplayFor(model => model.Team.Document)
								</td>
							</tr>
																			<tr>
								<td>
									@Html.DisplayNameFor(model => model.MetaPromedioDia)
								</td>

								<td>
									@Html.DisplayFor(model => model.MetaPromedioDia)
								</td>
							</tr>
																			<tr>
								<td>
									@Html.DisplayNameFor(model => model.DiasSemana)
								</td>

								<td>
									@Html.DisplayFor(model => model.DiasSemana)
								</td>
							</tr>
																			<tr>
								<td>
									@Html.DisplayNameFor(model => model.MetaSemanal)
								</td>

								<td>
									@Html.DisplayFor(model => model.MetaSemanal)
								</td>
							</tr>
																			<tr>
								<td>
									@Html.DisplayNameFor(model => model.DiasMes)
								</td>

								<td>
									@Html.DisplayFor(model => model.DiasMes)
								</td>
							</tr>
																			<tr>
								<td>
									@Html.DisplayNameFor(model => model.MetaMensual)
								</td>

								<td>
									@Html.DisplayFor(model => model.MetaMensual)
								</td>
							</tr>
																			<tr>
								<td>
									@Html.DisplayNameFor(model => model.ObservacionesARealizar)
								</td>

								<td>
									@Html.DisplayFor(model => model.ObservacionesARealizar)
								</td>
							</tr>
																			<tr>
								<td>
									@Html.DisplayNameFor(model => model.CompromisoTeam)
								</td>

								<td>
									@Html.DisplayFor(model => model.CompromisoTeam)
								</td>
							</tr>
																			<tr>
								<td>
									@Html.DisplayNameFor(model => model.DescripcionPlanAccion)
								</td>

								<td>
									@Html.DisplayFor(model => model.DescripcionPlanAccion)
								</td>
							</tr>
																			<tr>
								<td>
									@Html.DisplayNameFor(model => model.NombreCampana)
								</td>

								<td>
									@Html.DisplayFor(model => model.NombreCampana)
								</td>
							</tr>
																			<tr>
								<td>
									@Html.DisplayNameFor(model => model.NombreGerente)
								</td>

								<td>
									@Html.DisplayFor(model => model.NombreGerente)
								</td>
							</tr>
																			<tr>
								<td>
									@Html.DisplayNameFor(model => model.NombreTeam)
								</td>

								<td>
									@Html.DisplayFor(model => model.NombreTeam)
								</td>
							</tr>
																			<tr>
								<td>
									@Html.DisplayNameFor(model => model.CedulaTeam)
								</td>

								<td>
									@Html.DisplayFor(model => model.CedulaTeam)
								</td>
							</tr>
																			<tr>
								<td>
									@Html.DisplayNameFor(model => model.LoginTeam)
								</td>

								<td>
									@Html.DisplayFor(model => model.LoginTeam)
								</td>
							</tr>
																			<tr>
								<td>
									@Html.DisplayNameFor(model => model.Estado)
								</td>

								<td>
									@Html.DisplayFor(model => model.Estado)
								</td>
							</tr>
																			<tr>
								<td>
									@Html.DisplayNameFor(model => model.CantidadColaboradores)
								</td>

								<td>
									@Html.DisplayFor(model => model.CantidadColaboradores)
								</td>
							</tr>
																			<tr>
								<td>
									@Html.DisplayNameFor(model => model.Ausentismo)
								</td>

								<td>
									@Html.DisplayFor(model => model.Ausentismo)
								</td>
							</tr>
																			<tr>
								<td>
									@Html.DisplayNameFor(model => model.Rotacion)
								</td>

								<td>
									@Html.DisplayFor(model => model.Rotacion)
								</td>
							</tr>
																			<tr>
								<td>
									@Html.DisplayNameFor(model => model.CreatedAt)
								</td>

								<td>
									@Html.DisplayFor(model => model.CreatedAt)
								</td>
							</tr>
																			<tr>
								<td>
									@Html.DisplayNameFor(model => model.UpdatedAt)
								</td>

								<td>
									@Html.DisplayFor(model => model.UpdatedAt)
								</td>
							</tr>
																			<tr>
								<td>
									@Html.DisplayNameFor(model => model.DeletedAt)
								</td>

								<td>
									@Html.DisplayFor(model => model.DeletedAt)
								</td>
							</tr>
																			<tr>
								<td>
									@Html.DisplayNameFor(model => model.CreatedBy)
								</td>

								<td>
									@Html.DisplayFor(model => model.CreatedBy)
								</td>
							</tr>
																			<tr>
								<td>
									@Html.DisplayNameFor(model => model.UpdatedBy)
								</td>

								<td>
									@Html.DisplayFor(model => model.UpdatedBy)
								</td>
							</tr>
										</tbody>
			</table>
	@Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "ui red button" })
	@Html.ActionLink("Regresar to List", "Index",null, new { @class = "ui button" })

            </div>
        </div>

    </div>
</div>



