﻿@model IEnumerable<tmkhogares.Models.PlanTrabajoTeam.PlanTrabajoTeam>

@{
    ViewBag.Title = "Index";
}

@{
    ViewBag._Active = "Index";
    ViewBag._Panel = "Home";
}




<br />
<br />
<div class=" segment">
    <h1 class="ui header">
        <img src="~/Content/images/logo1.png">
        <div class="content">
            Módulo  de Lista  de PlanTrabajoTeam
            <div class="sub header">
                <div class="ui breadcrumb">
                    <a class="section" href="@Url.Action("HomeAdmin","Home")">Inicio</a>
                    <div class="divider"> / </div>
                    <div class="active section" style="text-transform:lowercase">Lista  de PlanTrabajoTeam</div>
                </div>
            </div>
        </div>
    </h1>
    <div class="ui hidden divider"></div>
    <form action="" method="get">
        <a href="@Url.Action("create",new { TeamId = ViewBag.TeamId })" class="ui download purple button">
            CREAR NUEVO
        </a>

        <div class="ui action input">
            <input type="text" name="Name" placeholder="Nombre" value="@ViewBag.FName">
            <button class="ui icon button" id="btnCon">
                <i class="search icon"></i>
            </button>
        </div>

    </form>
</div>
<h4 class="ui horizontal divider header">
    <button class="ui  large purple submit button">
        <i class="tasks icon"></i>
        LISTA DE PlanTrabajoTeam
    </button>
</h4>



<div class="ui grid">
    <div class="one wide column"></div>
    <div class="fourteen wide column">
        <div class="ui segments">
            <div class="ui purple segment">
                <table id="tabla" class="ui celled small hover striped table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Gerente.Document)
                            </th>
                            
                            <th>
                                @Html.DisplayNameFor(model => model.Team.Document)

                            <th>
                                @Html.DisplayNameFor(model => model.NombreCampana)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NombreGerente)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NombreTeam)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CedulaTeam)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LoginTeam)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Estado)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CantidadColaboradores)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Ausentismo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Rotacion)
                            </th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Gerente.Document)
                                </td>
                                
                                <td>
                                    @Html.DisplayFor(modelItem => item.Team.Document)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.NombreCampana)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NombreGerente)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NombreTeam)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CedulaTeam)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LoginTeam)
                                </td>
                                <td>
                                    <div class="ui toggle  checkbox">
                                        <input type="checkbox" disabled="disabled" name="public" @if (item.Estado == true) { @Html.Raw("checked") ; }>
                                        <label></label>
                                    </div>
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.CantidadColaboradores)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Ausentismo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Rotacion)
                                </td>
                                <td>
                                    @Html.ActionLink("Seguimiento", "Index", "SeguimientoTeams", new { PlanTrabajoTeamId = item.Id }, new { @class = "ui download black button" })

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
