﻿@model tmkhogares.Models.UsuariosCampanas.UsuarioCampanas

@{
    ViewBag.Title = "Create";
}

<br />
<br />
<div class=" segment">
    <h1 class="ui header">
        <img src="~/Content/images/logo1.png">
        <div class="content">
            Módulo  de creación de UsuarioCampanas
            <div class="sub header">
                <div class="ui breadcrumb">
                    <a class="section" href="@Url.Action("HomeAdmin","Home")">Inicio</a>
                    <div class="divider"> / </div>
                    <a class="section" href="@Url.Action("Index",new { id=ViewBag.UserId})">Listar</a>
                    <div class="divider"> / </div>
                    <div class="active section" style="text-transform:lowercase">Creación de UsuarioCampanas</div>
                </div>
            </div>
        </div>

    </h1>
    <div class="ui hidden divider"></div>

</div>

@if (TempData["Mensaje"] != null)
{
    <div class="ui red message">
        <i class="close icon"></i>
        <div class="header">
            @TempData["Mensaje"]
        </div>
    </div>
}

<h4 class="ui horizontal divider header">
    <button class="ui  large purple submit button">
        <i class="computer icon"></i>
        CREAR UsuarioCampanas
    </button>

</h4>


<div class="ui grid">
    <div class="one wide column"></div>
    <div class="fourteen wide column">
        <div class="ui segments">
            <div class="ui purple segment">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "ui large form", autofocus = "" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <input type="hidden" name="UserId" value="@ViewBag.UserId" />
                    <div class="field">
                        @Html.LabelFor(model => model.CampanaId, "CampanaId", htmlAttributes: new { @class = "" })

                        @Html.DropDownList("CampanaId", null, "Sin Seleccionar", htmlAttributes: new { @class = "ui search selection dropdown" })
                        @Html.ValidationMessageFor(model => model.CampanaId, "", new { @class = "ui error message" })
                    </div>

                    <div class="field">
                        <br />
                        <input type="submit" value="Crear" class="ui  large purple submit button" />
                        @Html.ActionLink("Regresar", "Index", new { id = ViewBag.UserId }, new { @class = "ui button" })
                    </div>
                }
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $('.message .close')
            .on('click', function () {
                $(this)
                    .closest('.message')
                    .transition('fade')
                    ;
            });
    </script>
}


