﻿@model IEnumerable<tmkhogares.Models.UsuariosCampanas.UsuarioCampanas>

@{
    ViewBag.Title = "Index";
}

@{
    ViewBag._Active = "Index";
    ViewBag._Panel = "Home";
}




<br />
<br />
<div class=" segment">
    <h1 class="ui header">
        <img src="~/Content/images/logo1.png">
        <div class="content">
            Módulo  de Lista  de UsuarioCampanas
            <div class="sub header">
                <div class="ui breadcrumb">
                    <a class="section" href="@Url.Action("HomeAdmin","Home")">Inicio</a>
                    <div class="divider"> / </div>
                    <div class="active section" style="text-transform:lowercase">Lista  de UsuarioCampanas</div>
                </div>
            </div>
        </div>
    </h1>
    <div class="ui hidden divider"></div>

    @if (TempData["Mensaje"] != null)
    {
        <div class="ui negative  message">
            <i class="close icon"></i>
            <div class="header">
                @TempData["Mensaje"]
            </div>
        </div>
    }

    <form action="" method="get">

        <a href="@Url.Action("create/"+ViewBag.UserId)" class="ui download purple button">
            ASIGNAR CAMPAÑA
        </a>

        <div class="ui action input">
            <input type="text" name="Name" placeholder="Nombre" value="@ViewBag.FName">
            <button class="ui icon button" id="btnCon">
                <i class="search icon"></i>
            </button>
        </div>

    </form>
</div>
<h4 class="ui horizontal divider header">
    <button class="ui  large purple submit button">
        <i class="tasks icon"></i>
        LISTA DE USUARIOS POR CAMPAÑA
    </button>

</h4>



<div class="ui grid">
    <div class="one wide column"></div>
    <div class="fourteen wide column">
        <div class="ui segments">
            <div class="ui purple segment">
                <table id="tabla" class="ui celled small hover striped table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Campana.Nombre)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.User.Document)
                            </th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            var nombre = item.Campana == null ? "" : item.Campana.Nombre;
                            var documento = item.User.Document == null ? "" : item.User.Document;
                            <tr>
                                <td>
                                    @nombre
                                </td>
                                <td>
                                    @documento
                                </td>
                                <td>
                                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, new { @class = "ui download black button" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@section Scripts {

    <script>
        $('.message .close')
            .on('click', function () {
                $(this)
                    .closest('.message')
                    .transition('fade')
                    ;
            });
    </script>

}
