﻿@model tmkhogares.Models.PlanTrabajoAsesor.SeguimientoAsesor

@{
    ViewBag.Title = "Edit";
}

@{
	ViewBag._Active = "Edit";
	ViewBag._Panel = "Home";
}





<br />
<br />
<div class=" segment">
    <h1 class="ui header">
        <img src="~/Content/images/logo1.png">
        <div class="content">
            Módulo  de Edición de SeguimientoAsesor
            <div class="sub header">
                <div class="ui breadcrumb">
                    <a class="section"  href="@Url.Action("HomeAdmin","Home")">Inicio</a>
                    <div class="divider"> / </div>
                    <a class="section" href="@Url.Action("Index")">Listar</a>
                    <div class="divider"> / </div>
                    <div class="active section" style="text-transform:lowercase">Edición de SeguimientoAsesor</div>
                </div>
            </div>
        </div>

    </h1>
    <div class="ui hidden divider"></div>

</div>

<h4 class="ui horizontal divider header">
    <button class="ui  large red submit button">
        <i class="edit icon"></i>
        Editar SeguimientoAsesor
    </button>

</h4>

<div class="ui grid">
    <div class="one wide column"></div>
    <div class="fourteen wide column">
        <div class="ui segments">
            <div class="ui teal segment">
				@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "ui large form", autofocus = "" })) 
				{
					@Html.AntiForgeryToken()
								@Html.ValidationSummary(true, "", new { @class = "text-danger" })
													<div class="field">
											@Html.LabelFor(model => model.MetaPromedio, htmlAttributes: new { @class = "" })
											
					<div class="ui mini icon input">
	@Html.EditorFor(model => model.MetaPromedio, new { htmlAttributes = new { @class = "" } })
	<i class="keyboard outline outline icon"></i>
</div>

				
																@Html.ValidationMessageFor(model => model.MetaPromedio, "", new { @class = "ui error message" })
															</div>

										<div class="field">
											@Html.LabelFor(model => model.PromedioInicio, htmlAttributes: new { @class = "" })
											
					<div class="ui mini icon input">
	@Html.EditorFor(model => model.PromedioInicio, new { htmlAttributes = new { @class = "" } })
	<i class="keyboard outline outline icon"></i>
</div>

				
																@Html.ValidationMessageFor(model => model.PromedioInicio, "", new { @class = "ui error message" })
															</div>

										<div class="field">
											@Html.LabelFor(model => model.PromedioFinalizo, htmlAttributes: new { @class = "" })
											
					<div class="ui mini icon input">
	@Html.EditorFor(model => model.PromedioFinalizo, new { htmlAttributes = new { @class = "" } })
	<i class="keyboard outline outline icon"></i>
</div>

				
																@Html.ValidationMessageFor(model => model.PromedioFinalizo, "", new { @class = "ui error message" })
															</div>

										<div class="field">
											@Html.LabelFor(model => model.CantidadVentasMeta, htmlAttributes: new { @class = "" })
											
					<div class="ui mini icon input">
	@Html.EditorFor(model => model.CantidadVentasMeta, new { htmlAttributes = new { @class = "" } })
	<i class="keyboard outline outline icon"></i>
</div>

				
																@Html.ValidationMessageFor(model => model.CantidadVentasMeta, "", new { @class = "ui error message" })
															</div>

										<div class="field">
											@Html.LabelFor(model => model.CantidadVentasRealizadas, htmlAttributes: new { @class = "" })
											
					<div class="ui mini icon input">
	@Html.EditorFor(model => model.CantidadVentasRealizadas, new { htmlAttributes = new { @class = "" } })
	<i class="keyboard outline outline icon"></i>
</div>

				
																@Html.ValidationMessageFor(model => model.CantidadVentasRealizadas, "", new { @class = "ui error message" })
															</div>

										<div class="field">
											@Html.LabelFor(model => model.PorcentajeCumplimiento, htmlAttributes: new { @class = "" })
											
					<div class="ui mini icon input">
	@Html.EditorFor(model => model.PorcentajeCumplimiento, new { htmlAttributes = new { @class = "" } })
	<i class="keyboard outline outline icon"></i>
</div>

				
																@Html.ValidationMessageFor(model => model.PorcentajeCumplimiento, "", new { @class = "ui error message" })
															</div>

										<div class="field">
											@Html.LabelFor(model => model.PorcentajeAusentismo, htmlAttributes: new { @class = "" })
											
					<div class="ui mini icon input">
	@Html.EditorFor(model => model.PorcentajeAusentismo, new { htmlAttributes = new { @class = "" } })
	<i class="keyboard outline outline icon"></i>
</div>

				
																@Html.ValidationMessageFor(model => model.PorcentajeAusentismo, "", new { @class = "ui error message" })
															</div>

										<div class="field">
											@Html.LabelFor(model => model.Evolucion, htmlAttributes: new { @class = "" })
											
					<div class="ui mini icon input">
	@Html.EditorFor(model => model.Evolucion, new { htmlAttributes = new { @class = "" } })
	<i class="keyboard outline outline icon"></i>
</div>

				
																@Html.ValidationMessageFor(model => model.Evolucion, "", new { @class = "ui error message" })
															</div>

										<div class="field">
											@Html.LabelFor(model => model.NotaCalidad, htmlAttributes: new { @class = "" })
											
					<div class="ui mini icon input">
	@Html.EditorFor(model => model.NotaCalidad, new { htmlAttributes = new { @class = "" } })
	<i class="keyboard outline outline icon"></i>
</div>

				
																@Html.ValidationMessageFor(model => model.NotaCalidad, "", new { @class = "ui error message" })
															</div>

										<div class="field">
											@Html.LabelFor(model => model.ComentariosSeguimientoTeam, htmlAttributes: new { @class = "" })
											
					<div class="ui mini icon input">
	@Html.EditorFor(model => model.ComentariosSeguimientoTeam, new { htmlAttributes = new { @class = "" } })
	<i class="keyboard outline outline icon"></i>
</div>

				
																@Html.ValidationMessageFor(model => model.ComentariosSeguimientoTeam, "", new { @class = "ui error message" })
															</div>

										<div class="field">
											@Html.LabelFor(model => model.ComentariosSeguimientoAsesor, htmlAttributes: new { @class = "" })
											
					<div class="ui mini icon input">
	@Html.EditorFor(model => model.ComentariosSeguimientoAsesor, new { htmlAttributes = new { @class = "" } })
	<i class="keyboard outline outline icon"></i>
</div>

				
																@Html.ValidationMessageFor(model => model.ComentariosSeguimientoAsesor, "", new { @class = "ui error message" })
															</div>

										<div class="field">
											@Html.LabelFor(model => model.SeguimientoDia1, htmlAttributes: new { @class = "" })
											
					<div class="ui mini icon input">
	@Html.EditorFor(model => model.SeguimientoDia1, new { htmlAttributes = new { @class = "" } })
	<i class="keyboard outline outline icon"></i>
</div>

				
																@Html.ValidationMessageFor(model => model.SeguimientoDia1, "", new { @class = "ui error message" })
															</div>

										<div class="field">
											@Html.LabelFor(model => model.SeguimientoDia2, htmlAttributes: new { @class = "" })
											
					<div class="ui mini icon input">
	@Html.EditorFor(model => model.SeguimientoDia2, new { htmlAttributes = new { @class = "" } })
	<i class="keyboard outline outline icon"></i>
</div>

				
																@Html.ValidationMessageFor(model => model.SeguimientoDia2, "", new { @class = "ui error message" })
															</div>

										<div class="field">
											@Html.LabelFor(model => model.SeguimientoDia3, htmlAttributes: new { @class = "" })
											
					<div class="ui mini icon input">
	@Html.EditorFor(model => model.SeguimientoDia3, new { htmlAttributes = new { @class = "" } })
	<i class="keyboard outline outline icon"></i>
</div>

				
																@Html.ValidationMessageFor(model => model.SeguimientoDia3, "", new { @class = "ui error message" })
															</div>

										<div class="field">
											@Html.LabelFor(model => model.SeguimientoDia4, htmlAttributes: new { @class = "" })
											
					<div class="ui mini icon input">
	@Html.EditorFor(model => model.SeguimientoDia4, new { htmlAttributes = new { @class = "" } })
	<i class="keyboard outline outline icon"></i>
</div>

				
																@Html.ValidationMessageFor(model => model.SeguimientoDia4, "", new { @class = "ui error message" })
															</div>

										<div class="field">
											@Html.LabelFor(model => model.SeguimientoDia5, htmlAttributes: new { @class = "" })
											
					<div class="ui mini icon input">
	@Html.EditorFor(model => model.SeguimientoDia5, new { htmlAttributes = new { @class = "" } })
	<i class="keyboard outline outline icon"></i>
</div>

				
																@Html.ValidationMessageFor(model => model.SeguimientoDia5, "", new { @class = "ui error message" })
															</div>

										<div class="field">
											@Html.LabelFor(model => model.SeguimientoDia6, htmlAttributes: new { @class = "" })
											
					<div class="ui mini icon input">
	@Html.EditorFor(model => model.SeguimientoDia6, new { htmlAttributes = new { @class = "" } })
	<i class="keyboard outline outline icon"></i>
</div>

				
																@Html.ValidationMessageFor(model => model.SeguimientoDia6, "", new { @class = "ui error message" })
															</div>

										<div class="field">
											@Html.LabelFor(model => model.SeguimientoDia7, htmlAttributes: new { @class = "" })
											
					<div class="ui mini icon input">
	@Html.EditorFor(model => model.SeguimientoDia7, new { htmlAttributes = new { @class = "" } })
	<i class="keyboard outline outline icon"></i>
</div>

				
																@Html.ValidationMessageFor(model => model.SeguimientoDia7, "", new { @class = "ui error message" })
															</div>

										<div class="field">
											@Html.LabelFor(model => model.PlanTrabajoAsesorId, "PlanTrabajoAsesorId", htmlAttributes: new { @class = "" })
											
																	@Html.DropDownList("PlanTrabajoAsesorId", null , "Sin Seleccionar", htmlAttributes: new { @class = "ui search selection dropdown" })
																				@Html.ValidationMessageFor(model => model.PlanTrabajoAsesorId, "", new { @class = "ui error message" })
															</div>

				
						<div class="field">
							<br />
							<input type="submit" value="Guardar" class="ui  large red submit button" />
								@Html.ActionLink("Regresar", "Index",null,new { @class = "ui button" })
						</div>
				}
            </div>
        </div>
    </div>
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
