﻿@model IEnumerable<tmkhogares.Models.Cuartiles.Cuartil>

@{
    ViewBag.Title = "Index";
}

@{
	ViewBag._Active = "Index";
	ViewBag._Panel = "Home";
}




<br />
<br />
<div class=" segment">
    <h1 class="ui header">
        <img src="~/Content/images/logo1.png">
        <div class="content">
            Módulo  de Lista  de Cuartil
            <div class="sub header">
                <div class="ui breadcrumb">
                    <a class="section"  href="@Url.Action("HomeAdmin","Home")">Inicio</a>
                    <div class="divider"> / </div>
                    <div class="active section" style="text-transform:lowercase">Lista  de Cuartil</div>
                </div>
            </div>
        </div>
    </h1>
    <div class="ui hidden divider"></div>
    <form action="" method="get">
        <a href="@Url.Action("create")" class="ui download red button">
            CREAR NUEVO
        </a>

        <div class="ui action input">
            <input type="text" name="Name" placeholder="Nombre" value="@ViewBag.FName">
            <button class="ui icon button" id="btnCon">
                <i class="search icon"></i>
            </button>
        </div>

    </form>
</div>
<h4 class="ui horizontal divider header">
    <button class="ui  large red submit button">
        <i class="tasks icon"></i>
        LISTA DE Cuartil
    </button>

</h4>



<div class="ui grid">
    <div class="one wide column"></div>
    <div class="fourteen wide column">
        <div class="ui segments">
            <div class="ui teal segment">
				<table id="tabla" class="ui celled small hover striped table">
					<thead>
						<tr>
																							<th>
										@Html.DisplayNameFor(model => model.Nombre)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.Descripcion)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.Numero)
									</th>
																<th>Acciones</th>
							</tr>
					</thead>
					<tbody>

							@foreach (var item in Model) {
								<tr>
																														<td>
										@Html.DisplayFor(modelItem => item.Nombre)
									</td>
																														<td>
										@Html.DisplayFor(modelItem => item.Descripcion)
									</td>
																														<td>
										@Html.DisplayFor(modelItem => item.Numero)
									</td>
																<td>
										@Html.ActionLink("Editar", "Edit", new { id=item.Id }, new {  @class = "ui download red button" })
										@Html.ActionLink("Detalle", "Details", new { id=item.Id }, new {  @class = "ui download  button" })
										@Html.ActionLink("Eliminar", "Delete", new { id=item.Id } , new {  @class = "ui download black button" })
									</td>
															</tr>
							}
					</tbody>
				</table>
            </div>
        </div>
    </div>
</div>
