﻿@model tmkhogares.Models.CampañasCuartiles.CampañasCuartiles

@{
    ViewBag.Title = "Create";
}

@{
	ViewBag._Active = "Create";
	ViewBag._Panel = "Create";
}




<br />
<br />
<div class=" segment">
    <h1 class="ui header">
        <img src="~/Content/images/logo1.png">
        <div class="content">
            Módulo  de creación de CampañasCuartiles
            <div class="sub header">
                <div class="ui breadcrumb">
                    <a class="section"  href="@Url.Action("HomeAdmin","Home")">Inicio</a>
                    <div class="divider"> / </div>
                    <a class="section" href="@Url.Action("Index")">Listar</a>
                    <div class="divider"> / </div>
                    <div class="active section" style="text-transform:lowercase">Creación de CampañasCuartiles</div>
                </div>
            </div>
        </div>

    </h1>
    <div class="ui hidden divider"></div>

</div>

<h4 class="ui horizontal divider header">
    <button class="ui  large red submit button">
        <i class="computer icon"></i>
        CREAR CampañasCuartiles
    </button>

</h4>


<div class="ui grid">
    <div class="one wide column"></div>
    <div class="fourteen wide column">
        <div class="ui segments">
            <div class="ui teal segment">
				@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "ui large form", autofocus = "" })) 
				{
					@Html.AntiForgeryToken()
								@Html.ValidationSummary(true, "", new { @class = "text-danger" })
													<div class="field">
											@Html.LabelFor(model => model.CampanaId, "CampanaId", htmlAttributes: new { @class = "" })
											
																	@Html.DropDownList("CampanaId", null , "Sin Seleccionar", htmlAttributes: new { @class = "ui search selection dropdown" })
																				@Html.ValidationMessageFor(model => model.CampanaId, "", new { @class = "ui error message" })
															</div>

										<div class="field">
											@Html.LabelFor(model => model.CuartilId, "CuartilId", htmlAttributes: new { @class = "" })
											
																	@Html.DropDownList("CuartilId", null , "Sin Seleccionar", htmlAttributes: new { @class = "ui search selection dropdown" })
																				@Html.ValidationMessageFor(model => model.CuartilId, "", new { @class = "ui error message" })
															</div>

										<div class="field">
											@Html.LabelFor(model => model.TipoCuartilId, "TipoCuartilId", htmlAttributes: new { @class = "" })
											
																	@Html.DropDownList("TipoCuartilId", null , "Sin Seleccionar", htmlAttributes: new { @class = "ui search selection dropdown" })
																				@Html.ValidationMessageFor(model => model.TipoCuartilId, "", new { @class = "ui error message" })
															</div>

										<div class="field">
											@Html.LabelFor(model => model.promedio, htmlAttributes: new { @class = "" })
											
					<div class="ui mini icon input">
	@Html.EditorFor(model => model.promedio, new { htmlAttributes = new { @class = "" } })
	<i class="keyboard outline outline icon"></i>
</div>
								

				
																@Html.ValidationMessageFor(model => model.promedio, "", new { @class = "ui error message" })
															</div>

				
						<div class="field">
							<br />
							<input type="submit" value="Crear" class="ui  large red submit button" />
								@Html.ActionLink("Regresar", "Index",null,new { @class = "ui button" })
						</div>
				}
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
