﻿
@using Core.Models.Security
@{
    ViewBag.Title = "Home Page";

}

<div class="ui grid">
    <div class="ten centered wide column">
        @*<img class="ui fluid image bordered rounded" src="~/Content/images/Escritorio .png">*@
    </div>
</div>

@{
    var date = DateTime.UtcNow;


}.


<br />
<br />
<div class=" segment">
    <h1 class="ui header">
        <img src="~/Content/images/logo1.png">
        <div class="content">
            Operacion Uno27
            <div class="sub header">
                <div class="ui breadcrumb">
                    <p class="section" href="@Url.Action("HomeAdmin","Home")">Uno27</p>
                </div>
            </div>
        </div>

    </h1>
    <div class="ui hidden divider"></div>

</div>


@if (TempData["Mensaje"] != null)
{
    <div class="ui positive message">
        <i class="close icon"></i>
        <div class="header">
            @TempData["Mensaje"]
        </div>
    </div>
}

@if (TempData["MensajeError"] != null)
{
    <div class="ui error message">
        <i class="close icon"></i>
        <div class="header">
            @TempData["MensajeError"]
        </div>
    </div>
}





<div class="ui grid bg12">
    <div class="one wide column">

    </div>
    <div class="sixteen wide column container">

        <div class="ui divider"></div>


        @if (SessionPersister.HasRol("Administrador") || SessionPersister.HasRol("Calidad"))
        {
            <div class="row">
                <h4 class="ui horizontal divider header centered">
                    <button class="ui  large black submit button">
                        <i class="tasks icon"></i>
                        CAMPAÑAS, USUARIOS Y CARGUE MASIVO DE USUARIOS
                    </button>
                </h4>


                <div class="ui three column center aligned divided relaxed stackable grid container">
                    <div class="row">
                        @if (SessionPersister.HasRol("Administrador"))
                        {
                            <div class="column">
                                <h1 class="ui icon header">
                                    <i class="icon home"></i>
                                    Campañas
                                </h1>
                                <p>Ver y administrar las campañas</p>
                                <a class="ui large button purple" href="/campanas">Ver Campañas</a>
                            </div>
                            <div class="column">
                                <h1 class="ui icon header">
                                    <i class="icon hand point right"></i>
                                    Seguimiento Feedback
                                </h1>

                                <a href="/Users/IndexListadoAuditores" class="ui large purple button">Ir</a>
                            </div>
                        }

                        <div class="column">
                            <h1 class="ui icon header">
                                <i class="icon users"></i>
                                Usuarios
                            </h1>
                            <p>
                                Administra los usuarios
                            </p>
                            <a href="/Users" class="ui large purple button">Ver usuarios</a>
                        </div>
                        <div class="column">
                            <h1 class="ui icon header">
                                <i class="upload icon"></i>
                                Cargue Usuarios
                            </h1>
                            <p>
                                Cargue Masivo de Usuarios
                            </p>
                            <a href="/CargueUsuarios" class="ui large purple button">Cargar</a>
                        </div>
                        <div class="column">
                            <h1 class="ui icon header">
                                <i class="icon paperclip"></i>
                                Editar Team Leader Masivo
                            </h1>
                            <p>
                                Editar team a los asesores
                            </p>
                            <a href="/CargueUsuarios/EditarTeamsMasivo" class="ui large purple button">Editar</a>
                        </div>

                    </div>
                </div>

            </div>

        }


        @if (SessionPersister.HasRol("Asesor"))
        {

            <div class="row">
                <h4 class="ui horizontal divider header centered">
                    <button class="ui  large black submit button">
                        <i class="tasks icon"></i>
                        ASESOR
                    </button>
                </h4>

                <div class="ui two column center aligned divided relaxed stackable grid container">
                    <div class="row">
                        <div class="column">
                            <h1 class="ui icon header">
                                <i class="icon home"></i>
                                Planes de trabajo
                            </h1>
                            <p>Ver y administrar los Planes de trabajo</p>
                            <a class="ui large button purple" href="@Url.Action("IndexAsesor","PlanTrabajoAsesores",new { id = SessionPersister.Id.Value})">Ver Planes de trabajo</a>
                        </div>

                        <div class="column">
                            <h1 class="ui icon header">
                                <i class="icon home"></i>
                                Monitoreos
                            </h1>
                            <p>Ver y administrar los Monitoreos</p>
                            <a class="ui large button purple" href="@Url.Action("IndexAsesor","Calificaciones",new { id = SessionPersister.Id.Value})">Ver Monitoreos</a>
                        </div>
                    </div>
                </div>
            </div>

        }

        @if (SessionPersister.HasRol("Calidad"))
        {
            <div class="ui hidden divider"></div>
            <div class="row">
                <h4 class="ui horizontal divider header centered">
                    <button class="ui  large black submit button">
                        <i class="tasks icon"></i>
                        CALIDAD
                    </button>
                </h4>
                <div class="ui three column center aligned divided relaxed stackable grid container">
                    <div class="row">

                        <div class="column">
                            <h1 class="ui icon header">
                                <i class="thumbs down icon"></i>
                                Monitoreos Pendientes Feedback
                            </h1>
                            <p>Ver y administrar los monitoreos pendientes de feedback</p>
                            <a class="ui large button purple" href="@Url.Action("MonitoreosFeedback","Calificaciones",new { feedback = 0 })">Ver Monitoreos</a>

                        </div>
                        <div class="column">
                            <h1 class="ui icon header">
                                <i class="thumbs up outline icon"></i>
                                Monitoreos Resueltos Feedback
                            </h1>
                            <p>Ver los monitoreos resueltos de feedback</p>
                            <a class="ui large button purple" href="@Url.Action("MonitoreosFeedback","Calificaciones",new { feedback = 1 })">Ver Monitoreos</a>
                        </div>
                        <div class="column">
                            <h1 class="ui icon header">
                                <i class="icon user"></i>
                                Monitoreo Asesores
                            </h1>
                            <p>
                                Monitorea los asesores
                            </p>
                            <a href="/Calificaciones/CalificarUsuario" class="ui large purple button">Ver Asesores</a>
                        </div>
                    </div>
                </div>
            </div>

        }

        @if (SessionPersister.HasRol("Gerente"))
        {

            <div class="ui three column center aligned divided relaxed stackable grid container">
                <div class="row">
                    <div class="column">
                        <h1 class="ui icon header">
                            <i class="icon home"></i>
                            Planes Trabajo Teams Pendientes Feedback
                        </h1>
                        <p>Ver y administrar los planes trabajo de teamleaders pendientes de feedback</p>
                        <a class="ui large button purple" href="/Calificaciones/PlanTrabajoTeamFeedback">Ver TeamLeaders</a>
                    </div>

                    <div class="column">
                        <h1 class="ui icon header">
                            <i class="icon users"></i>
                            Usuarios Gerente
                        </h1>
                        <p>
                            Administra los usuarios
                        </p>
                        <a href="/Users/IndexGerente" class="ui large purple button">Ver Usuarios</a>
                    </div>

                    <div class="column">
                        <h1 class="ui icon header">
                            <i class="icon folder"></i>
                            Plan Trabajo Teams
                        </h1>
                        <p>
                            Vea los planes de trabajo de los team leaders
                        </p>
                        <a href="/PlanTrabajoTeams/ListarTeams" class="ui large purple button">Ver Teams</a>
                    </div>
                    <div class="column">
                        <h1 class="ui icon header">
                            <i class="icon user"></i>
                            Historial Monitoreos
                        </h1>
                        <p>
                            Historial Monitoreos de los asesores
                        </p>
                        <a href="/Calificaciones/CalificarUsuarioGerente" class="ui large purple button">Ver Historial</a>
                    </div>
                    <div class="column">
                        <h1 class="ui icon header">
                            <i class="icon folder open"></i>
                            Historial Planes de Trabajo
                        </h1>
                        <p>
                            Historial de trabajo para los asesores
                        </p>
                        <a href="/PlanTrabajoAsesores/ListaAsesoresGerente" class="ui large purple button">Ver Historial</a>
                    </div>
                </div>
            </div>

        }

        @if (SessionPersister.HasRol("TeamLeader"))
        {
            @*<script> window.location.href='@Url.Action("Mantenimiento", "Home")'; </script>*@

            <div class="ui three column center aligned divided relaxed stackable grid container">
                <div class="row">
                    <div class="column">
                        <h1 class="ui icon header">
                            <i class="icon home"></i>
                            Monitoreo Team Leader
                        </h1>
                        <p>Ver y administrar los monitoreos de teamleader</p>
                        <a class="ui large button purple" href="/Calificaciones/CalificarUsuarioTeam">Ver Asesores</a>
                    </div>
                    <div class="column">
                        <h1 class="ui icon header">
                            <i class="icon folder open"></i>
                            Planes de Trabajo
                        </h1>
                        <p>
                            Crea planes de trabajo para los asesores
                        </p>
                        <a href="/PlanTrabajoAsesores/ListaAsesores" class="ui large purple button">Ver Asesores</a>
                    </div>

                    <div class="column">
                        <h1 class="ui icon header">
                            <i class="icon home"></i>
                            Planes Trabajo Pendientes Feedback
                        </h1>
                        <p>Ver y administrar los planes trabajo pendientes de feedback</p>
                        <a class="ui large button purple" href="/Calificaciones/PlanTrabajoFeedback">Ver Asesores</a>
                    </div>

                    <div class="column">
                        <h1 class="ui icon header">
                            <i class="icon archive"></i>
                            Cargue Ventas
                        </h1>
                        <p>
                            Cargue las ventas de los usuarios
                        </p>
                        <a href="/Users/CargueVentas" class="ui large purple button">Cargar Ventas</a>
                    </div>

                </div>
            </div>


        }

        @if (SessionPersister.HasRol("Reporting") || SessionPersister.HasRol("Calidad") || SessionPersister.HasRol("Administrador"))
        {

            <div class="ui divider"></div>
            <div class="row">
                <h4 class="ui horizontal divider header centered">
                    <button class="ui  large black submit button">
                        <i class="tasks icon"></i>
                        REPORTES
                    </button>
                </h4>



                <div class="ui three column center aligned divided relaxed stackable grid container">

                    @if (SessionPersister.HasRol("Administrador"))
                    {
                        <div class="column">
                            <h1 class="ui icon header">
                                <i class="icon folder"></i>
                                Reporte General TMK
                            </h1>
                            <p>
                                Vea el reporte General de TMK
                            </p>
                            <a target="_blank" href="http://172.16.5.153/Reports/Pages/Report.aspx?ItemPath=%2fReportes_Auto%2fAuditoria%2f153%2fReportesCalidadClaroTMK&ViewMode=Detail" class="ui large purple button">Ver Reporte</a>
                        </div>

                        <div class="column">
                            <h1 class="ui icon header">
                                <i class="icon folder"></i>
                                Reporte General TMK por Campaña
                            </h1>
                            <p>
                                Vea el reporte General de TMK
                            </p>
                            <a target="_blank" href="http://172.16.5.153/Reports/Pages/Report.aspx?ItemPath=%2fReportes_Auto%2fAuditoria%2f153%2fReportesCalidadCampana&ViewMode=Detail" class="ui large purple button">Ver Reporte</a>
                        </div>

                        <div class="column">
                            <h1 class="ui icon header">
                                <i class="icon folder"></i>
                                Reporte General T&T
                            </h1>
                            <p>
                                Vea el reporte General
                            </p>
                            <a target="_blank" href="http://172.16.5.153/Reports/Pages/Report.aspx?ItemPath=%2fReportes_Auto%2fAuditoria%2f153%2fReportesCalidadClaroTYT&ViewMode=Detail" class="ui large purple button">Ver Reporte</a>
                        </div>

                        <div class="column">
                            <h1 class="ui icon header">
                                <i class="icon folder"></i>
                                Reporte General Célula Ventas
                            </h1>
                            <p>
                                Vea el reporte General
                            </p>
                            <a target="_blank" href="http://172.16.5.153/Reports/Pages/Report.aspx?ItemPath=%2fReportes_Auto%2fAuditoria%2f153%2fReportesCalidadCelulaDeVentas&ViewMode=Detail" class="ui large purple button">Ver Reporte</a>
                        </div>

                        <div class="column">
                            <h1 class="ui icon header">
                                <i class="icon folder"></i>
                                Reportes Retención
                            </h1>
                            <p>
                                Ver reportes generales Retención
                            </p>
                            @Html.ActionLink("Ver Reportes", "ReportesRetencion", "Home", null, new { @class = "ui large purple button" })
                        </div>

                    }
                    else
                    {
                        if (ViewBag.Vertodos == 1)
                        {
                            <div class="column">
                                <h1 class="ui icon header">
                                    <i class="icon folder"></i>
                                    Reporte General TMK
                                </h1>
                                <p>
                                    Vea el reporte General de TMK
                                </p>
                                <a target="_blank" href="http://172.16.5.153/Reports/Pages/Report.aspx?ItemPath=%2fReportes_Auto%2fAuditoria%2f153%2fReportesCalidadClaroTMK&ViewMode=Detail" class="ui large purple button">Ver Reporte</a>
                            </div>

                            <div class="column">
                                <h1 class="ui icon header">
                                    <i class="icon folder"></i>
                                    Reporte General TMK por Campaña
                                </h1>
                                <p>
                                    Vea el reporte General de TMK
                                </p>
                                <a target="_blank" href="http://172.16.5.153/Reports/Pages/Report.aspx?ItemPath=%2fReportes_Auto%2fAuditoria%2f153%2fReportesCalidadCampana&ViewMode=Detail" class="ui large purple button">Ver Reporte</a>
                            </div>

                            <div class="column">
                                <h1 class="ui icon header">
                                    <i class="icon folder"></i>
                                    Reporte General T&T
                                </h1>
                                <p>
                                    Vea el reporte General
                                </p>
                                <a target="_blank" href="http://172.16.5.153/Reports/Pages/Report.aspx?ItemPath=%2fReportes_Auto%2fAuditoria%2f153%2fReportesCalidadClaroTYT&ViewMode=Detail" class="ui large purple button">Ver Reporte</a>
                            </div>

                            <div class="column">
                                <h1 class="ui icon header">
                                    <i class="icon folder"></i>
                                    Reporte General Célula Ventas
                                </h1>
                                <p>
                                    Vea el reporte General
                                </p>
                                <a target="_blank" href="http://172.16.5.153/Reports/Pages/Report.aspx?ItemPath=%2fReportes_Auto%2fAuditoria%2f153%2fReportesCalidadCelulaDeVentas&ViewMode=Detail" class="ui large purple button">Ver Reporte</a>
                            </div>
                        }


                        if (ViewBag.Vertodos == 2)
                        {
                            <div class="column">
                                <h1 class="ui icon header">
                                    <i class="icon folder"></i>
                                    Reportes Retención
                                </h1>
                                <p>
                                    Ver reportes generales Retención
                                </p>
                                @Html.ActionLink("Ver Reportes", "ReportesRetencion", "Home", null, new { @class = "ui large purple button" })
                            </div>
                        }
                    }




                </div>
            </div>


        }

    </div>
</div>


@section Scripts {
    <script>
        $('.message .close')
            .on('click', function () {
                $(this)
                    .closest('.message')
                    .transition('fade');
            });
    </script>
}
