﻿@model tmkhogares.ViewModel.CustoErrors

@{
    /**/

    ViewBag.Title = "Home Page";
    Layout = "../Shared/_LayoutAsesor.cshtml";
}
@if (Model == null)
{
    <br />
    <br />
    <br />
    <section class="content-header">
        <h1>
            Esperando Cliente
            <small>Sin gestion Activa</small>

        </h1>

    </section>

}
else
{
    <section class="content-header">
        <h1 class="alert-danger">
            Error en la solicitud
        </h1>
        <p class="alert alert-danger">@Model.Message</p>
    </section>

}

