﻿
@{
    ViewBag.Title = "Mantenimiento";
}


<div class="ui grid bg12">
   
    <div class="sixteen wide column container">

        <div class="ui divider"></div>

        <h2>Mantenimiento</h2>

        <div class="ui icon message">
            <i class="inbox icon"></i>
            <div class="content">
                <div class="header">
                    ¡ LO SENTIMOS, LA PÁGINA PARA EL ROL DE TEAM LEADER SE ENCUENTRA EN MANTENIMIENTO !
                </div>
                <p>Consulte con el administrador del sistema.</p>
            </div>
        </div>
    </div>
</div>

