﻿
@using Core.Models.Security
@{
    ViewBag.Title = "Home Page";
}



@{
    var date = DateTime.UtcNow;


}


<br />
<br />


<h1 class="ui header">
    <img src="~/Content/images/logo1.png">
    <div class="content">
        Operacion Uno27
        <div class="sub header">
            <div class="ui breadcrumb">
                <a class="section" href="@Url.Action("HomeAdmin", "Home")">Inicio</a>
                <div class="divider"></div>
            </div>
        </div>
    </div>
</h1>



<div class="ui grid bg12">
    <div class="one wide column">

    </div>
    <div class="fourteen wide column">
        <div class="ui divider"></div>

        <div class="ui three column center aligned divided relaxed stackable grid container">

            <div class="ui grid">
                <div class="three column row">
                    <div class="column">
                        <h1 class="ui icon header">
                            <i class="icon folder"></i>
                            SEGUNDO ANILLO
                        </h1>
                        <p>
                            Ver Reporte General
                        </p>
                        <a target="_blank" href="http://172.16.5.153/Reports/Pages/Report.aspx?ItemPath=%2fReportes_Auto%2fAuditoria%2f153%2fReportesCalidadSegundoAnillo&ViewMode=Detail" class="ui large purple button">Ver Reporte</a>
                    </div>
                    <div class="column">
                        <h1 class="ui icon header">
                            <i class="icon folder"></i>
                            TERCER ANILLO MOVIL
                        </h1>
                        <p>
                            Ver Reporte General
                        </p>
                        <a target="_blank" href="http://172.16.5.153/Reports/Pages/Report.aspx?ItemPath=%2fReportes_Auto%2fAuditoria%2f153%2fReportesCalidadTercerAnilloMovil&ViewMode=Detail" class="ui large purple button">Ver Reporte</a>
                    </div>
                    <div class="column">
                        <h1 class="ui icon header">
                            <i class="icon folder"></i>
                            TERCER ANILLO HOGAR
                        </h1>
                        <p>
                            Ver Reporte general
                        </p>
                        <a target="_blank" href="http://172.16.5.153/Reports/Pages/Report.aspx?ItemPath=%2fReportes_Auto%2fAuditoria%2f153%2fReportesCalidadTercerAnilloHogar&ViewMode=Detail" class="ui large purple button">Ver Reporte</a>
                    </div>
                </div>

                <div class="two column row">
                    <div class="three column row">
                        <div class="column">
                            <h1 class="ui icon header">
                                <i class="icon folder"></i>
                                LEALTAD
                            </h1>
                            <p>
                                Ver Reporte General
                            </p>
                            <a target="_blank" href="http://172.16.5.153/Reports/Pages/Report.aspx?ItemPath=%2fReportes_Auto%2fAuditoria%2f153%2fReportesCalidadLealtad&ViewMode=Detail" class="ui large purple button">Ver Reporte</a>
                        </div>

                    </div>

                    <div class="three column row">
                        <div class="column">
                            <h1 class="ui icon header">
                                <i class="icon folder"></i>
                                Tráfico Inbound
                            </h1>
                            <p>
                                Ver Reporte General
                            </p>
                            <a target="_blank" href="http://172.16.5.153/Reports/Pages/Report.aspx?ItemPath=%2fReportes_Auto%2fAuditoria%2f153%2fReportesCalidadTraficoInbound&ViewMode=Detail" class="ui large purple button">Ver Reporte</a>
                        </div>

                    </div>
                </div>


            </div>


        </div>

    </div>
</div>




