﻿@using Core.Models.Security

@{
    Int32 unixTimestamp = 21;
}



<!DOCTYPE html>
<html>
<head>
    <!-- Standard Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    @Styles.Render("~/Content/css")
    <!-- Site Properties -->
    <title>Calif. Grabaciones</title>
    <link rel="stylesheet" type="text/css" href="~/Content/semantic/components/reset.css">
    <link rel="stylesheet" type="text/css" href="~/Content/semantic/components/site.css">
    <link rel="stylesheet" type="text/css" href="~/Content/semantic/components/tab.css">
    <link rel="stylesheet" type="text/css" href="~/Content/semantic/semantic.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css">
    @*<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />*@



    <style type="text/css">

        .hidden.menu {
            display: none;
        }

        .masthead.segment {
            min-height: 700px;
            padding: 1em 0em;
        }

        .masthead .logo.item img {
            margin-right: 1em;
        }

        .masthead .ui.menu .ui.button {
            margin-left: 0.5em;
        }

        .masthead h1.ui.header {
            margin-top: 3em;
            margin-bottom: 0em;
            font-size: 4em;
            font-weight: normal;
        }

        .masthead h2 {
            font-size: 1.7em;
            font-weight: normal;
        }

        .ui.vertical.stripe {
            padding: 8em 0em;
        }

            .ui.vertical.stripe h3 {
                font-size: 2em;
            }

            .ui.vertical.stripe .button + h3,
            .ui.vertical.stripe p + h3 {
                margin-top: 3em;
            }

            .ui.vertical.stripe .floated.image {
                clear: both;
            }

            .ui.vertical.stripe p {
                font-size: 1.33em;
            }

            .ui.vertical.stripe .horizontal.divider {
                margin: 3em 0em;
            }

        .quote.stripe.segment {
            padding: 0em;
        }

            .quote.stripe.segment .grid .column {
                padding-top: 5em;
                padding-bottom: 5em;
            }

        .footer.segment {
            padding: 5em 0em;
        }

        .secondary.pointing.menu .toc.item {
            display: none;
        }

        #contenidoApp {
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 20px;
        }

        @@media only screen and (max-width: 700px) {
            #contenidoApp {
                margin-left: 10px;
            }

            .ui.fixed.menu {
                display: none !important;
            }

            .secondary.pointing.menu .item,
            .secondary.pointing.menu .menu {
                display: none;
            }

            .secondary.pointing.menu .toc.item {
                display: block;
            }

            .masthead.segment {
                min-height: 350px;
            }

            .masthead h1.ui.header {
                font-size: 2em;
                margin-top: 1.5em;
            }

            .masthead h2 {
                margin-top: 0.5em;
                font-size: 1.5em;
            }
        }
    </style>


</head>

<body>

    <!-- Following Menu -->
    <!-- Sidebar Menu -->
    <!-- Page Contents -->

    <div class="ui modal fullscreen" id="loadmodalData">
        <i class="close icon"></i>
        <div class="content" id="data">
        </div>
    </div>

    <div class="ui fixed inverted black menu">
        <div class="item">
            <img class="" src="~/Content/images/Logo Blanco.png">
        </div>
        @if (SessionPersister.Id != null)
        {
            @Html.Partial("_Menu");
        }
    </div>
    <div class="" id="contenidoApp">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/js")

    <script>
            const BaseUrl =  @Html.Raw(HttpUtility.JavaScriptStringEncode(Url.Content("~/"), true));
            let isAgente = false;
    </script>
    <script src="~/Content/semantic/semantic.min.js"></script>

    <script src="~/Scripts/app/General.js?v=@unixTimestamp"></script>
    <script src="~/Scripts/app/app.js?v=@unixTimestamp"></script>
    <script src="~/Scripts/app/BackOffice.js?v=@unixTimestamp"></script>

    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script src="~/Scripts/tinymce/main.js"></script>
    <!--tiny mce-->

    @RenderSection("scripts", required: false)

</body>

</html>



