﻿@using Core.Models.Security
@using tmkhogares.ViewModel
<!-- /.search form -->
<!-- sidebar menu: : style can be found in sidebar.less -->
<!--|==================================================================|-->
<!--|             MENU DE CONFIGURACIONES                              |-->
<!--|==================================================================|-->
<!--|==================================================================|-->
<!--|             MENU DE CALIDAD                                      |-->
<!--|==================================================================|-->


@if (SessionPersister.HasRol("Calidad"))
{
    <div class="ui dropdown item">
        Calidad
        <i class="dropdown icon"></i>
        <div class="menu">
            <a href="@Url.Action("CalificarUsuario","Calificaciones")" class="item"><i class="edit icon"></i>Auditar Asesores</a>
        </div>
    </div>

}


<!--|==================================================================|-->
<!--|             MENU DE BACKOFFICE                                   |-->
<!--|==================================================================|-->


@if (SessionPersister.HasRol("Administrador"))
{

}

<div class="center menu">
    <a class="item"><i class="user icon"></i>@SessionPersister.Name (@SessionPersister.UserName)</a>    

</div>

<div class="right menu">
    <a href="@Url.Action("Logout","Accounts")" class="item"><i class="close icon"></i>Cerrar Session</a>
</div>




<style>
    .sidebar-collapse .crosselinglogo {
        display: none;
    }
</style>