﻿@model tmkhogares.Models.PlanTrabajoAsesor.PlanTrabajoAsesor

@{
    ViewBag.Title = "Create";
}

@{
    ViewBag._Active = "Create";
    ViewBag._Panel = "Create";
}




<br />
<br />
<div class=" segment">
    <h1 class="ui header">
        <img src="~/Content/images/logo1.png">
        <div class="content">
            Módulo  de creación de PlanTrabajoAsesor
            <div class="sub header">
                <div class="ui breadcrumb">
                    <a class="section" href="@Url.Action("HomeAdmin","Home")">Inicio</a>
                    <div class="divider"> / </div>
                    <a class="section" href="@Url.Action("Index")">Listar</a>
                    <div class="divider"> / </div>
                    <div class="active section" style="text-transform:lowercase">Creación de PlanTrabajoAsesor</div>
                </div>
            </div>
        </div>

    </h1>
    <div class="ui hidden divider"></div>

</div>

<h4 class="ui horizontal divider header">
    <button class="ui  large purple submit button">
        <i class="computer icon"></i>
        CREAR PlanTrabajoAsesor
    </button>

</h4>


<div class="ui grid">
    <div class="one wide column"></div>
    <div class="fourteen wide column">
        <div class="ui ">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "ui large form", autofocus = "" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="ui grid purple segment center aligned">
                <h2>Asignacion de la meta del mes actual</h2>
                <div class="ui divider"></div>
                <div class="six column row">
                    <div class="column">
                        <b>Meta Mes Actual</b>
                        <br />
                        <div class="ui  icon input">
                            <input type="text" disabled="disabled" name="MetaMesActual" value="80" />
                        </div>
                        <input type="hidden" name="AsesorId" value="@ViewBag.AsesorId" />
                        <input type="hidden" name="TeamLeaderId" value="@ViewBag.TeamLeaderId" />
                    </div>
                    <div class="column">
                        <b> @Html.LabelFor(model => model.MetaMensual, htmlAttributes: new { @class = "" })</b>
                        <br />
                        <div class="ui  icon input">
                            @Html.EditorFor(model => model.MetaMensual, new { htmlAttributes = new { @class = "" } })
                            <i class="keyboard outline outline icon"></i>
                        </div>
                        @Html.ValidationMessageFor(model => model.MetaMensual, "", new { @class = "ui error message" })
                    </div>
                    <div class="column">
                        <b> @Html.LabelFor(model => model.DiasMes, htmlAttributes: new { @class = "" })</b>
                        <br />
                        <div class="ui icon input">
                            @Html.EditorFor(model => model.DiasMes, new { htmlAttributes = new { @class = "" } })
                            <i class="keyboard outline outline icon"></i>
                        </div>
                        @Html.ValidationMessageFor(model => model.DiasMes, "", new { @class = "ui error message" })
                    </div>
                    <div class="column">
                        <b> @Html.LabelFor(model => model.DiasSemana, htmlAttributes: new { @class = "", @min = "0", @max = "7  " })</b>
                        <br />

                        <div class="ui  icon input">
                            @Html.EditorFor(model => model.DiasSemana, new { htmlAttributes = new { @class = "" } })
                            <i class="keyboard outline outline icon"></i>
                        </div>
                        @Html.ValidationMessageFor(model => model.DiasSemana, "", new { @class = "ui error message" })
                    </div>
                    <div class="column">
                        <b> @Html.LabelFor(model => model.MetaSemanal, htmlAttributes: new { @class = "" })</b>
                        <br />

                        <div class="ui  icon input">
                            <input type="text" disabled="disabled" name="MetaSemanal" id="MetaSemanal" value="" />

                            <i class="keyboard outline outline icon"></i>
                        </div>
                        @Html.ValidationMessageFor(model => model.MetaSemanal, "", new { @class = "ui error message" })
                    </div>
                    <div class="column">
                        <b>@Html.LabelFor(model => model.MetaPromedioDia, htmlAttributes: new { @class = "" })</b>
                        <br />
                        <div class="ui  icon input">
                            <input type="text" disabled="disabled" name="MetaPromedioDia" id="MetaPromedioDia" value="" />
                            <i class="keyboard outline outline icon"></i>
                        </div>
                        @Html.ValidationMessageFor(model => model.MetaPromedioDia, "", new { @class = "ui error message" })
                    </div>
                </div>
                <div class="two column row">
                    <div class="column">
                        <b> @Html.LabelFor(model => model.OportunidadesMejora, "Oportunidades de mejora", htmlAttributes: new { @class = "" })</b>
                        <br />
                        <div class="ui icon input">
                            @Html.TextAreaFor(model => model.OportunidadesMejora, new { htmlAttributes = new { @class = "" } })
                            <i class="keyboard outline outline icon"></i>
                        </div>
                        @Html.ValidationMessageFor(model => model.OportunidadesMejora, "", new { @class = "ui error message" })
                    </div>
                
                    <div class="column">
                        <b> @Html.LabelFor(model => model.CompromisoAsesor,"Compromiso Asesor", htmlAttributes: new { @class = "" })</b>
                        <br />
                        <div class="ui icon input">
                            @Html.TextAreaFor(model => model.CompromisoAsesor, new { htmlAttributes = new { @class = "" } })
                            <i class="keyboard outline outline icon"></i>
                        </div>
                        @Html.ValidationMessageFor(model => model.CompromisoAsesor, "", new { @class = "ui error message" })
                    </div>
                </div>
                <div class="one column row">
                    <div class="column">
                        <button class="ui red button">Asignar meta</button>
                    </div>
                </div>
            </div>

            }
          @*<div>
              <table class="ui celled table " >
                  <tr>
                      <td>Mes</td>
                      <td>Meta Cantida Ventas</td>
                      <td>Ventas Realizadas</td>
                      <td>% Cumplimiento</td>
                      <td>Promedio Meta</td>
                      <td>Promedio Alcanzado</td>
                      <td>% Ausentismo</td>
                      <td>% Efectividad</td>
                      <td>Nota Calidad</td>
                      <td>Nota Evaluacion Conocimientos</td>
                      <td>Team Leader</td>
                  </tr>
                  <tr>
                      <td><select><option>Seleccion un mes</option><option>Diciembre</option><option>Noviembre</option><option>Octubre</option></select></td>
                      <td><input  type="text" /></td>
                      <td><input  type="text" /></td>
                      <td><input  type="text" /></td>
                      <td><input  type="text" /></td>
                      <td><input  type="text" /></td>
                      <td><input  type="text" /></td>
                      <td><input  type="text" /></td>
                      <td><input  type="text" /></td>
                      <td><input  type="text" /></td>
                      <td><input  type="text" /></td>
                  </tr>
                  <tr>
                      <td><select><option>Seleccion un mes</option><option>Diciembre</option><option>Noviembre</option><option>Octubre</option></select></td>
                      <td><input  type="text" /></td>
                      <td><input  type="text" /></td>
                      <td><input  type="text" /></td>
                      <td><input  type="text" /></td>
                      <td><input  type="text" /></td>
                      <td><input type="text" /></td>
                      <td><input  type="text" /></td>
                      <td><input  type="text" /></td>
                      <td><input  type="text" /></td>
                      <td><input  type="text" /></td>
                  </tr>
                  <tr>
                      <td><select><option>Seleccion un mes</option><option>Diciembre</option><option>Noviembre</option><option>Octubre</option></select></td>
                      <td><input  type="text" /></td>
                      <td><input  type="text" /></td>
                      <td><input  type="text" /></td>
                      <td><input  type="text" /></td>
                      <td><input  type="text" /></td>
                      <td><input  type="text" /></td>
                      <td><input  type="text" /></td>
                      <td><input  type="text" /></td>
                      <td><input  type="text" /></td>
                      <td><input  type="text" /></td>
                  </tr>
              </table>
          </div>*@
        </div>
        @*<div class="ui">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "ui large form", autofocus = "" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="ui teal segment">
                    <div class="field">
                        @Html.LabelFor(model => model.OportunidadesMejora, htmlAttributes: new { @class = "" })
                        <div class="ui mini icon input">
                            @Html.EditorFor(model => model.OportunidadesMejora, new { htmlAttributes = new { @class = "" } })
                            <i class="keyboard outline outline icon"></i>
                        </div>
                        @Html.ValidationMessageFor(model => model.OportunidadesMejora, "", new { @class = "ui error message" })
                    </div>
                    <div class="field">
                        @Html.LabelFor(model => model.CompromisoAsesor, htmlAttributes: new { @class = "" })
                        <div class="ui mini icon input">
                            @Html.EditorFor(model => model.CompromisoAsesor, new { htmlAttributes = new { @class = "" } })
                            <i class="keyboard outline outline icon"></i>
                        </div>
                        @Html.ValidationMessageFor(model => model.CompromisoAsesor, "", new { @class = "ui error message" })
                    </div>
                    <div class="field">
                        @Html.LabelFor(model => model.DescripcionPlanAccion, htmlAttributes: new { @class = "" })
                        <div class="ui mini icon input">
                            @Html.EditorFor(model => model.DescripcionPlanAccion, new { htmlAttributes = new { @class = "" } })
                            <i class="keyboard outline outline icon"></i>
                        </div>
                        @Html.ValidationMessageFor(model => model.DescripcionPlanAccion, "", new { @class = "ui error message" })
                    </div>
                    <div class="field">
                        @Html.LabelFor(model => model.NombreCampana, htmlAttributes: new { @class = "" })
                        <div class="ui mini icon input">
                            @Html.EditorFor(model => model.NombreCampana, new { htmlAttributes = new { @class = "" } })
                            <i class="keyboard outline outline icon"></i>
                        </div>
                        @Html.ValidationMessageFor(model => model.NombreCampana, "", new { @class = "ui error message" })
                    </div>
                    <div class="field">
                        @Html.LabelFor(model => model.NombreTeamLeader, htmlAttributes: new { @class = "" })
                        <div class="ui mini icon input">
                            @Html.EditorFor(model => model.NombreTeamLeader, new { htmlAttributes = new { @class = "" } })
                            <i class="keyboard outline outline icon"></i>
                        </div>
                        @Html.ValidationMessageFor(model => model.NombreTeamLeader, "", new { @class = "ui error message" })
                    </div>
                    <div class="field">
                        @Html.LabelFor(model => model.NombreAsesor, htmlAttributes: new { @class = "" })
                        <div class="ui mini icon input">
                            @Html.EditorFor(model => model.NombreAsesor, new { htmlAttributes = new { @class = "" } })
                            <i class="keyboard outline outline icon"></i>
                        </div>
                        @Html.ValidationMessageFor(model => model.NombreAsesor, "", new { @class = "ui error message" })
                    </div>
                    <div class="field">
                        @Html.LabelFor(model => model.CedulaAsesor, htmlAttributes: new { @class = "" })
                        <div class="ui mini icon input">
                            @Html.EditorFor(model => model.CedulaAsesor, new { htmlAttributes = new { @class = "" } })
                            <i class="keyboard outline outline icon"></i>
                        </div>
                        @Html.ValidationMessageFor(model => model.CedulaAsesor, "", new { @class = "ui error message" })
                    </div>
                    <div class="field">
                        @Html.LabelFor(model => model.LoginAsesor, htmlAttributes: new { @class = "" })
                        <div class="ui mini icon input">
                            @Html.EditorFor(model => model.LoginAsesor, new { htmlAttributes = new { @class = "" } })
                            <i class="keyboard outline outline icon"></i>
                        </div>
                        @Html.ValidationMessageFor(model => model.LoginAsesor, "", new { @class = "ui error message" })
                    </div>
                    <div class="field">
                        <br />
                        <input type="submit" value="Crear" class="ui  large red submit button" />
                        @Html.ActionLink("Regresar", "Index", null, new { @class = "ui button" })
                    </div>
                
                </div>
            }
            </div>*@
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/app/PlanTrabajo.js"></script>
}
