﻿@model tmkhogares.Models.PlanTrabajoAsesor.PlanTrabajoAsesor

@{
    ViewBag.Title = "Edit";
}

@{
    ViewBag._Active = "Edit";
    ViewBag._Panel = "Home";
}





<br />
<br />
<div class=" segment">
    <h1 class="ui header">
        <img src="~/Content/images/logo1.png">
        <div class="content">
            Módulo  de Edición de PlanTrabajoAsesor
            <div class="sub header">
                <div class="ui breadcrumb">
                    <a class="section" href="@Url.Action("HomeAdmin","Home")">Inicio</a>
                    <div class="divider"> / </div>
                    <a class="section" href="@Url.Action("Index")">Listar</a>
                    <div class="divider"> / </div>
                    <div class="active section" style="text-transform:lowercase">Edición de PlanTrabajoAsesor</div>
                </div>
            </div>
        </div>

    </h1>
    <div class="ui hidden divider"></div>

</div>

<h4 class="ui horizontal divider header">
    <button class="ui  large red submit button">
        <i class="edit icon"></i>
        Editar PlanTrabajoAsesor
    </button>

</h4>

<div class="ui grid">
    <div class="one wide column"></div>
    <div class="fourteen wide column">
        <div class="ui segments">
            <div class="ui teal segment">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "ui large form", autofocus = "" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="field">
                        @Html.LabelFor(model => model.MetaPromedioDia, htmlAttributes: new { @class = "" })

                        <div class="ui mini icon input">
                            @Html.TextBoxFor(model => model.MetaPromedioDia, new { htmlAttributes = new { @class = "" } })
                            <i class="keyboard outline outline icon"></i>
                        </div>


                        @Html.ValidationMessageFor(model => model.MetaPromedioDia, "", new { @class = "ui error message" })
                    </div>

                    <div class="field">
                        @Html.LabelFor(model => model.DiasSemana, htmlAttributes: new { @class = "" })

                        <div class="ui mini icon input">
                            @Html.TextBoxFor(model => model.DiasSemana, new { htmlAttributes = new { @class = "" } })
                            <i class="keyboard outline outline icon"></i>
                        </div>


                        @Html.ValidationMessageFor(model => model.DiasSemana, "", new { @class = "ui error message" })
                    </div>

                    <div class="field">
                        @Html.LabelFor(model => model.MetaSemanal, htmlAttributes: new { @class = "" })

                        <div class="ui mini icon input">
                            @Html.TextBoxFor(model => model.MetaSemanal, new { htmlAttributes = new { @class = "" } })
                            <i class="keyboard outline outline icon"></i>
                        </div>


                        @Html.ValidationMessageFor(model => model.MetaSemanal, "", new { @class = "ui error message" })
                    </div>

                    <div class="field">
                        @Html.LabelFor(model => model.DiasMes, htmlAttributes: new { @class = "" })

                        <div class="ui mini icon input">
                            @Html.TextBoxFor(model => model.DiasMes, new { htmlAttributes = new { @class = "" } })
                            <i class="keyboard outline outline icon"></i>
                        </div>


                        @Html.ValidationMessageFor(model => model.DiasMes, "", new { @class = "ui error message" })
                    </div>

                    <div class="field">
                        @Html.LabelFor(model => model.MetaMensual, htmlAttributes: new { @class = "" })

                        <div class="ui mini icon input">
                            @Html.TextBoxFor(model => model.MetaMensual, new { htmlAttributes = new { @class = "" } })
                            <i class="keyboard outline outline icon"></i>
                        </div>


                        @Html.ValidationMessageFor(model => model.MetaMensual, "", new { @class = "ui error message" })
                    </div>

                    <div class="field">
                        @Html.LabelFor(model => model.OportunidadesMejora, htmlAttributes: new { @class = "" })

                        <div class="ui mini icon input">
                            @Html.TextBoxFor(model => model.OportunidadesMejora, new { htmlAttributes = new { @class = "" } })
                            <i class="keyboard outline outline icon"></i>
                        </div>


                        @Html.ValidationMessageFor(model => model.OportunidadesMejora, "", new { @class = "ui error message" })
                    </div>

                    <div class="field">
                        @Html.LabelFor(model => model.CompromisoAsesor, htmlAttributes: new { @class = "" })

                        <div class="ui mini icon input">
                            @Html.EditorFor(model => model.CompromisoAsesor, new { htmlAttributes = new { @class = "" } })
                            <i class="keyboard outline outline icon"></i>
                        </div>


                        @Html.ValidationMessageFor(model => model.CompromisoAsesor, "", new { @class = "ui error message" })
                    </div>

                    <div class="field">
                        @Html.LabelFor(model => model.DescripcionPlanAccion, htmlAttributes: new { @class = "" })

                        <div class="ui mini icon input">
                            @Html.TextBoxFor(model => model.DescripcionPlanAccion, new { htmlAttributes = new { @class = "" } })
                            <i class="keyboard outline outline icon"></i>
                        </div>


                        @Html.ValidationMessageFor(model => model.DescripcionPlanAccion, "", new { @class = "ui error message" })
                    </div>

                    <div class="field">
                        @Html.LabelFor(model => model.NombreCampana, htmlAttributes: new { @class = "" })

                        <div class="ui mini icon input">
                            @Html.TextBoxFor(model => model.NombreCampana, new { htmlAttributes = new { @class = "" } })
                            <i class="keyboard outline outline icon"></i>
                        </div>


                        @Html.ValidationMessageFor(model => model.NombreCampana, "", new { @class = "ui error message" })
                    </div>

                    <div class="field">
                        @Html.LabelFor(model => model.NombreTeamLeader, htmlAttributes: new { @class = "" })

                        <div class="ui mini icon input">
                            @Html.TextBoxFor(model => model.NombreTeamLeader, new { htmlAttributes = new { @class = "" } })
                            <i class="keyboard outline outline icon"></i>
                        </div>


                        @Html.ValidationMessageFor(model => model.NombreTeamLeader, "", new { @class = "ui error message" })
                    </div>

                    <div class="field">
                        @Html.LabelFor(model => model.NombreAsesor, htmlAttributes: new { @class = "" })

                        <div class="ui mini icon input">
                            @Html.TextBoxFor(model => model.NombreAsesor, new { htmlAttributes = new { @class = "" } })
                            <i class="keyboard outline outline icon"></i>
                        </div>


                        @Html.ValidationMessageFor(model => model.NombreAsesor, "", new { @class = "ui error message" })
                    </div>

                    <div class="field">
                        @Html.LabelFor(model => model.CedulaAsesor, htmlAttributes: new { @class = "" })

                        <div class="ui mini icon input">
                            @Html.TextBoxFor(model => model.CedulaAsesor, new { htmlAttributes = new { @class = "" } })
                            <i class="keyboard outline outline icon"></i>
                        </div>


                        @Html.ValidationMessageFor(model => model.CedulaAsesor, "", new { @class = "ui error message" })
                    </div>

                    <div class="field">
                        @Html.LabelFor(model => model.LoginAsesor, htmlAttributes: new { @class = "" })

                        <div class="ui mini icon input">
                            @Html.TextBoxFor(model => model.LoginAsesor, new { htmlAttributes = new { @class = "" } })
                            <i class="keyboard outline outline icon"></i>
                        </div>


                        @Html.ValidationMessageFor(model => model.LoginAsesor, "", new { @class = "ui error message" })
                    </div>

                    <div class="field">
                        @Html.LabelFor(model => model.AsesorId, "AsesorId", htmlAttributes: new { @class = "" })

                        @Html.DropDownList("AsesorId", null, "Sin Seleccionar", htmlAttributes: new { @class = "ui search selection dropdown" })
                        @Html.ValidationMessageFor(model => model.AsesorId, "", new { @class = "ui error message" })
                    </div>

                    <div class="field">
                        @Html.LabelFor(model => model.TeamLeaderId, "TeamLeaderId", htmlAttributes: new { @class = "" })

                        @Html.DropDownList("TeamLeaderId", null, "Sin Seleccionar", htmlAttributes: new { @class = "ui search selection dropdown" })
                        @Html.ValidationMessageFor(model => model.TeamLeaderId, "", new { @class = "ui error message" })
                    </div>


                    <div class="field">
                        <br />
                        <input type="submit" value="Guardar" class="ui  large red submit button" />
                        @Html.ActionLink("Regresar", "Index", null, new { @class = "ui button" })
                    </div>
                }
            </div>
        </div>
    </div>
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
