﻿@model IEnumerable<tmkhogares.Models.PlanTrabajoAsesor.PlanTrabajoAsesor>

@{
    ViewBag.Title = "Index";
}

@{
    ViewBag._Active = "Index";
    ViewBag._Panel = "Home";
}




<br />
<br />
<div class=" segment">
    <h1 class="ui header">
        <img src="~/Content/images/logo1.png">
        <div class="content">
            Módulo  de Lista  de PlanTrabajoAsesor
            <div class="sub header">
                <div class="ui breadcrumb">
                    <a class="section" href="@Url.Action("HomeAdmin","Home")">Inicio</a>
                    <div class="divider"> / </div>
                    <div class="active section" style="text-transform:lowercase">Lista  de PlanTrabajoAsesor</div>
                </div>
            </div>
        </div>
    </h1>
    <div class="ui hidden divider"></div>
  
</div>
<h4 class="ui horizontal divider header">
    <button class="ui  large red submit button">
        <i class="tasks icon"></i>
        LISTA DE PlanTrabajoAsesor
    </button>
</h4>



<div class="ui grid">
    <div class="one wide column"></div>
    <div class="fourteen wide column">
        <div class="ui segments">
            <div class="ui teal segment">
                <table id="tabla" class="ui celled small hover striped table">
                    <thead>
                        <tr>
                            <th>
                                Login
                            </th>
                            <th>
                                Cedula Asesor
                            </th>
                            <th>
                                Nombre Asesor
                            </th>
                            <th>
                                Meta Promedio Dia
                            </th>
                            <th>
                                Meta Promedio Semanal
                            </th>
                            <th>
                                Meta Promedio Mensual
                            </th>
                            <th>
                                Nombre Team Leader
                            </th>
                            <th>
                                Fecha
                            </th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LoginAsesor)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CedulaAsesor)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NombreAsesor)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MetaPromedioDia)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MetaSemanal)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MetaMensual)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NombreTeamLeader)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreatedAt)
                                </td>
                                <td>
                                    @Html.ActionLink("Agregar Compromiso", "Index", "SeguimientoAsesores", new { PlanTrabajoAsesorId = item.Id }, new { @class = "ui download black button" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
